<a ng-click="loadMore()" class="btn btn-lg btn-primary" ng-if="showMoreBtn()">More</a>
<div class="clearfix"></div>
<nav>
    <ul class="pagination" ng-show="isShow()">
        <li class="{{getClass('prev')}}"><a ng-click="getURI('prev')"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        <li class="{{getClass(page)}}" data-ng-repeat="page in getPages()"><a ng-click="getURI(page)">{{page}}</a></li>
        <li class="{{getClass('next')}}"><a ng-click="getURI('next')"><span class="next" aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    </ul>
</nav>
<div class="clearfix"></div>
