<div class="page-title"></div>

</head>
<body>
<!--Slider Block-->
<div class="pdp-slider">
    <div class="big">
        <img ng-src="{{getImage(imagesPath, productImages[0])}}" alt=""/>
    </div>
    <div class="small" ng-repeat="img in productImages">
        <img ng-src="{{getImage(imagesPath, img)}}" alt=""/>
    </div>
    <div id="carousel-example-generic" class="carousel slide pdp-tablet-slider" data-ride="carousel"
         ng-show="productImages.length">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" ng-repeat="img in productImages" data-slide-to="{{$index}}"
                ng-class="img == product.default_image ? 'active' : ''"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-repeat="img in productImages" ng-class="img == product.default_image  ? 'active' : ''">
                <img ng-src="{{getImage(imagesPath, img)}}" alt="" class="img-thumbnail"/>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" target="_self" role="button"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" target="_self" role="button"
           data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="small" ng-hide="productImages.length">
        <img ng-src="{{getImg('placeholder.png')}}" alt="" class="img-thumbnail" width="250px" height="250px"/>
    </div>

</div>
<!--Info block-->
<section class="pdp-info">
    <div>
        <h2>{{product.name}}</h2>
    </div>
    <div class="pdp-filters">


        <div class="container">
            <div class="input-group spinner pdp-spinner">
                <label>Quantity</label>

                <div class="spinner-block">
                    <!--                    <input placeholder="Qtl" type="text" class="form-control" value="{{item.qty}}"
                                               name="qty" id="qty" ng-model="qty">
                                        <div class="input-group-btn-vertical">
                                            <button class="btn btn-up"><i></i></button>
                                            <button class="btn btn-down"><i></i></button>
                                        </div>-->
                    <input placeholder="Qtl" type="text" class="form-control" value="{{qty}}"
                           ng-model="qty" ng-change="update(idx, qty)">

                    <div class="input-group-btn-vertical">
                        <button class="btn" ng-click="changeQty(qty,'up')"><i></i></button>
                        <button class="btn" ng-click="changeQty(qty,'down')"><i></i></button>
                    </div>
                </div>
            </div>
        </div>


        <!--    <div class="container">
                <div class="input-group spinner">
                    <label>Size</label>
                    <input placeholder="Qtl" type="text" class="form-control" value="{{item.qty}}">
                    <div class="input-group-btn-vertical">
                        <button class="btn"><i></i></button>
                        <button class="btn"><i></i></button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="input-group spinner">
                    <label>Size</label>
                    <input placeholder="Qtl" type="text" class="form-control" value="{{item.qty}}">
                    <div class="input-group-btn-vertical">
                        <button class="btn"><i></i></button>
                        <button class="btn"><i></i></button>
                    </div>
                </div>
            </div>-->
        <div class="clear"></div>
    </div>
    <div class="pdp-btn">
        <a href="" target="_self" ng-click="addToCart()">
            <span class="remove glyphicon glyphicon-plus"></span>
            cart
        </a>
        <!--   <a href="#/stockist" target="_self">
               <span class="glyphicon glyphicon-screenshot"></span>
               stockist
           </a>-->
    </div>
    <div class="clear"></div>
    <!--
        <div>
            <label for="sku">Sku:</label>
            <span id="sku"> {{product.sku}}</span>
        </div>
        <div>
            <label for="price">Price:</label>
            <span id="price"> <b>$</b>{{product.price}}</span>
        </div>
        <div>
            <label for="size">Size:</label>
            <span id="size"> {{product.size}}</span>
        </div>
        <div>
            <label for="weight">Weight:</label>
            <span id="weight"> {{product.weight}}</span>
        </div>

        <div>
            <label for="qty">Qty:</label>
            <select name="qty" id="qty" ng-model="qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>
        </div>
        <div>
            <br />
            <span id="short_description">{{product.short_description}}</span>
        </div>
        <h3>Total: ${{getTotal() | number : 2}}</h3>
        <button type="button" class="btn btn-warning glyphicon glyphicon-plus" ng-click="addToCart()"> Cart</button>
    </div>-->

    <div id="accordion">
        <div class="accordion active">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetails"
               target="_self">
                Description
                <span></span>
            </a>

            <div id="collapseDetails" class="panel-collapse collapse in">
                <div class="acc-text">
                    {{product.description}}
                </div>
            </div>
        </div>
        <div class="accordion">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseReviews"
               target="_self">
                returns & exchanges
                <span></span>
            </a>
        </div>
        <div id="collapseReviews" class="panel-collapse collapse">
            <div class="acc-text">
                <p>If you bought something in a shop and then just change your mind about it, you do not have any legal
                    right to return the goods. However, many shops have a returns policy which lets you to take your
                    items back to the shop for any reason and get a refund.
                </p>

                <p> But you may have rights if you're not happy with the quality of the goods or the item is broken or
                    faulty in some way.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="c-img pdp-img">
    <div ng-repeat="_item in products" ng-show="products.length">
        <a class="" href="{{productService.getUrl(_item.Id)}}">
            <img ng-src="{{getImage('',_item.Image)}}" alt="_item.Name"/>
        </a>
    </div>
    <div class="clear"></div>
</section>
<section class="rating">
    <div class="left-block">
        <h5>customers reviews</h5>

        <form>
            <input id="input-21d" value="{{ratingInfo.averageValue | number:2}}" type="number" class="rating disabled" min=0 max=5 step=0.1
                   data-size="xxs">
        </form>
        <p>{{ratingInfo.averageValue | number}} out of 5</p>

        <div class="clear"></div>
        <div class="progressbar">
            <table>
                <tr>
                    <td>5 star</td>
                    <td>
                        <progress value="{{ratingInfo.fifeStarPersent}}" max="100">{{ratingInfo.fifeStarPersent}}</progress>
                    </td>
                    <td>{{ratingInfo.5star | number}}</td>
                </tr>
                <tr>
                    <td>4 star</td>
                    <td>
                        <progress value="{{ratingInfo.fourStarPersent}}" max="100">{{ratingInfo.fourStarPersent}}%</progress>
                    </td>
                    <td>{{ratingInfo.4star | number}}</td>
                </tr>
                <tr>
                    <td>3 star</td>
                    <td>
                        <progress value="{{ratingInfo.threeStarPersent}}" max="100">{{ratingInfo.threeStarPersent}}%</progress>
                    </td>
                    <td>{{ratingInfo.3star | number}}</td>
                </tr>
                <tr>
                    <td>2 star</td>
                    <td>
                        <progress value="{{ratingInfo.twoStarPersent}}" max="100">{{ratingInfo.twoStarPersent}}%</progress>
                    </td>
                    <td>{{ratingInfo.2star | number}}</td>
                </tr>
                <tr>
                    <td>1 star</td>
                    <td>
                        <progress value="{{ratingInfo.oneStarPersent}}" max="100">{{ratingInfo.oneStarPersent}}%</progress>
                    </td>
                    <td>{{ratingInfo.1star | number}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right-block">
        <h5>your rating</h5>

        <form name="reviewForm">
            <input id="input-21d" value="1" ng-model="review.stars" type="number" class="rating" min=0 max=5 step=1
                   data-size="xxs">

            <div class="col-md-12">
                <gui-message-manager item="message"></gui-message-manager>
                <div ng-class="{ 'has-error' : (submitted && reviewForm.review.$error.required) || (reviewForm.review.$invalid && !reviewForm.review.$pristine) }">
                    <input class="form-control" type="text" name="review" ng-model="review.comment" required>

                    <p ng-show="(submitted && reviewForm.review.$error.required) || (reviewForm.review.$invalid && !reviewForm.review.$pristine)"
                       class="help-block">This field is required.</p>

                </div>
            </div>
        </form>
        <div>
            <a href ng-click="saveReview()">submit</a>
        </div>

    </div>
    <div class="clear"></div>
    <div class="review-sort">
        <ul class="navbar-nav navbar-right">
            <li class="dropdown">
                <a href role="button" data-toggle="dropdown">

                    <p>Sort by: <span>{{sorting}}</span></p>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" href="" target="_self" ng-click="sortByRating('desc')">High to Low</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" href="" target="_self" ng-click="sortByRating('asc')">Low to High</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="reviews" ng-repeat="_item in reviewsList">
        <div class="left-block">
            <form>
                <input id="input-21d" value="{{_item.rating}}" type="number" class="rating disabled" min=0 max=5
                       step=0.1 data-size="xxs">
            </form>
            <h6>{{_item.username}}</h6>
        </div>
        <div class="right-block">
            <h5>
                {{getReviewTitle(_item)}}
            </h5>
            <span>{{getDate(_item.created_at)}}</span>

            <p>
                {{_item.review}}
            </p>
        </div>
        <div class="clear"></div>
    </div>
</section>

<script>
    (function ($) {

        $(document).ready(function () {
            setTimeout(function () {
                $("input.rating").each(function () {

                    if ($(this).hasClass("disabled")) {
                        $(this).rating({
                            readonly: true,
                            disabled: true,
                            showCaption: false,
                            showClear: false
                        });
                    } else {
                        $(this).rating({
                            showCaption: false,
                            showClear: false
                        });
                    }

                })

            }, 500)
        })

    })(jQuery)
</script>