<div class="account" ng-init="init()">

        <!-- MENU -->
        <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>

        <!-- PROFILE DETAILS AND EDIT FORM -->
        <ng-include src="getTemplate('visitor/account/profile.html')"></ng-include>

        <!-- AVATAR -->
        <!--<div class="block-avatar">
                <a href="#/account"><img ng-src="{{visitorService.getAvatar()}}" alt="{{visitorService.getFullName()}}"></a>
            </div>-->

        <!-- HELLO -->
        <!--    <div class="block-hello">
                Hello, {{visitorService.getFullName()}}-->
        <!-- LogOut -->

        <!-- BILLING ADDRESS  -->
        <!-- <ng-include src="getTemplate('visitor/account/billing-address.html')"></ng-include>-->

        <!-- SHIPPING ADDRESS  -->
        <!-- <ng-include src="getTemplate('visitor/account/shipping-address.html')"></ng-include>-->

</div>
<!-- Change password popUp -->
<!-- <ng-include src="getTemplate('visitor/account/change-password.html')"></ng-include> -->
