<div ng-controller="visitorLoginControllerUrb">
    <div class="modal fade" id="form-registration" tabindex="-1" role="dialog">
        <div class="modal-dialog login registration">
            <div class="login-close fa">×</div>
            <h6>REGISTRATION</h6>
            <gui-message-manager item="message"></gui-message-manager>
            <form name="register" novalidate>

                <div class="form-group col-md-6"
                     ng-class="{ 'has-error' : (register.submitted && register.email.$error.required) || (register.email.$invalid && !register.email.$pristine) }">
                    <label for="email">Email Address *</label>
                    <input id="email" type="text" class="form-control" name="email"  ng-model="login.email" required />

                    <p ng-show="(register.submitted && register.email.$error.required) || (register.email.$invalid && !register.email.$pristine)"
                       class="help-block">This field is required.</p>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{ 'has-error' : (register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine) }">
                    <label for="FirstName">First Name *</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="First name" ng-model="login.fname" name="fname" required  />

                    <p ng-show="(register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine)"
                       class="help-block">This field is required.</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="lname">Last Name</label>
                    <input class="form-control" type="text" id="lname" placeholder="lname" ng-model="login.lname"
                           autocomplete="off"/>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{ 'has-error' : (register.submitted && register.password.$error.required) || (register.password.$invalid && !register.password.$pristine) }">
                    <label for="password">Password *</label>
                    <input id="password" type="password" class="form-control" name="password" ng-model="login.password" required autocomplete="off" />

                    <p ng-show="(register.submitted && register.password.$error.required) || (register.password.$invalid && !register.password.$pristine)"
                       class="help-block">This field is required.</p>
                </div>
                <div class="form-group col-md-6"
                     ng-class="{ 'has-error' : (register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine) }">
                    <label for="confirm_password">Confirm Password *</label>
                    <input id="confirm_password" type="password" class="form-control" name="confirm_password" ng-model="login.confirm_password" required autocomplete="off" />

                    <p ng-show="(register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine)"
                       class="help-block">This field is required.</p>
                </div>
            </form>
            <div class="clear"></div>

            <button class="btn black" ng-click="save()">Register</button>
            <br>
            <span class="or">or</span>
            <br>
            <button class="btn" href="" target="_self" id="modal-login">Login</button>
            <div class="clear"></div>
            <ng-include src="getTemplate('visitor/social/facebook.html')"></ng-include>
            <ng-include src="getTemplate('visitor/social/google.html')"></ng-include>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    $("#modal-registration").click(function () {
        $("#form-registration").modal("show");
    });
    $("#form-registration").find("#modal-login").click(function () {
        $(".modal").modal("hide");
        $("#form-login").modal("show");
    });
    $(".login-close").click(function () {
        $(".modal").modal("hide");
    });
</script>