.tile {
    margin: 0 10px;
    min-height: 215px;
}

.thumbnail {
    min-height: 215px;
}

.my-col-xs-1 {
    display: inline-block;
    width: 170px;
    margin: 0 10px;
}

.list-bar {
    float: right;
    width: 100%;
    text-align: right;
    top: -33px;
    position: relative;
}

.list-bar span:hover {
    cursor: pointer;
}

.page-title {
    float: left;
    width: 100%;
    text-transform: uppercase;
}

.row {
    margin: 0 20px;
    padding: 0 20px;
    padding: 0 20px;
}

#customBtn {
    display: inline-block;
    background: #dd4b39;
    color: white;
    width: 165px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}

span.label {
    font-weight: bold;
}

span.icon {
    background: url('https://google-developers.appspot.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 34px;
    border-right: #bb3f30 1px solid;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', arial, sans-serif;
}

.btn-soc {
    float: left;
    margin-right: 15px;

}

.btn-soc-right {
    float: right;
    margin-right: 0px;
}

.social-box {
    height: 28px;
}

.panel-body label {
    width: 100px;
}

.panel-group{
    margin: 10px 15px 20px 15px;
}

.btn:hover {
    color: white !important;
}

.block-hello {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
}

.btn-save {
    float: right;
}

.account-left {
    border-right: 2px solid #b3b3b3;
}

.account-left {
    width: 20%;
    float: left;
    margin: 10px 20px;
    min-height: 580px;
}

.account-right {
    width: 72%;
    float: left;
    margin: 10px 20px;
    padding: 10px;
}

.block-avatar {
    border-bottom: 2px solid #b3b3b3;
    text-align: center;
    padding: 10px 0px;
    margin: 0px 0px 10px 0px;
    height: 150px;
}

.block-avatar img {

    max-width: 98%;
    height: 120px;
}

.block-details {
    border: 2px solid #b3b3b3;
    border-radius: 7px;
    padding: 10px;
    min-height: 100px;
    margin: 0 0 15px 0;

}

.block-details select {
    width: 100%;

}
.block-details label{
    width: 128px;
}
.static{
    margin: 0 0 30px 0;
    height: 60px;
}
.block-details .row{
    margin-bottom: 10px;
}
.input-group-btn{
    float: left !important;
    width: 72px !important;;
}
.CartHeader li {
    list-style-type: none;
}
.modal-link{
    float: right;
}
.paginator-center{
    float: left;
    margin: 0 15px;
    width: 100%;
    text-align: center;
}
.prod-name {
    padding: 0px !important;
    width: 100% !important;
}

.prod-name h4{
    min-height: 85px;
}
.align-center{
    text-align: center;
}
.btn-account-logout {
    float: right;
}
.label-middle{
    width: 135px !important;
}
.sf-menu-container ul{
    display: none;
}
.sf-menu-container ul.active{
    display: block !important;
}