/* Mixins */
#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  height: 100%;
  z-index: 12;
  top: 0px;
  padding-top: 109px;
  width: 70.75%;
  background-color: #efefef;
  color: #FFF; }
  #pageslide ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #pageslide ul li {
      float: none;
      padding: 10px 0 13px 20px;
      height: 49px;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #d5d5d5; }
  #pageslide .left-header-menu-inner {
    position: relative;
    padding-bottom: 56px; }
    #pageslide .left-header-menu-inner .glyphicon {
      padding: 0px;
      font-size: 26px;
      line-height: 25px;
      border-radius: 0px;
      color: #484b50;
      float: left; }
    #pageslide .left-header-menu-inner .nav-left-link-text {
      text-transform: uppercase;
      color: #484b50;
      display: inline-block;
      height: 28px;
      line-height: 32px;
      font-size: 18px;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 1px solid #d1d1d1;
      float: left; }

.open {
  position: relative;
  padding-left: 1.25em;
  font-size: 36px;
  color: #cabf45;
  top: -12px;
  z-index: 1000; }
  .open:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 0.8em;
    height: 0.15em;
    background: #cabf45;
    box-shadow: 0 0.25em 0 0 #cabf45, 0 0.5em 0 0 #cabf45; }

.left-header-menu {
  float: left;
  padding-top: 38px; }
  .left-header-menu #nav {
    display: none; }

/* Mobile Header Styles */
@media only screen and (min-width: 320px) and (max-width: 720px) {
  .category-open {
    overflow: hidden !important; }
  .category-open-left {
    overflow: hidden !important; }
  .GlobalWrapper {
    width: 100%; }
    .GlobalWrapper .GlobalHeader {
      width: 100%;
      height: 104px;
      padding: 0 6.25%;
      background: #efefef;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      z-index: 13;
      border-bottom: 1px solid #cccccc;
      box-shadow: 0px 2px 3px #cccccc; }
      .GlobalWrapper .GlobalHeader .header-logo {
        margin: 0 auto;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 13px;
        width: 100%;
        position: relative;
        z-index: 8;
        background: #efefef; }
        .GlobalWrapper .GlobalHeader .header-logo .header-logo-content {
          left: -1.25em;
          position: relative; }
      .GlobalWrapper .GlobalHeader .pageHeaderInner {
        width: 100%; }
      .GlobalWrapper .GlobalHeader #pageHeader {
        width: 100%; }
      .GlobalWrapper .GlobalHeader .CartHeader {
        float: right;
        position: relative;
        z-index: 10;
        top: 39px; }
  .mobnav-subarrow {
    display: none; }
  #mobnav-btn {
    display: inline-block; }
  .mobnav-subarrow {
    display: block;
    background-color: #b3aeae;
    opacity: 1;
    height: 20px;
    width: 30px;
    background-position: top left !important;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s ease-in-out; }
  .sf-menu-container {
    height: 100%;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    overflow: auto; }
    .sf-menu-container.xactive-open {
      display: block; }
  .sf-menu {
    width: 100% !important;
    display: none;
    padding: 0;
    position: relative;
    z-index: 3;
    top: 4px;
    padding: 0 6.25%; }
    .sf-menu.xactive {
      display: block !important;
      overflow: auto; }
    .sf-menu li {
      background: #efefef;
      float: none !important;
      display: block !important;
      width: 100% !important;
      position: relative;
      padding: 15px 0;
      border-bottom: 1px solid #d5d5d5;
      text-align: center; }
      .sf-menu li a {
        font-size: 24px;
        text-transform: uppercase;
        color: #3e4146; }
      .sf-menu li.superfish-close-inner {
        border: 0;
        padding-top: 80px; }
        .sf-menu li.superfish-close-inner a {
          background: url("../../images/header/category-close.png") top left no-repeat;
          display: inline-block;
          width: 37px;
          height: 37px; }
      .sf-menu li.xpopdrop .mobnav-subarrow {
        background-color: #d5d5d5; }
      .sf-menu li.xpopdrop ul {
        display: block !important;
        padding: 0;
        margin: 0; }
        .sf-menu li.xpopdrop ul li {
          border-bottom: 0;
          padding: 8px 0 8px 0; }
          .sf-menu li.xpopdrop ul li:first-child {
            padding-top: 15px; }
          .sf-menu li.xpopdrop ul li a {
            font-size: 18px;
            text-transform: none; }
    .sf-menu ul {
      position: static !important;
      display: none !important; } }

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .HomeGlobalContent {
    padding-top: 104px; }
    .HomeGlobalContent .slidesjs-previous {
      position: absolute;
      top: 35%;
      left: 10px;
      z-index: 11; }
    .HomeGlobalContent .slidesjs-next {
      position: absolute;
      top: 35%;
      right: 10px;
      z-index: 11; } }
