<div class="modal fade bs-example-modal-lg" id="quick-view" ng-controller="visitorLoginController" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <!-- image -->
                <div class="col-sm-4 thumbnail">
                    <img alt="{{popupProduct.name}}" ng-src="{{getImage(popupProduct)}}" err-src="placeholder.png">
                </div>
                
                <!-- form of quick shop -->
                <form class="col-sm-8" name="visitorForm" novalidate>

                    <!-- product name -->
                    <h3><strong>{{popupProduct.name}}</strong></h3>
                    
                    <!-- product price -->
                    <h4><strong>{{popupProduct.price | currency}}</strong></h4>

                    <br>

                    <!-- short description -->
                    <p ng-bind-html="popupProduct.short_description"></p>
                    
                    <br>

                    <!-- Custom options -->
                    <div class="row">
                        <gui-custom-options item="popupProduct" object="this"></gui-custom-options>
                    </div>
                    
                    <div class="clearfix"></div>


                    <!-- view details -->
                    <a href="{{productService.getUrl(popupProduct._id)}}" id="details_pdp" class="btn btn-primary btn-lg">
                        Details
                    </a>
                    
                    <!-- add to cart button -->
                    <button class="btn btn-danger btn-lg" ng-click="addToCart(popupProduct._id)">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Add to cart
                    </button>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
