<!-- MENU -->
<ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>

<div class="account addresses animated fadeInUp" ng-init="init()">
    <div class="content have-aside">
        <h3>addresses</h3>
        <gui-message-manager item="message"></gui-message-manager>
        <div class="address" ng-repeat="address in addresses">
            <p>{{getAddressName(address)}}</p>
            <a href class="btn black" ng-click="popUpOpen(address.Id)">edit</a>
            <a href class="btn" ng-click="remove(address.Id)">delete</a>
        </div>
        <button class="btn black create" ng-click="popUpOpen(address.Id)">Create</button>
        <div class="new-address">
            <form name="addressForm" novalidate>

                <!--Company-->
                <div class="input-group">
                    <label for="billingInputCompany">Company Name</label>
                    <input type="text" class="form-control" id="billingInputCompany" placeholder="Company name"
                           name="company"
                           ng-model="address.company" >
                </div>

                <!--Zip code-->
                <div class="input-group col-md-3"
                     ng-class="{ 'has-error' : (submitted && addressForm.zip_code.$error.required) || (addressForm.zip_code.$invalid && !addressForm.zip_code.$pristine) }">
                    <label for="addressFormZip">Zip / Postal Code*</label>
                    <input type="text" class="form-control" id="addressFormZip" placeholder="Zip / Postal Code"
                           name="zip_code"
                           ng-model="address.zip_code" required>

                    <p ng-show="(submitted && addressForm.zip_code.$error.required) || (addressForm.zip_code.$invalid && !addressForm.zip_code.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!--City-->
                <div class="input-group col-md-3"
                     ng-class="{ 'has-error' : (submitted && addressForm.city.$error.required) || (addressForm.city.$invalid && !addressForm.city.$pristine) }">
                    <label for="addressFormCity">City*</label>
                    <input type="text" class="form-control" id="addressFormCity" placeholder="City" name="city"
                           ng-model="address.city"  required>

                    <p ng-show="(submitted && addressForm.city.$error.required) || (addressForm.city.$invalid && !addressForm.city.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!--First name-->
                <div class="input-group ">
                    <label for="billingInputFirstName">First Name</label>
                    <input type="text" class="form-control" id="billingInputFirstName" placeholder="First name"
                           ng-model="address.first_name" >
                </div>

                <!--Country-->
                <div class="input-group "
                     ng-class="{ 'has-error' : (submitted && addressForm.country.$error.required) || (addressForm.country.$invalid && !addressForm.country.$pristine) }">
                    <label for="addressFormCity">Country*</label>

                    <div class="select">
                        <select name="country" ng-model="address.country" required
                                ng-options="c.Code as c.Name for c in countries" >
                        </select>
                    </div>

                    <p ng-show="(submitted && addressForm.country.$error.required) || (addressForm.country.$invalid && !addressForm.country.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!--Last name-->
                <div class="input-group ">
                    <label for="billingInputLastName">Last Name</label>
                    <input type="text" class="form-control" id="billingInputLastName" placeholder="Last name"
                           ng-model="address.last_name">
                </div>

                <!--State-->
                <div class="input-group "
                     ng-class="{ 'has-error' : (submitted && addressForm.state.$error.required) || (addressForm.state.$invalid && !addressForm.state.$pristine) }">
                    <label for="addressFormCity">State / Province / Region*</label>

                    <div class="select">
                        <select name="state" ng-model="address.state" required
                                ng-options="c.Code as c.Name for c in states">
                        </select>
                    </div>

                    <p ng-show="(submitted && addressForm.state.$error.required) || (addressForm.state.$invalid && !addressForm.state.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!--Address 1-->
                <div class="input-group "
                     ng-class="{ 'has-error' : (submitted && addressForm.address_line1.$error.required) || (addressForm.address1.$invalid && !addressForm.address_line1.$pristine) }">
                    <label for="billingInputAddress">Address 1*</label>
                    <input type="text" class="form-control" id="billingInputAddress" placeholder="Address 1"
                           name="address_line1"
                           ng-model="address.address_line1" required>

                    <p ng-show="(submitted && addressForm.address_line1.$error.required) || (addressForm.address1.$invalid && !addressForm.address_line1.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!--Phone-->
                <div class="input-group ">
                    <label for="addressFormPhone">Phone</label>
                    <input type="text" class="form-control" id="addressFormPhone" placeholder="Phone"
                           ng-model="address.phone" >
                </div>
                <!--Address 2-->
                <div class="input-group ">
                    <label for="billingInputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="billingInputAddress2" placeholder="Address 2"
                           ng-model="address.address_line2" >
                </div>

                <div class="check-group">
                    <div class="check-wrap">
                        <input type="checkbox" name="billingAddressId" id="billingUseAsBilling"
                           ng-model="billingAddressId"
                           ng-change="changeBillingAsDefault(address._id)"
                           ng-checked="billingAddressId === address._id && billingAddressId">
                        <span></span>
                    </div>
                    <label for="billingUseAsBilling">use as default billing address</label>
                </div>
                
                <div class="check-group">
                    <div class="check-wrap">
                        <input type="checkbox" name="shippingAddressId" id="shippingUseAsBilling"
                               ng-model="shippingAddressId"
                                ng-change="changeShippingAsDefault(address._id)"
                               ng-checked="shippingAddressId === address._id && shippingAddressId">
                        <span></span>
                        </div>
                    <label for="shippingUseAsBilling">use as default shipping address</label>    
                </div>
                    
                </div>
                <div class="button-group ">
                    <a href class="btn black" ng-click="save()" target="_self">save</a>
                    <a href  class="btn">close</a>
                </div>





            </form>
        </div>
    </div>
</div>