<aside class="left-side animated fadeInLeft">
    <nav class="categories">
        <ul>
            <li class="account" ng-class="{'active': isActive('/account')}">
                <a href="#/account">account settings</a>
            </li>

            <li class="addresses" ng-class="{'active': isActive('/account/address')}">
                <a href="#/account/address">Addresses</a>
            </li>
            <li class="orders" ng-class="{'active': isActive('/account/orders')}">
                <a href="#/account/orders">Orders</a>
            </li>
        </ul>
    </nav>  
</aside>