<div class="page-title"></div>

<div ng-init="init()">
    <div class="account-left">
        <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>
    </div>

    <div class="account-right order-detail">
        <!--<h3>order details</h3>-->

        <!--<div class="alert alert-warning" role="alert" >-->
            <!--<a href="" class="alert-link">Sorry, we have not mockUps  for this page</a>-->
        <!--</div>-->
        <p>Order # is: <span class="blue">{{order.increment_id}}</span></p>
        <p>Date: <strong>{{getDateCreated(order.created_at)}}</strong></p>
        <hr>
        <div class="od-blocks">
            <div class="od-block">
                <h6>Billing & Shipping</h6>
            </div>
            <div class="od-block">
                <h6>Bill to:</h6>
                <p>{{order.billing_address.company}}
                <p>{{order.billing_address.last_name}} {{order.billing_address.first_name}}</p>
                <p>{{order.billing_address.address_line1}} {{order.billing_address.address_line2}}, {{order.billing_address.city}},</p>
                <p>{{order.billing_address.zip_code}}, {{order.billing_address.state}}, {{order.billing_address.country}}</p>
                <p>T: {{order.billing_address.phone}}</p>
            </div>

            <div class="od-block">
                <h6>Ship to:</h6>
                <p>{{order.shipping_address.company}}
                <p>{{order.shipping_address.last_name}} {{order.shipping_address.first_name}}</p>
                <p>{{order.shipping_address.address_line1}} {{order.shipping_address.address_line2}}, {{order.shipping_address.city}},</p>
                <p>{{order.shipping_address.zip_code}}, {{order.shipping_address.state}}, {{order.shipping_address.country}}</p>
                <p>T: {{order.shipping_address.phone}}</p>
            </div>
            <div class="clear"></div>
        </div>
        <hr>
        <table  class="od-product">
            <tr ng-repeat="product in order.items">
                <td>{{product.Name}}</td>
                <td>{{product.Qty}}</td>
                <td>{{product.Price | currency}}</td>
            </tr>
        </table>
        <table class="od-total">
            <tr>
                <td>Subtotal:</td>
                <td>{{order.subtotal | currency}}</td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td>{{order.tax_amount | currency}}</td>
            </tr>
            <tr>
                <td>Order Total:</td>
                <td>{{order.grand_total | currency}}</td>
            </tr>
        </table>
        <a class="btns" href="#/account/orders">Back to Orders</a>
    </div>
</div>
