<div class="profile content have-aside animated fadeInUp" ng-controller="visitorAccountController">
    <h3>account settings</h3>
    <gui-message-manager item="message"></gui-message-manager>
    

    <form name="visitorForm" novalidate>

        <!--First Name-->
        <div class="input-group" ng-class="{ 'has-error' : visitorForm.first_name.$invalid && !visitorForm.first_name.$pristine }">
            <label for="visitorFormZip">First Name *</label>
            <input type="text" class="form-control" id="visitorFormZip" placeholder="First Name"
                   name="first_name"
                   ng-model="visitor.fname" required>
            <p ng-show="visitorForm.first_name.$invalid && !visitorForm.first_name.$pristine"
               class="help-block">This field is required.</p>
        </div>

        <br>

        <!--Last Name-->
        <div class="input-group">
            <label for="billingInputCompany">Last Name</label>
            <input type="text" class="form-control" id="billingInputCompany" placeholder="Last Name"
                   name="company"
                   ng-model="visitor.lname">
        </div>
        
        <br>

        <!--Email-->
        <div class="input-group"
             ng-class="{ 'has-error' : visitorForm.email.$invalid && !visitorForm.email.$pristine }">
            <label for="visitorFormCity">Email*</label>
            <input type="text" class="form-control" id="visitorFormCity" placeholder="Email" name="email"
                   ng-model="visitor.email" required>

            <p ng-show="visitorForm.email.$invalid && !visitorForm.email.$pristine"
               class="help-block">This field is required.</p>
        </div>

        <br>

        <div class="button-group">
            <a href class="btn black" ng-click="save()">save</a>
        </div>
    </form>
        
        <!--Password-->
        <h4>Account password</h4>
        
        <br>
        
    <form name="passwordForm" novalidate>

        <!-- New password -->
        <div class="input-group"
             ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
            <label for="passwordFormPassword">Password</label>
            <input type="password" class="form-control" id="passwordFormPassword" placeholder="Password"
                   name="password"
                   ng-model="changePswCredentials.password" required>

            <p ng-show="passwordForm.password.$invalid && !passwordForm.password.$pristine"
               class="help-block">This field is required.</p>
        </div>

        <br>

        <!-- Confirm password -->
        <div class="input-group"
             ng-class="{ 'has-error' : passwordForm.confirm.$invalid && !passwordForm.confirm.$pristine }">
            <label for="passwordFormConfirm">Confirm password *</label>
            <input type="password" class="form-control" id="passwordFormConfirm" placeholder="Confirm password"
                   name="confirm"
                   ng-model="changePswCredentials.confirm">

            <p ng-show="passwordForm.confirm.$invalid && !passwordForm.confirm.$pristine"
               class="help-block">This field is required.</p>
        </div>

        <br>

        <div class="button-group">
            <a href class="btn black" ng-click="changePassword()">save</a>
        </div>
    </form>
</div>
<script>
    
</script>