// Variables
$panel-checkout-step-border: $panel-default-border;
$panel-checkout-step-text: $panel-default-text;
$panel-checkout-step-heading-bg: $panel-default-heading-bg;

// Styles
.panel--checkout-step {
    @include panel-variant($panel-checkout-step-border, $panel-checkout-step-text, $panel-checkout-step-heading-bg, $panel-checkout-step-border);

    // We want these step panels to sit right on top of each other
    margin-bottom: -1px;

    // We don't have a "collapsed" class to key off of, so to avoid a double border
    // when collapsed we'll move the border to the body
    > .panel-heading {
        border-bottom: 0;
    }
    .panel-body {
        border-top: 1px solid $panel-checkout-step-border;
    }
    .panel-title .dropdown {
        display: inline-block;
    }
}

.table-checkout-totals-side {
    width: 100%;
    max-width: 100%;
    th,td {
        padding: 2px 0;
    }
    th {
        font-weight: normal;
        text-align: left;
    }
    td {
        text-align: right;
    }

    .grand-total-row th,
    .grand-total-row td {
        font-weight: bold;
    }
}
