.image-responsive{
    position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;

    .image-responsive-item,
    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }

}

// Modifier class for 16:9 aspect ratio
.image-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.image-responsive-4by3 {
  padding-bottom: 75%;
}

// Modifier class for 1:1 aspect ratio
.image-responsive-1by1 {
  padding-bottom: 100%;
}