<div class="col-xs-12 col-sm-3">
    <div class="list-group">
        <span class="list-group-item visible-xs">
            <b>My Account Navigation</b>
        </span>

        <a href="/account" class="list-group-item" ng-class="{'active': isActive('/account')}">
            Account Settings
        </a>

        <a href="/account/address" class="list-group-item" ng-class="{'active': isActive('/account/address')}">
            Addresses
        </a>

        <a href="/account/orders" class="list-group-item" ng-class="{'active': isActive('/account/orders')}">
            Orders
        </a>

        <a href="/account/gift-cards" class="list-group-item" ng-class="{'active': isActive('/account/gift-cards')}">
            Gift Cards
        </a>

        <a ng-href="/logout" class="list-group-item">
            Log Out
        </a>
    </div>
</div>
