<!-- Orders details page -->
<div ng-init="init()" class="">

    <h2 class="text-center">Order №{{order.increment_id}}</h2>

    <h4>
        Date: <strong>{{order.created_at | date:"MM/dd/yyyy h:mma"}}</strong>
    </h4>

    <hr>

    <h4>Billing &amp; Shipping</h4>

    <div class="row">
    <!-- bill to table -->
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Bill to:
                </h3>
            </div>

            <!-- bill to info -->
            <table class="table table-bordered ">
                <tr>
                    <td>Company:</td>
                    <td>{{order.billing_address.company}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{order.billing_address.last_name}} {{order.billing_address.first_name}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        {{order.billing_address.address_line1}} <br>
                        {{order.billing_address.address_line2}}
                        <br ng-if="order.billing_address.address_line2">

                        {{order.billing_address.city}} {{order.billing_address.state}}
                        {{order.billing_address.zip_code}} {{order.billing_address.country}}
                    </td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{order.billing_address.phone}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- ship to table -->
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Ship to:
                </h3>
            </div>

            <!-- ship to info -->
            <table class="table table-bordered ">
                <tr>
                    <td>Company:</td>
                    <td>{{order.shipping_address.company}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{order.shipping_address.last_name}} {{order.shipping_address.first_name}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        {{order.shipping_address.address_line1}} <br>
                        {{order.shipping_address.address_line2}}
                        <br ng-if="order.shipping_address.address_line2">

                        {{order.shipping_address.city}} {{order.shipping_address.state}}
                        {{order.shipping_address.zip_code}} {{order.shipping_address.country}}
                    </td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{order.shipping_address.phone}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <div class="row">
    <!-- products in order -->
    <div class="col-sm-6">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Products</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in order.items">

                    <!-- product name -->
                    <td>
                        <strong>{{product.Name}}</strong>
                        <div ng-repeat="option in product.Options">
                            {{ option.label }}: {{ option.value }}
                        </div>
                    </td>

                    <!-- product quantity -->
                    <td>{{product.Qty}}</td>

                    <!-- product price -->
                    <td>{{product.Price | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- total table -->
    <div class="col-sm-6">
        <table class="table table-bordered table-condensed">
            <tr>
                <td class="text-left">Subtotal:</td>
                <td>{{order.subtotal | currency}}</td>
            </tr>
            <tr>
                <td class="text-left">Shipping:</td>
                <td>{{order.shipping_amount | currency}}</td>
            </tr>
            <tr>
                <td class="text-left">Tax:</td>
                <td>{{order.tax_amount | currency}}</td>
            </tr>
            <tr ng-if="order.discount">
                <td class="text-left">Discounts:</td>
                <td>({{order.discount | currency}})</td>
            </tr>
            <tr>
                <td class="text-left">Order Total:</td>
                <td>{{order.grand_total | currency}}</td>
            </tr>
        </table>
    </div>
    </div>

    <a class="btn btn-primary" href="/account/orders">Back to Orders</a>
    <br><br>
</div>
