<div class="clear"></div>
<footer>
    <div class="footer">
        <div class="footer-soc">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">home</a><span></span>
                </li>
                <li>
                    <a href="#">about</a><span></span>
                </li>
                <li>
                    <a href="#">faq</a><span></span>
                </li>
                <li>
                    <a href="#">contacts</a>
                </li>
            </ul>
        </nav>
        <a href="#">Powered by Ottemo</a>
    </div>
    <div class="footer-response un-visible">
        <div class="footer-soc">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="footer-btns">
            <div class="footer-btn"></div>
            <div class="footer-btn"></div>
            <div class="footer-btn"></div>
        </div>
    </div>
</footer>