<div>
    <div class="account-left">

        <!-- AVATAR -->
        <div class="block-avatar">
            <img ng-src="{{visitorService.getAvatar()}}" alt="{{visitorService.getFullName()}}">
        </div>
        <!-- MENU -->
        <ng-include src="getTemplate('visitor/account-page/menu.html')" ></ng-include>

    </div>

    <div class="account-right">
        <!-- HELLO -->
        <div class="block-hello">
            Hello, {{visitorService.getFullName()}}
        </div>

        <!-- PROFILE DETAILS AND EDIT FORM -->
        <ng-include src="getTemplate('visitor/account-page/profile.html')" ></ng-include>

        <!-- BILLING ADDRESS  -->
        <ng-include src="getTemplate('visitor/account-page/billing-address.html')" ></ng-include>

        <!-- SHIPPING ADDRESS  -->
        <ng-include src="getTemplate('visitor/account-page/shipping-address.html')" ></ng-include>

    </div>
</div>