<button class="btn btn-primary" ng-click="show('form-login')" style="padding: 0px 10px;">LOGIN</button>
<div class="modal fade" id="form-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                LOGIN
                <button class="btn btn-primary pull-right" ng-click="hide('form-login')">Close</button>
            </div>

            <div class="modal-body">
                <div class="panel panel-default">


                </div>
            </div>

        </div>

    </div>
</div>