<h2 class="text-center">Checkout</h2>
<br>

<div class="row">
    <!-- checkout page -->
    <div ng-init="init()" class="col-xs-12 col-md-8">

        <!-- Shipping Block -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Ship to
                    <div class="dropdown pull-right" ng-if="!isGuestCheckout">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation" ng-repeat="addr in addresses">
                                <a role="menuitem" tabindex="-1" href ng-click="choiceShipping(addr.ID)">{{addr.Name}}</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href ng-click="newShipping()">New</a>
                            </li>
                        </ul>
                    </div>
                </h3>
            </div>

            <div class="panel-body">
                <div id="shippingAddress" class="accordion">

                    <!-- Form to add shipping addresses -->
                    <form name="shippingAddress">
                        <div class="row">
                            <div class="col-sm-6">
                                <!--First name-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.first_name.$invalid) || (shippingAddress.first_name.$invalid && !shippingAddress.first_name.$pristine) }">
                                    <label for="shippingInputFirstName">First Name*</label>
                                    <input type="text" class="form-control" id="shippingInputFirstName" placeholder="First name"
                                           name="first_name" required
                                           ng-model="checkout.shipping_address.first_name" ng-disabled="checkout.shipping_address._id">

                                    <p ng-show="(subShippingAddress && shippingAddress.first_name.$invalid) || (shippingAddress.first_name.$invalid && !shippingAddress.first_name.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Last name-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.last_name.$invalid) || (shippingAddress.last_name.$invalid && !shippingAddress.last_name.$pristine) }">
                                    <label for="shippingInputLastName">Last Name*</label>
                                    <input type="text" class="form-control" id="shippingInputLastName" placeholder="Last name"
                                           name="last_name" required
                                           ng-model="checkout.shipping_address.last_name" ng-disabled="checkout.shipping_address._id">

                                    <p ng-show="(subShippingAddress && shippingAddress.last_name.$invalid) || (shippingAddress.last_name.$invalid && !shippingAddress.last_name.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Company-->
                                <div class="form-group">
                                    <label for="shippingInputCompany">Company Name</label>
                                    <input type="text" class="form-control" id="shippingInputCompany" placeholder="Company name"
                                           name="company"
                                           ng-model="checkout.shipping_address.company" ng-disabled="checkout.shipping_address._id">
                                </div>

                                <!--Address 1-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.address1.$invalid) || (shippingAddress.address1.$invalid && !shippingAddress.address1.$pristine) }">
                                    <label for="shippingInputAddress">Address 1*</label>
                                    <input type="text" class="form-control" id="shippingInputAddress" placeholder="Address 1"
                                           name="address1"
                                           ng-model="checkout.shipping_address.address_line1" ng-disabled="checkout.shipping_address._id" required>

                                    <p ng-show="(subShippingAddress && shippingAddress.address1.$invalid) || (shippingAddress.address1.$invalid && !shippingAddress.address1.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Address 2-->
                                <div class="form-group">
                                    <label for="shippingInputAddress2">Address 2</label>
                                    <input type="text" class="form-control" id="shippingInputAddress2" placeholder="Address 2"
                                           ng-model="checkout.shipping_address.address_line2" ng-disabled="checkout.shipping_address._id">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!--Country-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.country.$invalid) || (shippingAddress.country.$invalid && !shippingAddress.country.$pristine) }">
                                    <label for="shippingAddressCity">Country*</label>

                                    <select name="country" class="form-control" ng-model="checkout.shipping_address.country" required
                                            ng-options="c.Code as c.Name for c in countries" ng-disabled="checkout.shipping_address._id">
                                    </select>

                                    <p ng-show="(subShippingAddress && shippingAddress.country.$invalid) || (shippingAddress.country.$invalid && !shippingAddress.country.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--City-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.city.$invalid) || (shippingAddress.city.$invalid && !shippingAddress.city.$pristine) }">
                                    <label for="shippingAddressCity">City*</label>
                                    <input type="text" class="form-control" id="shippingAddressCity" placeholder="City" name="city"
                                           ng-model="checkout.shipping_address.city" ng-disabled="checkout.shipping_address._id" required>

                                    <p ng-show="(subShippingAddress && shippingAddress.city.$invalid) || (shippingAddress.city.$invalid && !shippingAddress.city.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--State-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.state.$invalid) || (shippingAddress.state.$invalid && !shippingAddress.state.$pristine) }">
                                    <label for="shippingAddressCity">State*</label>

                                    <div class="select">
                                        <select name="state" class="form-control" ng-model="checkout.shipping_address.state" required
                                                ng-options="c.Code as c.Name for c in states" ng-disabled="checkout.shipping_address._id">
                                        </select>
                                    </div>

                                    <p ng-show="(subShippingAddress && shippingAddress.state.$invalid) || (shippingAddress.state.$invalid && !shippingAddress.state.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Zip code-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.zip_code.$invalid) || (shippingAddress.zip_code.$invalid && !shippingAddress.zip_code.$pristine) }">
                                    <label for="shippingAddressZip">Zip / Postal Code*</label>
                                    <input type="text" class="form-control" id="shippingAddressZip" placeholder="Zip / Postal Code"
                                           name="zip_code" ot-regexp="/^\d{5}(?:[-\s]\d{4})?$/"
                                           ng-model="checkout.shipping_address.zip_code" ng-disabled="checkout.shipping_address._id" required>

                                    <p ng-show="(subShippingAddress && shippingAddress.zip_code.$error.required)"
                                       class="help-block">This field is required.</p>

                                    <p ng-if="!shippingAddress.zip_code.$error.required"
                                       ng-show="(subShippingAddress && shippingAddress.zip_code.$invalid) ||
                                            (shippingAddress.zip_code.$invalid && !shippingAddress.zip_code.$pristine)"
                                       class="help-block">{{shippingAddress.zip_code.message}}</p>
                                </div>


                                <!--Phone-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subShippingAddress && shippingAddress.phone.$invalid) || (shippingAddress.phone.$invalid && !shippingAddress.phone.$pristine) }">
                                    <label for="shippingAddressPhone">Phone*</label>
                                    <input type="text" class="form-control" id="shippingAddressPhone" placeholder="Phone" name="phone"
                                           ot-regexp="/^(\+?\d{1,3})?[- ]?\(?(\d{3})\)?[- ]?((?:\d{3})-?(?:\d{2})-?(?:\d{2}))$/" required
                                           ng-model="checkout.shipping_address.phone" ng-disabled="checkout.shipping_address._id">

                                    <p ng-show="(subShippingAddress && shippingAddress.phone.$error.required)"
                                       class="help-block">This field is required.</p>

                                    <p ng-if="!shippingAddress.phone.$error.required"
                                       ng-show="(subShippingAddress && shippingAddress.phone.$invalid) ||
                                            (shippingAddress.phone.$invalid && !shippingAddress.phone.$pristine)"
                                       class="help-block">{{shippingAddress.phone.message}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label class="myCheckbox" for="shippingUseAsBilling">
                                    <input type="checkbox" name="test" id="shippingUseAsBilling"
                                           ng-model="useAsBilling"
                                           ng-checked="useAsBilling">
                                    Use same for billing address
                                </label>
                            </div>
                        </div>

                        <div class="text-center">
                            <!-- next step -->
                            <button class="next btn btn-primary" ng-click="next('shippingAddress')">
                                Next step
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Billing Block -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Bill to
                    <div class="dropdown pull-right" ng-if="!isGuestCheckout">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation" ng-repeat="addr in addresses">
                                <a role="menuitem" tabindex="-1" ng-click="choiceBilling(addr.ID)">{{addr.Name}}</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="" ng-click="newBilling()">New</a>
                            </li>
                        </ul>
                    </div>
                </h3>
            </div>

            <div class="panel-body">
                <div id="billingAddress" class="accordion" style="display:none">
                    <!-- Form to add billing addresses -->
                    <form name="billingAddress" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--First name-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.first_name.$invalid) || (billingAddress.first_name.$invalid && !billingAddress.first_name.$pristine) }">
                                    <label for="billingInputFirstName">First Name*</label>
                                    <input type="text" class="form-control" id="billingInputFirstName" placeholder="First name"
                                           name="first_name" required
                                           ng-model="checkout.billing_address.first_name" ng-disabled="billing_address._id || useAsBilling">

                                    <p ng-show="(subBillingAddress && billingAddress.first_name.$invalid) || (billingAddress.first_name.$invalid && !billingAddress.first_name.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Last name-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.last_name.$invalid) || (billingAddress.last_name.$invalid && !billingAddress.last_name.$pristine) }">
                                    <label for="billingInputLastName">Last Name*</label>
                                    <input type="text" class="form-control" id="billingInputLastName" placeholder="Last name"
                                           name="last_name" required
                                           ng-model="checkout.billing_address.last_name" ng-disabled="billing_address._id || useAsBilling">

                                    <p ng-show="(subBillingAddress && billingAddress.last_name.$invalid) || (billingAddress.last_name.$invalid && !billingAddress.last_name.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Company-->
                                <div class="form-group">
                                    <label for="billingInputCompany">Company Name</label>
                                    <input type="text" class="form-control" id="billingInputCompany" placeholder="Company name"
                                           name="company"
                                           ng-model="checkout.billing_address.company" ng-disabled="checkout.billing_address._id || useAsBilling">
                                </div>

                                <!--Address 1-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.address1.$invalid) || (billingAddress.address1.$invalid && !billingAddress.address1.$pristine) }">
                                    <label for="billingInputAddress">Address 1*</label>
                                    <input type="text" class="form-control" id="billingInputAddress" placeholder="Address 1"
                                           name="address1"
                                           ng-model="checkout.billing_address.address_line1" ng-disabled="checkout.billing_address._id || useAsBilling"
                                           required>

                                    <p ng-show="(subBillingAddress && billingAddress.address1.$invalid) || (billingAddress.address1.$invalid && !billingAddress.address1.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Address 2-->
                                <div class="form-group">
                                    <label for="billingInputAddress2">Address 2</label>
                                    <input type="text" class="form-control" id="billingInputAddress2" placeholder="Address 2"
                                           ng-model="checkout.billing_address.address_line2" ng-disabled="checkout.billing_address._id || useAsBilling">
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <!--Country-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.country.$invalid) || (billingAddress.country.$invalid && !billingAddress.country.$pristine) }">
                                    <label for="billingAddressCity">Country*</label>

                                    <select name="country" class="form-control" ng-model="checkout.billing_address.country" required
                                            ng-options="c.Code as c.Name for c in countries"
                                            ng-disabled="checkout.billing_address._id || useAsBilling">
                                    </select>

                                    <p ng-show="(subBillingAddress && billingAddress.country.$invalid) || (billingAddress.country.$invalid && !billingAddress.country.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--City-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.city.$invalid) || (billingAddress.city.$invalid && !billingAddress.city.$pristine) }">
                                    <label for="billingAddressCity">City*</label>
                                    <input type="text" class="form-control" id="billingAddressCity" placeholder="City" name="city"
                                           ng-model="checkout.billing_address.city" ng-disabled="checkout.billing_address._id || useAsBilling" required>

                                    <p ng-show="(subBillingAddress && billingAddress.city.$invalid) || (billingAddress.city.$invalid && !billingAddress.city.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--State-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.state.$invalid) || (billingAddress.state.$invalid && !billingAddress.state.$pristine) }">
                                    <label for="billingAddressCity">State / Province / Region*</label>


                                    <select name="state" class="form-control" ng-model="checkout.billing_address.state" required
                                            ng-options="c.Code as c.Name for c in states"
                                            ng-disabled="checkout.billing_address._id || useAsBilling">
                                    </select>

                                    <p ng-show="(subBillingAddress && billingAddress.state.$invalid) || (billingAddress.state.$invalid && !billingAddress.state.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <!--Zip code-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.zip_code.$invalid) || (billingAddress.zip_code.$invalid && !billingAddress.zip_code.$pristine) }">
                                    <label for="billingAddressZip">Zip / Postal Code*</label>
                                    <input type="text" class="form-control" id="billingAddressZip" placeholder="Zip / Postal Code"
                                           name="zip_code" ot-regexp="/^\d{5}(?:[-\s]\d{4})?$/"
                                           ng-model="checkout.billing_address.zip_code" ng-disabled="billing_address._id || useAsBilling"
                                           required>

                                    <p ng-show="(subBillingAddress && billingAddress.zip_code.$error.required)"
                                       class="help-block">This field is required.</p>

                                    <p ng-if="!billingAddress.zip_code.$error.required"
                                       ng-show="(subBillingAddress && billingAddress.zip_code.$invalid) ||
                                            (billingAddress.zip_code.$invalid && !billingAddress.zip_code.$pristine)"
                                       class="help-block">{{billingAddress.zip_code.message}}</p>
                                </div>

                                <!--Phone-->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subBillingAddress && billingAddress.phone.$invalid) || (billingAddress.phone.$invalid && !billingAddress.phone.$pristine) }">
                                    <label for="billingAddressPhone">Phone*</label>
                                    <input type="text" class="form-control" id="billingAddressPhone" placeholder="Phone" name="phone"
                                           ot-regexp="/^(\+?\d{1,3})?[- ]?\(?(\d{3})\)?[- ]?((?:\d{3})-?(?:\d{2})-?(?:\d{2}))$/" required
                                           ng-model="checkout.billing_address.phone" ng-disabled="checkout.billing_address._id">

                                    <p ng-show="(subBillingAddress && billingAddress.phone.$error.required)"
                                       class="help-block">This field is required.</p>

                                    <p ng-if="!billingAddress.phone.$error.required"
                                       ng-show="(subBillingAddress && billingAddress.phone.$invalid) ||
                                            (billingAddress.phone.$invalid && !billingAddress.phone.$pristine)"
                                       class="help-block">{{billingAddress.phone.message}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <!-- prev step -->
                            <button class="back btn btn-default" ng-click="back('billingAddress')">
                                Prev step
                            </button>

                            <!-- next step -->
                            <button class="next btn btn-primary" ng-click="next('billingAddress')">
                                Next step
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Shipping Method -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Shipping Method
                </h3>
            </div>
            <div class="panel-body">
                <div id="shippingMethod" class="accordion" style="display:none">
                    <form>

                        <div class="radio" ng-repeat="method in shippingMethods">
                            <label>
                                <input type="radio" ng-click="choiceShippingMethod($index)" value="{{$index}}"
                                       name="shipping_method" ng-model="indexShippingMethod">
                                {{method.Name}}
                            </label>
                        </div>

                        <div class="text-center">
                            <!-- prev step -->
                            <button class="back btn btn-default" ng-click="back('shippingMethod')">
                                Prev step
                            </button>

                            <!-- next step -->
                            <button class="next btn btn-primary" ng-click="next('shippingMethod')">
                                Next step
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Discounts -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Discounts
                </h3>
            </div>
            <div class="panel-body">
                <div id="discounts" class="accordion" style="display:none">
                    <gui-message-manager item="messageDiscounts"></gui-message-manager>
                    <gui-message-manager item="giftcard.message"></gui-message-manager>

                    <form ng-submit="discountApply()">
                        <div class="form-group">
                            <label for="discount">Discount Code</label>
                            <div class="row">
                                <div class="col-xs-8">
                                    <input
                                    id="discount"
                                    type="text"
                                    class="form-control"
                                    name="discount"
                                    ng-model="discount">
                                </div>
                                <div class="col-xs-4">
                                    <button
                                    type="submit"
                                    class="btn btn-default btn-block">
                                        Apply Discount Code
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form ng-submit="giftcard.apply()">
                        <div class="form-group">
                            <label for="giftcode">Gift Card Code</label>
                            <div class="row">
                                <div class="col-xs-8">
                                    <input
                                    id="giftcode"
                                    type="text"
                                    class="form-control"
                                    ng-model="giftcard.code">
                                </div>
                                <div class="col-xs-4">
                                    <button
                                    type="submit"
                                    class="btn btn-default btn-block"
                                    ng-disabled="giftcard.searching">
                                        Apply Gift Card
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="" ng-show="checkout.discounts.length">
                        Applied Discounts
                        <ul>
                            <li ng-repeat="discount in checkout.discounts">
                                <div>
                                    {{discount.Amount | currency}} ({{discount.Code}})
                                    <!-- todo: we can't tell the difference between coupons and gift cards, so we can't neglect them properly -->
                                    <!-- <a class="" ng-click="discountNeglect(discount.Code)">
                                        <i class="fa fa-remove"></i>
                                        remove
                                    </a> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                    <div class="text-center">
                        <!-- prev step -->
                        <button class="back btn btn-default" ng-click="back('discounts')">
                            Prev step
                        </button>

                        <!-- next step -->
                        <button class="next btn btn-primary" ng-click="next('discounts')">
                            Next step
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Method -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Payment Method
                </h3>
            </div>
            <div class="panel-body">
                <div id="paymentMethod" class="accordion" style="display:none">

                    <div class="form-group" ng-repeat="method in paymentMethods">
                        <div class="radio">
                            <label class="myCheckbox">
                                <input type="radio" name="test" value="{{method.Code}}" ng-model="checkout.payment_method_code"
                                       ng-change=setPaymentType(method.Type)>
                                {{method.Name}}
                            </label>
                        </div>

                        <div class="clearfix"></div>

                        <div class="paypal" ng-show="checkout.payment_method_code===method.Code" ng-if="showFormCc(method)">
                            <form name="method.form" novalidate>

                                <div class="form-group col-xs-12 col-sm-4"
                                     ng-class="{ 'has-error' : (method.form.submited && method.form.type.$invalid) || (method.form.type.$invalid && !method.form.type.$pristine) }">
                                    <label>Credit Card Type</label>

                                    <select name="type" class="form-control" ng-model="method.cc.type" required ng-selected="c.Code == 'Visa' "
                                            ng-init="method.cc.type = creditTypes[0].Code"
                                            ng-options="c.Code as c.Name for c in creditTypes">
                                    </select>

                                    <p ng-show="(method.form.submited && method.form.type.$invalid) || (method.form.type.$invalid && !method.form.type.$pristine)"
                                       class="help-block">This field is required.</p>
                                </div>

                                <div class="form-group col-xs-12 col-sm-8"
                                     ng-class="{ 'has-error' : (method.form.submited && method.form.number.$invalid) || ((!method.form.number.$invalidFormat || method.form.number.$invalid) && !method.form.number.$pristine) }">

                                    <label for="paymentCardNumber">Number *</label>
                                    <input type="text" class="form-control" id="paymentCardNumber" ng-model="method.cc.number"
                                           placeholder="Credit Card Number" name="number" ng-change="validateCcNumber()" required>

                                    <p ng-show="method.form.submited && method.form.number.$error.required"
                                       class="help-block">This field is required.</p>
                                    <p ng-if="!method.form.number.$error.required"
                                       ng-show="(method.form.submited && method.form.number.$invalid) || ((!method.form.number.$invalidFormat || method.form.number.$invalid) && !method.form.number.$pristine)"
                                       class="help-block">Invalid number format.</p>
                                </div>

                                <div class="form-group col-xs-6 col-md-4"
                                     ng-class="{ 'has-error' : method.form.submited && method.form.expire_month.$invalid }">
                                    <label>Expiration Month</label>

                                    <select class="form-control" ng-model="method.cc.expire_month" name="expire_month" required>
                                        <option value="">MM</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                    <p ng-show="method.form.submited && method.form.expire_month.$invalid"
                                       class="help-block">This field is required.</p>
                                </div>

                                <div class="form-group col-xs-6 col-md-4"
                                     ng-class="{ 'has-error' : method.form.submited && method.form.expire_year.$invalid }">
                                    <label>Year</label>
                                    <select class="form-control" ng-model="method.cc.expire_year" name="expire_year" required>
                                        <option value="">YY</option>
                                        <option value="2015">15</option>
                                        <option value="2016">16</option>
                                        <option value="2017">17</option>
                                        <option value="2018">18</option>
                                        <option value="2019">19</option>
                                        <option value="2020">20</option>
                                    </select>

                                    <p ng-show="method.form.submited && method.form.expire_year.$invalid"
                                       class="help-block">This field is required.</p>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="text-center">
                        <!-- prev step -->
                        <button class="back btn btn-default" ng-click="back('paymentMethod')">
                            Prev step
                        </button>

                        <!-- next step -->
                        <button class="next btn btn-primary" ng-click="next('paymentMethod')">
                            Next step
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Guest checkout user credential form -->
        <div class="panel panel-default" ng-show="isGuestCheckout">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Additional info
                </h3>
            </div>
            <div class="panel-body">
                <div id="customerInfo" class="accordion" style="display: none;">

                    <!-- Form to add shipping addresses -->
                    <form name="customerInfo">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Name -->
                                <div class="form-group">
                                    <label for="customerInputName">Name</label>
                                    <input type="text" class="form-control" id="customerInputName" placeholder="Name"
                                           name="name" ng-model="checkout.info.customer_name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Email -->
                                <div class="form-group"
                                     ng-class="{ 'has-error' : (subAdditionalInfo && customerInfo.email.$invalid) || (customerInfo.email.$invalid && !customerInfo.email.$pristine) }">
                                    <label for="customerInputEmail">Email*</label>
                                    <input type="text" class="form-control" id="customerInputEmail" placeholder="Email"
                                           ot-email="true" name="email" ng-model="checkout.info.customer_email" required />

                                    <!-- error message -->
                                    <p ng-show="(subAdditionalInfo && customerInfo.email.$error.required)"
                                       class="help-block">This field is required.</p>

                                    <p ng-if="!customerInfo.email.$error.required"
                                       ng-show="(subAdditionalInfo && customerInfo.email.$invalid) ||
                                            (customerInfo.email.$invalid && !customerInfo.email.$pristine)"
                                       class="help-block">{{customerInfo.email.message}}</p>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="clearfix"></div>

                    <div class="text-center">
                        <!-- prev step -->
                        <button class="back hidden-xs btn btn-default" ng-click="back('customerInfo')">
                            Prev step
                        </button>

                        <!-- next step -->
                        <button class="next hidden-xs btn btn-primary" ng-click="next('customerInfo')">
                            Next step
                        </button>
                        <div class="btn-group-vertical visible-xs">
                            <!-- prev step -->
                            <button class="back btn btn-default" ng-click="back('customerInfo')">
                                Prev step
                            </button>

                            <!-- next step -->
                            <button class="next btn btn-primary" ng-click="next('customerInfo')">
                                Next step
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- preview -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Order Review
                </h3>
            </div>
            <div class="panel-body">
                <div id="review" class="accordion" style="display:none">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-bordered" ng-show="cart.getCountItems()" ng-class="{'last':$last}">
                                <tr>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                </tr>
                                <tr ng-repeat="item in cart.getItems()">
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.qty}}</td>
                                    <td>{{item.product.price | number: 2 | currency}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-bordered" ng-show="cart.getCountItems()" ng-class="{'last':$last}">
                                <tr>
                                    <td>Subtotal</td>
                                    <td>{{checkout.subtotal | currency}}</td>
                                </tr>
                                <tr ng-if="checkout.discount_amount">
                                    <td>Discounts</td>
                                    <td>({{checkout.discount_amount | currency}})</td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td>{{checkout.tax_amount | currency}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td>{{checkout.shipping_amount | currency}}</td>
                                </tr>

                                <tr>
                                    <td>Total</td>
                                    <td>{{checkout.grandtotal | currency}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <gui-message-manager item="message"></gui-message-manager>

                    <div class="text-center">
                        <!-- prev step -->
                        <button class="back btn btn-default" ng-click="back('review')">
                            Prev step
                        </button>

                        <!-- next step -->
                        <button class="next btn btn-primary" ng-click="save()">
                            Confirm purchase
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="checkout">
            <!-- product row -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order summary</h3>
                </div>
                <div class="panel-body">
                    <div ng-controller="cartListController">
                        <!-- if cart is empty -->
                        <h3 ng-hide="it.getCountItems()" class="text-center">Cart is empty</h3>


                        <div class="product row" ng-repeat="item in it.getItems()" ng-show="it.getCountItems()">

                            <!-- image -->
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{{productService.getUrl(item.pid)}}"><img err-src="placeholder.png" ng-src="{{getImage(item.product)}}" alt="{{item.product.name}}"/></a>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <!-- name -->
                                <h4>{{item.product.name}}</h4>

                                <!-- description -->
                                <ul class="list-unstyled" ng-if="item.hasOptions">
                                    <li ng-repeat="(key, value) in item.options">
                                        {{key}}: {{productService.getOptStr(value)}}
                                    </li>
                                </p>

                                <div class="row">
                                    <!-- qty -->
                                    <div class="col-xs-6">Qty:{{item.qty}}</div>

                                    <!-- price -->
                                    <div class="price text-right col-xs-6">{{item.product.price * item.qty | currency}}</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="row cart-total" ng-show="cart.getCountItems()" ng-class="{'last':$last}">
                        <div class="col-xs-6">
                            <div class="cart-total__label cart-total__label--sub">Subtotal:</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="cart-total__value cart-total__value--sub">{{checkout.subtotal | currency}}</div>
                        </div>

                        <div class="col-xs-6" ng-if="checkout.discount_amount">
                            <div class="cart-total__label cart-total__label--discounts">Discounts:</div>
                        </div>
                        <div class="col-xs-6" ng-if="checkout.discount_amount">
                            <div class="cart-total__value cart-total__value--discounts">({{checkout.discount_amount | currency}})</div>
                        </div>

                        <div class="col-xs-6">
                            <div class="cart-total__label cart-total__label--tax">Tax:</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="cart-total__value cart-total__value--tax">{{checkout.tax_amount | currency}}</div>
                        </div>

                        <div class="col-xs-6">
                            <div class="cart-total__label cart-total__label--ship">Shipping:</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="cart-total__value cart-total__value--ship">{{checkout.shipping_amount | currency}}</div>
                        </div>

                        <div class="col-xs-6">
                            <div class="cart-total__label cart-total__label--total">Total:</div>
                        </div>
                        <div class="col-xs-6">
                            <div class="cart-total__value cart-total__value--total">{{checkout.grandtotal | currency}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="getTemplate('checkout/modal/checkout-purchase-success.html')"></ng-include>
<ng-include src="getTemplate('checkout/modal/redirect.html')"></ng-include>