<!-- search block
<div class="form-group">
	<div class="input-group">
      	<div class="input-group-addon">
      		<i class="glyphicon glyphicon-search"></i>
      	</div>
      	<input class="form-control" placeholder="Search..." ng-model="searchText">
	</div>
</div>-->

<!-- options -->
<div  ng-repeat="(filter, items) in layered" ng-if="items.length>0">
    <h6>{{filter}}</h6><span>see all</span>
    <div class="clearfix"></div>
    <hr>
    <ul>
        <li ng-repeat="item in items">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="filters[filter][item]">
                {{item}}
            </label>
        </li>
    </ul>
</div>
