# Folders
.idea
.tmp
.sass-cache
.vagrant
*.sublime-project
*.sublime-workspace

app/bower_components
app/bundle.js
app/media
dist
nbproject/*
node_modules
tags

# Files
*.iml
.DS_Store

# Ottemo Specific
tmp/*