<div class="modal fade" id="form-registration" tabindex="-1" role="dialog" ng-controller="visitorLoginController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <!-- modal title -->
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">

                <!-- error message -->
                <gui-message-manager item="message" id="infoRegister"></gui-message-manager>
                
                <form name="register">
                    <div class="row">

                        <!-- email field + label -->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.email.$invalid) || (register.email.$invalid && !register.email.$pristine) }">
                            <label for="email">Email Address *</label>
                            <input id="email" type="text" class="form-control input-lg" name="email" ot-email="true" placeholder="Email"  ng-model="login.email" required />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.email.$error.required)"
                               class="help-block">This field is required.</p>

                            <p ng-if="!register.email.$error.required"
                               ng-show="(register.submitted && register.email.$invalid) ||
                            (register.email.$invalid && !register.email.$pristine)"
                               class="help-block">{{register.email.message}}</p>
                        </div>
                        
                        <!-- first name field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine) }">
                            <label for="FirstName">First Name *</label>
                            <input type="text" class="form-control input-lg" id="FirstName" placeholder="First name" ng-model="login.fname" name="fname" required  />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>

                        <!-- last name field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.lname.$error.required) || (register.lname.$invalid && !register.lname.$pristine) }">
                            <label for="LastName">Last Name *</label>
                            <input type="text" class="form-control input-lg" id="LastName" placeholder="Last name" ng-model="login.lname" name="lname" required />

                            <!-- error message -->
                            <p ng-show="(register.submitted && register.lname.$error.required) || (register.lname.$invalid && !register.lname.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>

                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.password.$error.required) || (register.password.$invalid && !register.password.$pristine) }">
                            <label for="password">Password *</label>
                            <input id="password" type="password" class="form-control input-lg" name="password" ot-password="true" placeholder="Password" ng-model="login.password" required autocomplete="off" />

                            <!-- error message -->
                            <p ng-show="(register.submitted && register.password.$error.required)"
                               class="help-block">This field is required.</p>

                            <p ng-if="!register.password.$error.required"
                               ng-show="(register.submitted && register.password.$invalid) ||
                            (register.password.$invalid && !register.password.$pristine)"
                               class="help-block">{{register.password.message}}</p>
                        </div>
                        
                        <!-- password confirm field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine) }">
                            <label for="confirm_password">Password confirm *</label>
                            <input id="confirm_password" type="password" class="form-control input-lg" name="confirm_password" placeholder="Confirm Password" ng-model="login.confirm_password" required autocomplete="off" />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="row">
                        <button type="submit" class="btn btn-lg btn-primary col-xs-6 col-xs-offset-3 register" ng-click="save()">Register</button>
                    </div>

                    <br>
                    <div class="row">
                        <!-- create account with social -->
                        <div class="text-center visible-md visible-lg">
                            <h4>Create Account With</h4>
                            <div class="btn-group btn-group-lg">
                                <a href="" class="btn btn-danger" ng-click="googleLogin(true)">
                                    <i class="fa fa-google-plus"></i>
                                    Create with Google+
                                </a>
                                <a href="" class="btn btn-info" ng-click="facebookLogin(true)">
                                    <i class="fa fa-facebook"></i>
                                    Create with Facebook
                                </a>
                            </div>
                        </div>
                        
                        <!-- create account with social -->
                        <div class="text-center visible-xs">
                            <h4>Create Account With</h4>
                            <div class="btn-group-vertical btn-group-lg col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                                <a href="" class="btn btn-danger" ng-click="googleLogin(true)">
                                    <i class="fa fa-google-plus"></i>
                                    Create with Google+
                                </a>
                                <a href="" class="btn btn-info" ng-click="facebookLogin(true)">
                                    <i class="fa fa-facebook"></i>
                                    Create with Facebook
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>

                <!-- Register modal link -->
                <a href="" class="btn btn-lg btn-default pull-right" target="_self" id="modal-login">Login</a>
                <div class="clearfix"></div>
            </div>   
        </div>
    </div>
</div>
