<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 product-box"
        ng-repeat="product in productsList track by product._id"
        itemscope
        itemtype="http://schema.org/Product">

        <a ng-if="product.qty === 0"
            class="btn btn-default disabled">
            sold out
        </a>

        <a class="product-box-img r-container r-container-square"
            ng-href="{{::productService.getUrl(product._id)}}">
            <img class="r-target"
                ng-src="{{::product.image.medium}}"
                err-src="placeholder.png"
                itemprop="image">
        </a>

        <div class="product-box-description">
            <h2 class="product-box-name"
                itemprop="name">
                <a ng-href="{{::productService.getUrl(product._id)}}"
                    itemprop="url">
                    {{::product.name}}
                </a>
            </h2>
            <a class="product-box-price"
                ng-href="{{::productService.getUrl(product._id)}}">
                <s ng-show="::product.strikethrough_price">
                    {{::product.strikethrough_price | currency}}
                </s>
                {{::product.price | currency}}
            </a>
        </div>
    </div>
</div>