<div class="container">
    <div class="page-header">
        <h1>Orders</h1>
    </div>

    <div class="row">
        <!-- left-side menu -->
        <ng-include src="'/views/visitor/account/sidebar.html'"></ng-include>

        <!-- orders layout -->
        <div class="col-xs-12 col-sm-9">

            <!-- error message -->
            <ot-message-manager item="message"></ot-message-manager>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Orders
                    </h3>
                </div>

                <div class="panel-body"
                    ng-hide="ordersList.length">
                    No orders yet
                </div>

                <!-- orders table mobile -->
                <div class="panel-body visible-xs"
                    ng-show="ordersList.length">
                    <div ng-repeat="order in ordersList">
                        <strong class="">Order number: </strong>
                        <a href="/account/order/{{order.ID}}">{{order.ID}}</a>

                        <br>

                        <strong>Date: </strong>
                        <span>{{order.Extra.created_at | date:"MM/dd/yyyy h:mma"}}</span>

                        <br>

                        <strong>Order information: </strong>
                        <span>{{order.Desc}}</span>

                        <br>

                        <strong>Total price: </strong>
                        <span>{{order.Extra.grand_total | currency}}</span>

                        <br>

                        <strong>Status: </strong>
                        <span>{{order.Extra.status}}</span>
                        <hr>
                    </div>
                </div>

                <!-- orders table desktop tablet -->
                <table class="table table-bordered table-hover table-striped hidden-xs"
                    ng-show="ordersList.length">
                    <thead>
                        <tr>
                            <th>Order number</th>
                            <th>Date</th>
                            <th>Order information</th>
                            <th>Total price</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="order in ordersList">
                            <td>
                                <a href="/account/order/{{order.ID}}">{{order.ID}}</a>
                            </td>
                            <td>{{order.Extra.created_at | date:"MM/dd/yyyy h:mma"}}</td>
                            <td>{{order.Desc}}</td>
                            <td>{{order.Extra.grand_total | currency}}</td>
                            <td>{{order.Extra.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

