<div class="container">
    <div class="page-header">
        <h1>Credit cards</h1>
    </div>

    <div class="row">
        <!-- left-side menu -->
        <ng-include src="'/views/visitor/account/sidebar.html'"></ng-include>

        <!-- tokens info -->
        <div class="col-xs-12 col-sm-9">

            <!-- note: this is also inside the modal -->
            <!-- error message -->
            <ot-message-manager item="message"></ot-message-manager>

            <div class="clearfix"></div>
            <!-- tokens info table -->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Credit cards
                    </h3>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Credit &amp; Debit Cards
                            </th>
                            <th><span ng-if="paymentMethods.tokenAble.length > 1">Method Name</span></th>
                            <th class="text-center">
                                Expires
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="token in tokens">
                            <td>{{token.Extra.type}} ending in {{token.Extra.number}}</td>
                            <td><span ng-if="paymentMethods.tokenAble.length > 1">{{getPaymentMethodName(token.Desc)}}</span></td>
                            <td class="text-center">{{parseDate(token.Extra.expiration_date)}}</td>
                            <td class="text-right">
                                <button class="btn btn-danger btn-block-xs"
                                    ng-click="remove(token.ID)">
                                    <i class="fa fa-remove fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <button class="btn btn-primary"
                            ng-click="popUpOpen()"
                            ng-disabled="paymentMethods.tokenAble.length == 0">
                        Add Credit Card
                    </button>
                </div>

            </div>
        </div>
    </div>

    <ng-include src="'/views/visitor/account/modal/credit-card-new.html'"></ng-include>

</div>
