<!-- Account main page -->
<div ng-init="init()" >
    <br>
    <h2 class="text-center text-uppercase">Adresses</h2>
    <br>

    <!-- left-side menu -->
    <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>
    
    <!-- adresses info -->
    <div class="col-xs-12 col-sm-10">
        
        <!-- error message -->
        <div class="col-sm-8 col-sm-offset-1 row">
            <gui-message-manager item="message"></gui-message-manager>
        </div>

        <!-- adresses info table -->
        <div class="col-sm-8 col-sm-offset-1 row">
            <div class="panel panel-primary">
                
                <table class="table text-center">
                    
                    <!-- adresses from base -->
                    <tr ng-repeat="address in addresses">
                        <td class="text-left">
                            {{getAddressName(address)}}
                        </td>
                        <td class="text-right" style="vertical-align:bottom;">
                            <div class="hidden-xs pull-right hidden-sm" style="width:145px;">
                                <button class="btn btn-primary hidden-xs" ng-click="popUpOpen(address.Id)">Edit</button>
                                <button class="btn btn-primary hidden-xs" ng-click="remove(address.Id)">Delete</button>
                            </div>
                            
                            <div class="btn-group-vertical visible-xs visible-sm">
                                <button class="btn btn-info" ng-click="popUpOpen(address.Id)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-click="remove(address.Id)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <!-- change password modal button -->
                            <button class="btn btn-lg btn-primary" ng-click="popUpOpen(address.Id)">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;
                                Create
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>           
    </div>

    <!-- change info modal -->
    <ng-include src="getTemplate('visitor/account/modal/add-address.html')"></ng-include>
</div>