<!-- Orders page -->
<div ng-init="init()" >
    <h2 class="text-center">My Account</h2>
    <br>

    <!-- left-side menu -->
    <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>
    
    <!-- orders layout -->
    <div class="col-xs-12 col-sm-10" ng-controller="visitorAccountController">
        
        <!-- error message -->
        <gui-message-manager item="message"></gui-message-manager>
        
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Orders info
                </h3>
            </div>
            
            <!-- orders table mobile -->
            <div class="panel-body visible-xs">
                <div ng-repeat="order in ordersList">
                    <strong class="">Order number: </strong>
                    <a href="#/account/order/{{order.Id}}">{{order.Name}}</a>

                    <br>

                    <strong>Date: </strong>
                    <span>{{getDateCreated(order.Extra.created_at)}}</span>

                    <br>

                    <strong>Order information: </strong>
                    <span>{{order.Desc}}</span>

                    <br>

                    <strong>Total price: </strong>
                    <span>{{order.Extra.grand_total | currency}}</span>

                    <br>

                    <strong>Status: </strong> 
                    <span>{{order.Extra.status}}</span> 
                    <hr>
                </div>
            </div>

            <!-- orders table desktop tablet -->
            <table class="table text-center table-bordered table-hover table-striped hidden-xs">
                <tr>
                    <th class="text-center">
                        <span>Order number</span>
                    </th>
                    <th class="text-center">
                        <span>Date</span>
                    </th>
                    <th class="text-center">
                        <span>Order information</span>
                    </th>
                    <th class="text-center">
                        <span>Total price</span>
                    </th>
                    <th class="text-center">
                        <span>Status</span>
                    </th>
                </tr>

                <tr ng-repeat="order in ordersList">
                    <td>
                        <a href="#/account/order/{{order.Id}}">{{order.Name}}</a>
                    </td>
                    <td>{{getDateCreated(order.Extra.created_at)}}</td>
                    <td>{{order.Desc}}</td>
                    <td>{{order.Extra.grand_total | currency}}</td>
                    <td>{{order.Extra.status}}</td>
                </tr>
            </table>
        
    </div>















            
      