<div class="sidebar-offcanvas hidden-xs">

    <!-- search block -->
    <div class="form-group form-group--search">
        <div class="input-group">
            <div class="input-group-addon">
                <a ng-click="searchProducts(searchText)"><i class="fa fa-search"></i></a>
            </div>
            <input class="form-control"
                placeholder="Search..."
                ng-model="searchText"
                ng-enter="searchProducts(searchText)">
        </div>
    </div>

    <!-- categories block -->
    <ul class="nav nav--categories">
        <li class="nav__header">Categories</li>

        <!-- ultimo specific -->
        <li><a href="/new-arrivals">New Arrivals</a></li>
        <li><a href="/sale">SALE</a></li>

        <li class="nav-divider" role="separator" ng-show="categories.length">--</li>

        <li ng-repeat="item in categories">
            <a href="{{item.url}}">
                {{item.name}}
            </a>

            <ul class="nav"
                ng-if="item.child.length">
                <li ng-repeat="item in item.child">
                    <a href="{{item.url}}">
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- layered filtering block -->
    <div ng-repeat="(filter, items) in layered"
        ng-if="items.length">

        <ul class="nav nav--cat-layers">
            <li class="nav__header">{{filter}}</li>
            <li ng-repeat="item in items">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                            ng-model="filters[filter][item]"> {{item}}
                    </label>
                </div>
            </li>
        </ul>
    </div>

    <!-- sorting block -->
    <!-- <ul class="nav nav--cat-sort">
        <li class="nav__header">Sort</li>
        <li>
            <a ng-click="sortByPrice('asc')">Price: low to high</a>
        </li>
        <li>
            <a ng-click="sortByPrice('desc')">Price: high to low</a>
        </li>
        <li>
            <a ng-click="sortByName('asc')">Name: a to z</a>
        </li>
        <li>
            <a ng-click="sortByName('desc')">Name: z to a</a>
        </li>
    </ul> -->

</div>

