<i class="init-controller" ng-init="activate()"></i>

<div class="category container">
    <div class="row">

        <div class="hidden-xs hidden-sm col-md-3 col-lg-2">
            <ng-include src="'/views/category/sidebar.html'"></ng-include>
        </div>

        <div class="col-md-9 col-lg-10">
            <div class="page-header">
                <h1>{{ category.name }}</h1>
            </div>

            <ot-breadcrumbs></ot-breadcrumbs>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3 product-box"
                    ng-repeat="product in productsList track by product._id"
                    itemscope
                    itemtype="http://schema.org/Product">

                    <a class="btn btn-default btn-quick-view"
                        ng-click="openPopUp(product)">
                        <i class="fa fa-search-plus"></i> Quick View
                    </a>

                    <a class="product-box-img r-container r-container-square"
                        ng-href="{{::productService.getUrl(product._id)}}">
                        <img class="r-target"
                            ng-src="{{::product.image.medium}}"
                            err-src="placeholder.png"
                            itemprop="image">
                    </a>

                    <div class="product-box-description">
                        <h2 class="product-box-name"
                            itemprop="name">
                            <a ng-href="{{::productService.getUrl(product._id)}}"
                                itemprop="url">
                                {{::product.name}}
                            </a>
                        </h2>
                        <a class="product-box-price"
                            ng-href="{{::productService.getUrl(product._id)}}">
                            {{::product.price | currency}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <ot-paginator object="this"
                    ng-if="pages > 1"></ot-paginator>
            </div>

        </div>

    </div>
</div>

<!-- quick view modal -->
<ng-include src="'/views/category/modal/quick-view.html'"></ng-include>
<ng-include src="'/views/category/modal/quick-view-success.html'"></ng-include>

