<img src="/theme/images/contact-hero.jpg" alt="" class="cms-hero">


<div class="row">
	<div class="col-md-8">
		<h1>We would love to hear from you</h1>

		<div class="alert alert-success" ng-if="contactFormSuccess">
			Thanks for reaching out to us, we'll get back in touch with you shortly.
		</div>

		<form name="contactForm" class="form-horizontal" ng-submit="contactForm.$valid && submit()">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="name" class="control-label col-md-3">Name:</label>
						<div class="col-md-9">
							<input
							id="name"
							ng-model="contactForm.name"
							type="text"
							required
							class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="tel" class="control-label col-md-3">Phone:</label>
						<div class="col-md-9">
							<input
							id="tel"
							ng-model="contactForm.tel"
							type="text"
							class="form-control">
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label for="email" class="control-label col-md-3">Email:</label>
						<div class="col-md-9">
							<input
							id="email"
							ng-model="contactForm.email"
							type="email"
							required
							class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="comment" class="control-label col-md-3">Comments:</label>
						<div class="col-md-9">
							<textarea
							id="comment"
							ng-model="contactForm.comment"
							rows="10"
							required
							class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary pull-right">submit</button>
			<div class="clearfix"></div>
		</form>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary--inverse panel--contact">
			<div class="panel-body">
				<h3>Customers</h3>
				<p>Please feel free to email us or call our office at the number below. Questions or comments about your order, please email us at <a href="mailto:support@karigran.com">support@karigran.com</a>. General questions and inquiries, please email us at <a href="mailto:info@karigran.com">info@karigran.com</a>.</p>

				<h3>Phone</h3>
				<p>
					206.588.1573 <br>
					Monday – Friday <br>
					9:00 AM – 5:00 PM PST
				</p>

				<h3>Media</h3>
				<!-- todo: email -->
				<p>Media inquiries, please email <a href="mailto:prkarigran@duopr.com">KariGranPR</a>.</p>

				<h3>Wholesale</h3>
				<p>Wholesale inquiries, please email us at <a href="mailto:wholesaleinquiry@karigran.com">wholesaleinquiry@karigran.com</a>.</p>
			</div>
		</div>
	</div>
</div>