.footer {
    margin-top: 30px;
    padding-top: 20px;
    background: #404040;
    color: #fff;

    h6 {
        font-size: $font-size-h4;
        color: #c1c0c0;
        margin-top:30px;
        margin-bottom: 10px;
    }
    a {
        color: #fff;
    }
    ul {
        @include list-unstyled;
    }
    li {
        margin-bottom: 4px;
    }

    .store-map {
        margin-top: 30px;
    }

    .credits {
        text-align: center;
        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }

    .ottemo {
        a {
            text-decoration: underline;
        }
        @media (min-width: $screen-sm-min) {
            float: right;
        }
    }
}
