<div class="navbar navbar-default navbar-fixed-top"
    role="navigation"
    bs-navbar>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggle collapsed"
                ng-click="nav.open = !nav.open"
                ng-class="{active: nav.open}">
                <i class="fa fa-fw fa-bars"></i>
            </a>
            <a href="/cart" class="navbar-toggle">
                <i class="fa fa-fw fa-shopping-cart"></i>
            </a>

            <a class="navbar-brand"
                href="/">
                <img alt="Urbanity Logo"
                    ng-src="{{getImg('logo.png')}}">
                <span class="sr-only">Urbanity</span>
            </a>
        </div>

        <div class="navbar-collapse collapse"
            ng-class="{in: nav.open}">

            <ul class="nav navbar-nav navbar-util hidden-xs">
                <li>
                    <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li ng-if="!visitorProps.isLoggedIn"
                    data-match-route="/login">
                    <a href="/login">Login / Register</a>
                </li>
                <li ng-if="visitorProps.isLoggedIn"
                    data-match-route="/account">
                    <a href="/account">My Account</a>
                </li>
                <li data-match-route="/cart">
                    <a href="/cart">
                        Shopping Bag ({{getItemsInCart()}})
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-main">
                <li data-match-route="/$">
                    <a href="/">Home</a>
                </li>
                <li data-match-route="/c/mens">
                    <a href="/c/mens">Men's</a>
                </li>
                <li data-match-route="/c/womens">
                    <a href="/c/womens">Women's</a>
                </li>
                <li data-match-route="/c/accessories">
                    <a href="/c/accessories">Accessories</a>
                </li>
                <li data-match-route="/contact">
                    <a href="/contact">Contact</a>
                </li>

                <li class="visible-xs"
                    ng-if="!visitorProps.isLoggedIn"
                    data-match-route="/login">
                    <a href="/login">Login</a>
                </li>

                <li class="visible-xs"
                    ng-if="visitorProps.isLoggedIn"
                    data-match-route="/account">
                    <a href="/account">My Account</a>
                </li>
            </ul>

        </div>

    </div>
</div>
