.home-tile-overlay {
    position: absolute;
    bottom: 10%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
}