<div class="row page--refer">
    <div class="col-sm-6">
        <img src="/theme/images/refer/kari-gran-april-newsletter-square.jpg"
            alt="Share Kari Gran with a friend"
            class="img-fill refer__primary-img">
        <br />
    </div>
    <div class="col-sm-6">
        <h1 class="flat-top refer__title">Share Kari Gran With A Friend</h1>
        <p>Share your love of Kari Gran and your friend will receive a free <a href="">Starter Kit</a>.</p>

        <form name="refer_form"
            ng-submit="refer_form.$valid && submit()"
            novalidate>

            <!-- field: your_name -->
            <div class="form-group"
                ng-class="{ 'has-error': refer_form.your_name.$invalid && (refer_form.$submitted || refer_form.your_name.$touched)}">
                <label for="your_name">Your name:</label>
                <input class="form-control"
                    id="your_name"
                    name="your_name"
                    type="text"
                    ng-model="data.referer_name"
                    required />

                <!-- error messages -->
                <div class="help-block"
                    ng-show="refer_form.$submitted || refer_form.your_name.$touched">
                    <span ng-show="refer_form.your_name.$error.required">This field is required</span>
                </div>
            </div>

            <!-- field: friend_name -->
            <div class="form-group"
                ng-class="{ 'has-error': refer_form.friend_name.$invalid && (refer_form.$submitted || refer_form.friend_name.$touched)}">
                <label for="friend_name">Friend's name:</label>
                <input class="form-control"
                    id="friend_name"
                    name="friend_name"
                    type="text"
                    ng-model="data.friend_name"
                    required />

                <!-- error messages -->
                <div class="help-block"
                    ng-show="refer_form.$submitted || refer_form.friend_name.$touched">
                    <span ng-show="refer_form.friend_name.$error.required">This field is required</span>
                </div>
            </div>

            <!-- field: friend_email -->
            <div class="form-group"
                ng-class="{ 'has-error': refer_form.friend_email.$invalid && (refer_form.$submitted || refer_form.friend_email.$touched)}">
                <label for="friend_email">Friend's email address:</label>
                <input class="form-control"
                    id="friend_email"
                    name="friend_email"
                    type="email"
                    ng-model="data.friend_email"
                    required />

                <!-- error messages -->
                <div class="help-block"
                    ng-show="refer_form.$submitted || refer_form.friend_email.$touched">
                    <span ng-show="refer_form.friend_email.$error.required">This field is required</span>
                    <span ng-show="refer_form.friend_email.$error.email">This email is not formatted properly</span>
                </div>
            </div>

            <div class="form-group"
                ng-class="{ 'has-error': refer_form.captcha.$invalid && (refer_form.$submitted || refer_form.captcha.$touched)}">
                <label for="captcha">Please enter the following text in the box below:</label>
                <img class="refer__captcha"
                    ng-src="{{captcha}}"
                    alt="captcha"
                    width="240"
                    height="80" />
                <input class="form-control"
                    id="captcha"
                    name="captcha"
                    type="text"
                    ng-model="data.captcha"
                    required />

                <!-- error messages -->
                <div class="help-block"
                    ng-show="refer_form.$submitted || refer_form.captcha.$touched">
                    <span ng-show="refer_form.captcha.$error.required">This field is required</span>
                </div>
            </div>

            <button class="btn btn-refer"
                type="submit">Share</button>

        </form>

        <br />
        <p>
            <strong>Next:</strong> We'll send your friend the Kari Gran Starter Kit along with a wonderful hand
            written note and a healthy dose of good karma.
        </p>
    </div>
</div>

