<add-css src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"></add-css>
<add-css src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></add-css>
<add-css src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"></add-css>

<add-css src="customStorefront.css"></add-css>
<add-css src="style.css"></add-css>

<div id="pageTable" class="GlobalWrapper" name="top">
    <div id="cellPageHeader" class="GlobalHeader">
        <ng-include src="getTemplate('common/header.html')"></ng-include>
    </div>
    <div id="cellPageContent" class="cellPageContent">
        <div id="cellPageBreadcrumbs" class="GlobalBreadcrumbs">
            <ng-include src="getTemplate('common/breadcrumbs.html')"></ng-include>
        </div>
        <ng-view></ng-view>
        <ng-include src="getTemplate('visitor/login.html')"></ng-include>
        <ng-include src="getTemplate('visitor/registration.html')"></ng-include>
    </div>
    <div class="loader">
        <img alt="menu" ng-src="{{getImg('loader.gif')}}">
    </div>
</div>

<div id="cellPageFooter" class="cellPageFooter">
    <ng-include src="getTemplate('common/footer.html')"></ng-include>
</div>
</div>

<script src="themes/default/lib/responsiveCarousel.js"></script>
<script src="themes/default/lib/jquery.pageslide.min.js"></script>
<script src="themes/default/lib/jquery.slides.min.js"></script>
<script src="themes/default/lib/responsiveslides.js"></script>

<script src="themes/default/lib/star-rating.min.js"></script>
<script src="themes/default/scripts/main.js"></script>

