<!-- Default bootstrap.css Don't replace it -->
<add-css src="lib/bootstrap/bootstrap.css"></add-css>
<!-- your bootsrap theme's file -->
<add-css src="bootstrap-theme.css"></add-css>
<!-- your custom.css -->
<add-css src="style.css"></add-css>
<link href="themes/default/lib/fancybox/jquery.fancybox.css" rel="stylesheet">

<div id="wrapper">
	<div id="wrapper-inner">
		<div class="row-offcanvas row-offcanvas-left">
			<div class="sidebar-nav hidden-xs" role="navigation" id="sidebar" ng-controller="commonHeaderController" >
				<ng-include src="getTemplate('common/navigation/categories.html')"></ng-include>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<!-- header layout -->
			<ng-include src="getTemplate('common/header.html')"></ng-include>
		
			<!-- breadcrumbs -->
			<ng-include src="getTemplate('common/navigation/breadcrumbs.html')"></ng-include>

			<button data-toggle="offcanvas" class="hidden" id="offcanvas" type="button"></button>

			<div class="clearfix"></div>
			
			<!-- main content layout -->
			<ng-view></ng-view>

			<div class="clearfix"></div>
			
		</div>
	</div>

	<!-- footer layout -->
	<ng-include src="getTemplate('common/footer.html')"></ng-include>
</div>

<!-- login and registration modals -->
<ng-include src="getTemplate('visitor/modal/login.html')"></ng-include>
<ng-include src="getTemplate('visitor/modal/registration.html')"></ng-include>

<!-- minicart modal -->
<ng-include src="getTemplate('cart/quick-cart.html')" ng-controller="cartListController"></ng-include>

<!-- add your srcipts here -->
<script src="themes/default/scripts/main.js"></script>
<script src="themes/default/lib/fancybox/jquery.fancybox.js"></script>