<!-- Default bootstrap.css Don't replace it -->
<add-css src="bootstrap.css"></add-css>
<!-- your bootsrap theme's file -->
<add-css src="bootstrap-theme.css"></add-css>
<!-- your custom.css -->
<add-css src="style.css"></add-css>
<add-css src="jquery-ui-1.10.3.custom.css"></add-css>

<div id="wrapper">
	<div id="wrapper-inner">
		<!-- header layout -->
		<ng-include src="getTemplate('common/header.html')"></ng-include>

		<!-- breadcrumbs -->
		<ng-include src="getTemplate('navigation/breadcrumbs.html')"></ng-include>

		<ng-include src="getTemplate('navigation/categories.html')"></ng-include>

		<!-- main content layout -->
		<ng-view></ng-view>

		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<!-- footer layout -->
	<ng-include src="getTemplate('common/footer.html')"></ng-include>
</div>


<!-- 
	//modals 
-->
<!-- login and registration modals -->
<ng-include src="getTemplate('modals/login.html')"></ng-include>
<ng-include src="getTemplate('modals/registration.html')"></ng-include>

<!-- minicart modal -->
<ng-include src="getTemplate('modals/minicart.html')" ng-controller="cartListController"></ng-include>

<!-- add your srcipts here -->
<script src="themes/default/scripts/main.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">