<div class="clear"></div>
<footer>
    <!-- footer links -->
    <div class="vertical-middle">
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">stockists</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">press</a></li>
                <li><a href="#">contacts</a></li>
            </ul>
        </nav>
    </div>

    <!-- social icons -->
    <div class="social">
        <a href="#" class="fa fa-google-plus"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>
    </div>
    <div class="clear"></div>
</footer><!-- footer end -->