<div class="clear"></div>
<footer>
    <!-- footer links -->
    <div class="vertical-middle">
        <nav>
            <ul ng-controller="commonSidebarController">
                <li ng-repeat="item in sidebar.getItems()">
                    <a href="{{sidebar.getUrl(item.link)}}" title="{{item.title}}">{{item.title}}</a><span ng-if="!$last"></span>
                </li>
            </ul>
        </nav>
    </div>

    <!-- social icons -->
    <div class="social">
        <a href="https://plus.google.com" class="fa fa-google-plus"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    </div>
    <div class="clear"></div>
</footer><!-- footer end -->