@font-face {
    font-family: 'overlockblack';
    src: url('overlock-black.eot');
    src: url('overlock-black.eot?#iefix') format('embedded-opentype'),
         url('overlock-black.woff') format('woff'),
         url('overlock-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlockblack_italic';
    src: url('overlock-blackitalic.eot');
    src: url('overlock-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('overlock-blackitalic.woff') format('woff'),
         url('overlock-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlockbold';
    src: url('overlock-bold.eot');
    src: url('overlock-bold.eot?#iefix') format('embedded-opentype'),
         url('overlock-bold.woff') format('woff'),
         url('overlock-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlockbold_italic';
    src: url('overlock-bolditalic.eot');
    src: url('overlock-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('overlock-bolditalic.woff') format('woff'),
         url('overlock-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlockitalic';
    src: url('overlock-italic.eot');
    src: url('overlock-italic.eot?#iefix') format('embedded-opentype'),
         url('overlock-italic.woff') format('woff'),
         url('overlock-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlockregular';
    src: url('overlock-regular.eot');
    src: url('overlock-regular.eot?#iefix') format('embedded-opentype'),
         url('overlock-regular.woff') format('woff'),
         url('overlock-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'overlock_scregular';
    src: url('overlocksc-regular.eot');
    src: url('overlocksc-regular.eot?#iefix') format('embedded-opentype'),
         url('overlocksc-regular.woff') format('woff'),
         url('overlocksc-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}