<div class="main-menu">
	<ul class="nav navbar-nav">
		<li class="first visible-xs">
			<a ng-href="/cart">Shopping Bag</a>
		</li>
		<li class="dropdown-hover first">
			<a ng-href="/organic-skin-care">Organic Skin Care</a>
			<ul class="dropdown-menu">
				<li><a ng-href="/organic-skin-care/philosophy">Philosophy</a></li>
				<li><a ng-href="/organic-skin-care/ingredients">Ingredients</a></li>
				<li><a ng-href="/organic-skin-care/skin-care-tips">Holistic Skin Care Tips</a></li>
			</ul>
		</li>

		<li class="dropdown-hover">
			<a ng-href="/facial-oil">Facial Oil</a>
			<ul class="dropdown-menu">
				<li><a ng-href="/facial-oil/cleansing-oil">Cleansing Oil</a></li>
				<li><a ng-href="/facial-oil/essential-serum">Essential Serum</a></li>
				<li><a ng-href="/facial-oil/hydrating-tonic">Hydrating Tonic</a></li>
				<li><a ng-href="/facial-oil/starter-kit">Starter Kit</a></li>
				<li><a ng-href="/facial-oil/the-system">The KG System</a></li>
			</ul>
		</li>

		<li class="dropdown-hover">
			<a ng-href="/natural-lip-balm">Natural Lip Balm</a>
			<ul class="dropdown-menu">
				<li><a ng-href="/natural-lip-balm/lip-treatment">Lip Treatment</a></li>
				<li><a ng-href="/natural-lip-balm/lip-treatment/lip-whip-naked">Lip Whip Naked</a></li>
				<li><a ng-href="/natural-lip-balm/lip-treatment/lip-whip-tinted">Lip Whip Tinted</a></li>
				<li><a ng-href="/natural-lip-balm/lip-gloss">Lip Gloss</a></li>
				<li><a ng-href="/natural-lip-balm/lip-gloss/lip-whip-radiant">Lip Whip Radiant</a></li>
				<li><a ng-href="/natural-lip-balm/lip-gloss/lip-whip-naughty">Lip Whip Naughty</a></li>
				<li><a ng-href="/natural-lip-balm/lip-gloss/lip-whip-radiant">Lip Whip Nice</a></li>
				<li><a ng-href="/natural-lip-balm/lip-gloss/lip-whip-marsala">Lip Whip Marsala</a></li>
			</ul>
		</li>

		<li class="dropdown-hover">
			<a ng-href="/mineral-makeup">Mineral Makeup</a>
			<ul class="dropdown-menu">
				<li><a ng-href="/mineral-makeup/foundation">Foundation</a></li>
				<li><a ng-href="/mineral-makeup/customizable-liquid-foundation">Customizable Liquid Foundation</a></li>
				<li><a ng-href="/mineral-makeup/concealer">Concealer</a></li>
				<li><a ng-href="/mineral-makeup/blush">Blush</a></li>
				<li><a ng-href="/mineral-makeup/eyeshadow">Eyeshadow</a></li>
				<li><a ng-href="/mineral-makeup/setting-powder">Setting Powder</a></li>
				<li><a ng-href="/mineral-makeup/makeup-system">Makeup System</a></li>
				<li><a ng-href="/mineral-makeup/foundation-sample-kit">Foundation Sample Kit</a></li>
			</ul>
		</li>

		<li class="dropdown-hover">
			<a ng-href="/skin-care-videos">Videos</a>
			<ul class="dropdown-menu">
				<li><a href="/skin-care-videos/morning-skin-care-tips">Morning Skin Care Tips</a></li>
				<li><a href="/skin-care-videos/evening-skin-care-tips">Evening Skin Care Tips</a></li>
			</ul>
		</li>

		<li class="dropdown-hover">
			<a ng-href="/shop">Shop</a>
			<ul class="dropdown-menu">
				<li><a ng-href="/shop/organic-skin-care">Skin Care</a></li>
				<li><a ng-href="/natural-lip-balm">Lip Balm</a></li>
				<li><a ng-href="/mineral-makeup">Makeup</a></li>
				<li><a ng-href="/organic-skin-care-gifts">Gifts</a></li>
			</ul>
		</li>

		<li class="last" ng-if="!visitorProps.isLoggedIn">
			<a ng-href="/login">Login</a>
		</li>

		<li class="last" ng-if="visitorProps.isLoggedIn">
			<a href="/account">My Account</a>
		</li>
	</ul>
</div>
