<div class="pull-right main-menu">
	
	<ul ng-controller="commonHeaderController" class="nav navbar-nav">
		<!-- categories controller wrapper -->
	    <li ng-repeat="item in categories;" class="list-unstyled hidden-xs" >
			<a ng-href="{{categoryService.getUrl(item.id)}}" target="{{item.id != null ? '' : '_self'}}" class="text-muted display">
				{{item.name}}
		    </a>

		    <ul class="second-level" ng-if="item.child.length &gt 0">
		      	<li class="list-unstyled" ng-repeat="item in item.child;" ng-include="getTemplate('common/navigation/categories-items.html')"></li>
		    </ul>
		</li> 

		<li ng-repeat="item in categories;" class="visible-xs" >
			<a href="{{categoryService.getUrl(item.id)}}" target="{{item.id != null ? '' : '_self'}}" class="text-muted dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown">
				{{item.name}}
				<span class="caret" ng-if="item.child.length &gt; 0"></span>
		    </a>

		    <ul class="dropdown-menu" role="menu" ng-if="item.child.length &gt 0">
		      	<li class="list-unstyled" ng-repeat="item in item.child;" ng-include="getTemplate('common/navigation/categories-items.html')"></li>
		    </ul>
		</li>

		<li class="list-unstyled hidden-xs">
			<a href="">We're Different</a>

		    <ul class="second-level">
		      	<li class="list-unstyled">
		      		<a href="/our-story">Our Story</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/ingredients">Ingredients</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/philosophy">Philosophy</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/why-oil-works">Why Oils Work</a>
		      	</li>
		    </ul>
		</li> 
		<li class="list-unstyled visible-xs">
			<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
				We're Different 
				<span class="caret"></span>
			</a>

		    <ul class="dropdown-menu" role="menu">
		      	<li class="list-unstyled">
		      		<a href="/our-story">Our Story</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/ingredients">Ingredients</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/ingredients">Philosophy</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/why-oil-works">Why Oils Work</a>
		      	</li>
		    </ul>
		</li> 
		
		<li class="list-unstyled hidden-xs">
			<a href="">how to</a>

		    <ul class="second-level">
		      	<li class="list-unstyled">
		      		<a href="/how-to-skin-care-morning">Skin Care - Morning</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/how-to-skin-care-evening">Skin Care - Evening</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/holistic-skin-care-tips">Holistic Skin Care Tips</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/faq">FAQ</a>
		      	</li>
		    </ul>
		</li>
		<li class="list-unstyled visible-xs">
			<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
				how to 
				<span class="caret"></span>
			</a>

		    <ul class="dropdown-menu" role="menu">
		      	<li class="list-unstyled">
		      		<a href="/how-to-skin-care-morning">Skin Care - Morning</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/how-to-skin-care-evening">Skin Care - Evening</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/holistic-skin-care-tips">Holistic Skin Care Tips</a>
		      	</li>
		      	<li class="list-unstyled">
		      		<a href="/faq">FAQ</a>
		      	</li>
		    </ul>
		</li>  

	    <li class="visible-xs">
	    	<a href="/cart">Cart</a>
	    </li>
	    
	</ul>

	<ul class="nav navbar-nav" ng-controller="commonSidebarController">

	    <li ng-repeat="item in sidebar.getItems()">
	        <a href="/{{item.link}}" title="{{item.title}}">{{item.title}}</a>
	        <span ng-if="!$last"></span>
	    </li>

	    <!-- login/account/logout buttons -->
	    <li ng-controller="commonHeaderController" >
	    	<a href="{{item.link}}" ng-repeat="item in rightMenu.getMenuRight()" >{{item.label}}</a>
	    </li>

	    <!-- cart controller wrapper -->
	    <li class="cart-wrapper hidden-xs" target="_self" ng-click="clickToCartDesktop()" ng-controller="visitorLoginController" >
	        <!-- cart button -->
	        <div class="shopping-cart" ng-controller="commonHeaderController" >
	            <!-- items counter -->
	            <span ng-controller="cartListController">{{it.getCountItems()}}</span>
	        </div>
	    </li>
	</ul>
</div>
