<div class="page-title"></div>
<div ng-init="init()">
    <div class="account-left">

        <!-- AVATAR -->
        <!--    <div class="block-avatar">
                <a href="#/account"><img ng-src="{{visitorService.getAvatar()}}" alt="{{visitorService.getFullName()}}"></a>
            </div>-->

        <!-- MENU -->
        <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>

    </div>

    <div class="account-right">
        <!-- HELLO -->
        <!--    <div class="block-hello">
                Hello, {{visitorService.getFullName()}}-->
        <!-- LogOut -->

        <!-- PROFILE DETAILS AND EDIT FORM -->
        <ng-include src="getTemplate('visitor/account/profile.html')"></ng-include>
    </div>



    <!-- BILLING ADDRESS  -->
    <!--    <ng-include src="getTemplate('visitor/account/billing-address.html')"></ng-include>-->

    <!-- SHIPPING ADDRESS  -->
    <!--   <ng-include src="getTemplate('visitor/account/shipping-address.html')"></ng-include>-->

</div>
<!-- Change password popUp -->
<ng-include src="getTemplate('visitor/account/change-password.html')"></ng-include>
</div>