<div class="page-title"></div>
<div  ng-init="init()" ng-controller="visitorLoginController">
    <div class="login-page">
        <h3>my account</h3>
        <div class="col-md-4">
            <div class="col-md-10">
                <h5>Login With Social Media</h5>
                <a href ng-click="googleLogin()"></a>
                <a href ng-click="facebookLogin()"></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-10 ch-form">
                <h5>Already Registered?</h5>
                <!--<div class="form-group col-md-12">-->
                    <!--<gui-message-manager item="message"></gui-message-manager>-->
                <!--</div>-->
                <div class="form-group col-md-12">
                    <label for="email">Email Address</label>
                    <input id="email" type="text" class="form-control" name="email"  ng-model="loginCredentials.email">
                </div>
                <div class="form-group col-md-12">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="password" ng-model="loginCredentials.password">
                </div>
                <a href class="btns" ng-click="signIn()">Login</a>
                <div class="clear"></div>
                <a href>Forgot your password?</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-10">
                <h5>New to Rich Kids?</h5>
                <a href="#/registration" class="btns">Create Account</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>



