<div class="modal fade" id="form-registration" tabindex="-1" role="dialog" ng-controller="visitorLoginController">
    <div class="modal-dialog login registration">
        <div class="login-close"></div>
        <div class="modal-content ch-form">
            <h6>REGISTRATION</h6>
            <form role="form">

                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" id="email" placeholder="email" ng-model="login.email"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="fname">First Name</label>
                    <input class="form-control" type="text" id="fname" placeholder="fname" ng-model="login.fname"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="lname">Last Name</label>
                    <input class="form-control" type="text" id="lname" placeholder="lname" ng-model="login.lname"
                           autocomplete="off"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" placeholder="password" ng-model="login.password"
                           autocomplete="off"/>
                </div>
            </form>
            <div class="clear"></div>
            <div class="form-group col-md-6">
                <div class="button btn-black" ng-click="save()">Register</div>
                <a href="" target="_self" id="modal-login">Login</a>
            </div>
            <div class="form-group col-md-6">
                <ng-include src="getTemplate('visitor/social/facebook.html')"></ng-include>
                <ng-include src="getTemplate('visitor/social/google.html')"></ng-include>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    $("#modal-registration").click(function () {
        $("#form-registration").modal("show");
    });
    $("#form-registration").find("#modal-login").click(function () {
        $(".modal").modal("hide");
        $("#form-login").modal("show");
    });
    $(".login-close").click(function () {
        $(".modal").modal("hide");
    });
</script>