<div class="page-title"></div>

<div ng-controller="visitorLoginController">
    <div class="login-page registration-page">
        <h3>my account</h3>
        <div class="col-md-4">
            <div class="col-md-10">
                <h5>Create Account With</h5>
                <a href ng-click="googleLogin()"></a>
                <a href ng-click="facebookLogin()"></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-10 ch-form">
                <!--First name-->
                <div class="form-group col-md-6">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="First name" ng-model="login.fname" />
                </div>
                <!--Email-->
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input id="email" type="text" class="form-control" name="email"  ng-model="login.email" />
                </div>
                <!--Last name-->
                <div class="form-group col-md-6">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="form-control" id="LastName" placeholder="Last name" ng-model="login.lname" />
                </div>
                <!--Password-->
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="password" ng-model="login.password" />
                </div>
                <!--Birthday-->
                <div class="form-group col-md-6">
                    <label>Date of Birth (MM/DD/YYYY)</label>
                    <input type="text" id="datepicker" class="form-control" >
                    <!--<div class="select">-->
                        <!--<select name="status form-control">-->
                            <!--<option value="1" selected="selected">01</option>-->
                            <!--<option value="2">02</option>-->
                            <!--<option value="3">03</option>-->
                            <!--<option value="4">04</option>-->
                            <!--<option value="5">05</option>-->
                            <!--<option value="6">06</option>-->
                            <!--<option value="7">07</option>-->
                            <!--<option value="8">08</option>-->
                            <!--<option value="9">09</option>-->
                            <!--<option value="10">10</option>-->
                            <!--<option value="11">11</option>-->
                            <!--<option value="12">12</option>-->
                        <!--</select>-->
                    <!--</div>-->
                </div>
                <!--<div class="form-group col-md-2">-->
                    <!--<label>&nbsp;</label>-->
                    <!--<div class="select">-->
                        <!--<select name="status form-control">-->
                            <!--<option value="1" selected="selected">01</option>-->
                            <!--<option value="2">02</option>-->
                            <!--<option value="3">03</option>-->
                            <!--<option value="4">04</option>-->
                            <!--<option value="5">05</option>-->
                            <!--<option value="6">06</option>-->
                            <!--<option value="7">07</option>-->
                            <!--<option value="8">08</option>-->
                            <!--<option value="9">09</option>-->
                            <!--<option value="10">10</option>-->
                            <!--<option value="11">11</option>-->
                            <!--<option value="12">12</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group col-md-2">-->
                    <!--<label>&nbsp;</label>-->
                    <!--<div class="select">-->
                        <!--<select name="status form-control">-->
                            <!--<option value="1" selected="selected">01</option>-->
                            <!--<option value="2">1980</option>-->
                            <!--<option value="3">1981</option>-->
                            <!--<option value="4">1982</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="clear"></div>
                <div class="form-group col-md-6">
                    <a href class="btns" ng-click="save()">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $(function() {
$( "#datepicker" ).datepicker({
yearRange: "-80:-10",
changeMonth: true,
changeYear: true
});
});
</script>