<div class="content have-aside animated fadeInUp">

    <!-- product brands -->
    <!-- <nav class="brands">
        <h5>brands</h5>
        <ul>
            <li><a href="#">adidas</a></li>
            <li><a href="#">asics</a></li>
            <li><a href="#">clarks</a></li>
            <li><a href="#">concept</a></li>
            <li><a href="#">gucci</a></li>
            <li><a href="#">lanvin</a></li>
            <li><a href="#">new balance</a></li>
            <li><a href="#">nike</a></li>
            <li><a href="#">puma</a></li>
            <li><a href="#">reebok</a></li>
            <li><a href="#">rizzoli</a></li>
            <li><a href="#">saint laurent</a></li>
        </ul>
    </nav> -->
    <!-- products -->
    <div class="product" ng-repeat="_item in productsList | filter:searchText" ng-show="productsList.length">
        <a href="{{productService.getUrl(_item._id)}}">
            <img ng-src="{{getImage(_item)}}" alt="_item.Name" ng-show="productsList.length">
            <img ng-src="{{getImg('placeholder.png')}}" alt="placeholder" ng-hide="productsList.length">
        </a>
        <div class="hidden-group">
            <div class="wrapper">
                <div class="name">{{_item.name}}</div>
                <div class="price">{{_item.price | number : 2 | currency}}</div>
                <div class="button-group">
                    <button class="btn white quick-view" ng-click="openPopUp(_item);">quick view</button>
                    <a href="{{productService.getUrl(_item._id)}}" class="btn black detail">details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product" ng-repeat="_item in productsList | filter:searchText" ng-hide="productsList.length" ng-hide="_item.length">
        <a href="{{productService.getUrl(_item._id)}}">
            <img ng-src="{{getImg('placeholder.png')}}" alt="placeholder"/>
        </a>
    </div>
    <div class="clear"></div>

    <!-- pagination -->
    <!-- <gui-paginator object="this"></gui-paginator> -->
</div>


<!-- left side categories -->
<aside class="left-side">

    <!-- product categories -->
    <nav class="categories">
        <ul>
            <li><a href="#">all categories</a></li>
            <li><a href="#">accessories</a></li>
            <li><a href="#">bags</a></li>
            <li><a href="#">clothing</a></li>
            <li><a href="#">shoes</a></li>
        </ul>
    </nav>
</aside>

<!-- right side filters -->
<aside class="right-side">
    <!-- First level -->
    <ul>
        <li>
            Filter
            <span></span>
            <!-- Second level -->
            <ul>
                <li class="second-level" ng-repeat="(filter, items) in layered" ng-if="items.length>0">
                    {{filter}}
                    <span></span>
                    <!-- Third level -->
                    <ul>
                        <li>
                            <a ng-href="" ng-repeat="item in items">
                                <div>{{item}}</div>
                                <input type="checkbox" ng-model="filters[filter][item]">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="sort">
        <li>
            Sort
            <span ng-click="toggleBlock('sort')"></span>
            <ul>
                <li class="second-level" ng-show="blocks.sort">
                    <a href="" target="_self" ng-click="sortByPrice('asc')" class="full-width">price low to high</a>
                    <a href="" target="_self" ng-click="sortByPrice('desc')" class="full-width">price high to low</a>
                    <a href="" target="_self" ng-click="sortByName('asc')" class="full-width">name asc</a>
                    <a href="" target="_self" ng-click="sortByName('desc')" class="full-width">name desc</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<div class="clear"></div>

<!-- product modal window -->
<div id="modal_window">
    <div class="window">
        <i class="fa">×</i>
        <div class="left-side">
            <div class="name">{{popupProduct.name}}</div>
            <div class="model">{{popupProduct.short_description}}</div>
            <div class="price">{{popupProduct.price | currency}}</div>
        </div>

        <a href="{{productService.getUrl(popupProduct._id)}}" class="main-image">
            <span>
                <img alt="{{popupProduct.name}}" ng-src="{{getImage(popupProduct)}}">
            </span>
        </a>

        <div class="right-side">        
            <div class="sizes">
                <gui-custom-options item="popupProduct" object="this"></gui-custom-options>
            </div>
            <div class="button-group">
                <a href="" class="btn black add-to-cart" ng-click="addToCart(popupProduct._id)">add to cart</button>
                <a href="{{productService.getUrl(popupProduct._id)}}" class="btn detail-view">detail view</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>