<div ng-init="init()">

    <h3 class="text-center">&nbsp;{{category.name}}</h3>
    <br>

    <!-- left-side menu -->
    <div class="col-lg-3 col-xs-12">
        <!-- filters -->
        <ng-include src="getTemplate('common/navigation/filters.html')"></ng-include>
    </div>
    
    <!-- products -->
    <div class="col-sm-12 col-lg-9 col-xs-12">
        <div class="col-sm-4 col-lg-3 col-xs-12 product" ng-repeat="_item in productsList | filter:searchText" ng-show="productsList.length">

            <!-- product desktop version with info -->
            <span class="thumbnail hidden-xs">
                <!-- image -->
                <img ng-src="{{getImage(_item)}}" ng-click="openPopUp(_item);" alt="" err-src="placeholder.png">
                <span class="caption text-center">
                    <!-- product name -->
                    <h5 class="ng-binding">{{_item.name}}</h5>
                    <!-- product price -->
                    <h4 class="ng-binding">{{_item.price | number : 2 | currency}}</h4>
                    
                    <!-- buttons -->
                    <span class="col-md-12 center-block">
                        <span class="btn-group col-sm-12">

                            <!-- quick view -->
                            <a href="{{productService.getUrl(_item._id)}}" class="btn col-sm-6 btn-primary" ng-click="openPopUp(_item);">
                                <i class="glyphicon glyphicon-search"></i>
                            </a>

                            <!-- fast shoping -->
                            <span class="btn col-sm-6 btn-default" ng-click="addToCart(_item._id)">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </span>
                        </span>
                        <span class="clearfix"></span>
                    </span>
                    <span class="clearfix"></span>
                </span>
            </span>
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail visible-xs">
                <img ng-src="{{getImage(_item)}}" alt="" err-src="placeholder.png">
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    
</div>

<!-- quick view modal -->
<ng-include src="getTemplate('category/modal/quick-view.html')"></ng-include>

<style>
    .product {
        float: none;
        display: inline-block;
    }
    .product img {
        width: 100%;
        height: 340px;
        cursor: pointer;
    }
    .product h5 {
        height: 30px;
        margin-top: 0;
    }
</style>