<section class="content">
    <section class="slider">
        <div class="rslides_container">
            <ul class="rslides" id="slider1">
                <li>
                    <img ng-src="{{getImg('slider/slider5.jpg')}}" alt="">

                    <div class="slider-show">
                        <img class="slider-logo" ng-src="{{getImg('slider-logo.png')}}" alt="logo">

                        <h3>the rich getaway</h3>
                        <h4>su14</h4>
                    </div>
                </li>
                <li><img ng-src="{{getImg('slider/slider6.jpg')}}" alt=""></li>
                <li><img ng-src="{{getImg('slider/slider5.jpg')}}" alt=""></li>
                <li><img ng-src="{{getImg('slider/slider6.jpg')}}" alt=""></li>
            </ul>
        </div>
        <div class="slider-show">
            <div class="slider-soc">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <!--    <div class="arrow-bottom"></div>-->
            <a href="#">shop now</a>
        </div>
        <div class="clear"></div>
    </section>
    <section class="slider-bottom">
        <div id="navbtns" class="clearfix">
            <a href="#" class="previous">
                <img class="swipe" alt="swipe" ng-src="{{getImg('swipe-left.jpg')}}">
            </a>
            <a href="#" class="next">
                <img class="swipe" alt="swipe" ng-src="{{getImg('swipe-right.jpg')}}">
            </a>
        </div>
        <div id="w">
            <div class="crsl-items" data-navigation="navbtns">
                <div class="crsl-wrap">
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide1.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide2.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide3.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide1.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide2.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="crsl-item">
                        <div class="thumbnail">
                            <img ng-src="{{getImg('slider/slide3.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <section class="c-img">
        <div ng-repeat="_item in products" ng-show="products.length">
            <a class="" href="#/product/{{_item.Id}}">
                <img ng-src="{{getImage(_item.Image)}}" alt="_item.Name"/>
            </a>
        </div>
    </section>
    <section class="c-img" ng-hide="products.length">
        <div ng-repeat="_item in products">
            <a class="" href="#/product/{{_item.Id}}">
                <img ng-src="{{getImg('placeholder.png')}}" alt="placeholder"/>
            </a>
        </div>
    </section>
    <div class="clear"></div>
    <section class="c-img-tablet">
        <div class="tablet-block" ng-repeat="_item in products">
            <a class="" href="#/product/{{_item.Id}}">
                <img ng-src="{{getImage(_item.Image)}}" alt="_item.Name"/>
            </a>

            <div class="tablet-shadow">
                <h6>{{_item.Name}}</h6>

                <p>$ {{_item.Price}}</p>
            </div>
        </div>
        <div class="clear"></div>
    </section>


</section><!-- end content -->
<script>
    // small slider
    (function ($) {
        // big slider
        $("#slider1").responsiveSlides({
            auto: false,
            pager: true,
            nav: true,
            speed: 500,
            maxwidth: 1446,
            namespace: "centered-btns"
        });


        $(".crsl-items").carousel({
            visible: 3,
            itemMinWidth: 180,
            itemEqualHeight: 370,
            itemMargin: 9
        });
        $("a[href=#]").on("click", function (e) {
            e.preventDefault();
        });

        $(document).ready(function () {
            setTimeout(function () {
                $(".crsl-items").carousel({
                    visible: 3,
                    itemMinWidth: 180,
                    itemEqualHeight: 370,
                    itemMargin: 9
                });
            }, 100)
        })
    })(jQuery)
</script>

