/**
 * cart item
 */
.cart-item__img {
    display: block;
}
.cart-item__product-subtotal {
    text-align: center;
    font-size: 16px;
    line-height: 34px;
}
.cart-item__product-qty input {
    text-align: center;

    // remove the spinner
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.cart-item__divider {
    margin: ($grid-gutter-width / 2) 0;
    border-bottom: 1px solid $gray-lighter;
}

// Make the remove look more like a link than a button on xs
@media (max-width: $screen-xs-max) {
    .cart-item__product-remove .btn{
        text-align: left;
        padding-left: 0;
    }
}

// Align with the product title
@media (min-width: $screen-sm-min) {
    .cart-item__product-remove,
    .cart-item__product-qty,
    .cart-item__product-subtotal {
        margin-top: ($line-height-computed / 2);
    }
}

// not enough room for remove text as well
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .cart-item__product-remove-text {
        display: none;
    }
}

/**
 * cart footer
 */
.cart-footer__items,
.cart-footer__subtotal {
    font-weight: bold;
}