<!-- Modal mini cart-->
<div class="modal hidden-xs fade mini-cart" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">

                <!-- modal close button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <!-- modal title -->
                <h4 class="modal-title" id="myModalLabel">Quick Cart</h4>
            </div>

            <!-- modal content -->
            <div class="modal-body" ng-hide="it.getCountItems()">

                <!-- if cart empty -->
                <h3 class="text-center">
                    <p>Cart is empty</p>
                </h3>
            </div>

            <!-- product table -->
            <table class="table">

                <!-- product row -->
                <tr ng-repeat="item in it.getItemsForMiniCart()">

                    <!-- image -->
                    <td class="hidden-xs text-center" style="width: 140px">
                        <a href="{{productService.getUrl(item.pid)}}">
                            <img ng-src="{{ item.product.image.small }}" err-src="placeholder.png" alt="{{item.product.name}}" class="img-responsive">
                        </a>
                    </td>

                    <!-- product info -->
                    <td width="450px">
                        <!-- product name -->
                        <h4 class="">
                            {{item.product.name}}

                        </h4>
                        <!-- product price -->
                        <h4>
                            {{item.product.price | currency}}
                        </h4>
                        <!-- product options -->
                        <p ng-repeat="(key, value) in item.options">
                            {{key}}: {{productService.getOptStr(value)}}<span ng-if="!$last">,</span>
                        </p>
                    </td>

                    <!-- product quantity -->
                    <td>

                        <div class="input-group" style="width:150px;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="changeQty(item,'down');update(item.idx, item.qty)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control text-center" style="width:50px;" value="{{item.qty}}" ng-model="item.qty" ng-change="update(item.idx, item.qty)">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="changeQty(item,'up');update(item.idx, item.qty)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>

                    </td>

                    <!-- remove product -->
                    <td>
                        <a href="" class="btn btn-danger" ng-click="it.remove(item.idx)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>

                </tr>
            </table>

            <div class="text-center" ng-if="$last && (it.getCountItems() > it.getItemsForMiniCart().length)">
                <a href="/cart" class="total">
                    <strong>{{it.getCountItems() - 3}} items more...</strong>
                </a>
            </div>

            <!-- total counter -->
            <h3 ng-show="it.getCountItems()" class="text-center">
                <p>Total: <span>{{it.getSubtotal() | currency}}</span></p>
            </h3>

            <!-- modal footer buttons -->
            <div class="modal-footer" ng-hide="!it.getCountItems()">
                <a href="/cart" target="_self" class="btn btn-default">
                   View cart
                </a>
                <a href="{{checkout.getUrl()}}" target="_self" class="btn btn-primary">
                    Proceed to Checkout
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle;
        display: table-cell !important;
    }
</style>
