<div class="container">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <h1>Cart</h1>
            </div>
            <div class="hidden-xs col-sm-4 col-md-6" ng-show="cart.getCountItems()">
                <div class="row">
                    <div class="hidden-sm col-md-6">
                        <a class="btn btn-lg btn-block btn-default"
                            href="/">
                            Continue Shopping
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-lg btn-block btn-primary"
                            href="/checkout">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- we do *not* have items in cart -->
    <div ng-hide="cart.getCountItems()">
        <p class="text-center">No items are currently in your cart.</p>
        <p class="text-center">
            <a class="btn btn-lg btn-primary"
                href="/">
                Continue Shopping
            </a>
        </p>
    </div>

    <!-- we have items in cart -->
    <div ng-show="cart.getCountItems()">
        <!-- xs action -->
        <div class="visible-xs m-b">
            <a class="btn btn-lg btn-block btn-primary"
                href="/checkout">
                Proceed to Checkout
            </a>
        </div>

        <!-- product row -->
        <div ng-repeat="item in cart.getItems()">

            <div class="row">
                <!-- image -->
                <div class="col-xs-6 col-sm-3">
                    <a class="cart-item__img"
                        href="{{productService.getUrl(item.pid)}}">
                        <img class="img-responsive"
                            ng-src="{{ item.product.image.small }}"
                            err-src="placeholder.png"
                            alt="{{item.product.name}}" />
                    </a>
                </div>

                <div class="col-xs-6 col-sm-9">
                    <div class="row">
                        <!-- info -->
                        <div class="col-sm-6">
                            <h4>{{item.product.name}}</h4>

                            <ul class="list-unstyled">
                                <li>Unit Price: {{item.product.price | number: 2 | currency}}</li>
                                <li ng-repeat="(key, value) in item.options">
                                    {{key}}:
                                    <span ng-switch="item.product.options[key].type">
                                        <span ng-switch-when="date">{{value | date}}</span>
                                        <span ng-switch-default>{{productService.getOptStr(value)}}</span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <!-- qty -->
                        <div class="col-sm-2 cart-item__product-qty">
                            <div class="form-group">
                                <label class="visible-xs">Quantity:</label>
                                <select class="form-control"
                                    ng-show="item.qty < 10"
                                    ng-model="item.qty"
                                    ng-change="update(item.idx, item.qty)"
                                    ng-options="option.value as option.label for option in qtyOptions">
                                </select>

                                <input type="number"
                                    class="form-control"
                                    ng-show="item.qty >= 10"
                                    ng-model="item.qty"
                                    ng-model-options="{debounce: {'default': 500}}"
                                    ng-change="update(item.idx, item.qty)" />
                            </div>
                        </div>

                        <!-- price desktop -->
                        <div class="hidden-xs col-sm-2 cart-item__product-subtotal">
                            {{item.product.price * item.qty | currency}}
                        </div>

                        <!-- sm/md/lg product removal -->
                        <div class="col-sm-2 cart-item__product-remove">
                            <a class="btn btn-block btn-link"
                                ng-click="remove(item.idx)">
                                <i class="fa fa-close"></i>
                                <span class="cart-item__product-remove-text">remove</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-item__divider"></div>
        </div>

        <!-- footer -->
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="row cart-footer__items">
                    <div class="col-xs-6">Items in Cart:</div>
                    <div class="col-xs-6 text-right">{{cart.getTotalQuantity()}}</div>
                </div>

                <div class="row m-b cart-footer__subtotal">
                    <div class="col-xs-6">Subtotal:</div>
                    <div class="col-xs-6 text-right">{{cart.getSubtotal() | currency}}</div>
                </div>

                <!-- actions -->
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6 m-b">
                        <a class="btn btn-lg btn-block btn-primary"
                            href="/checkout">
                            Proceed to Checkout
                        </a>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6 m-b">
                        <a class="btn btn-lg btn-block btn-default"
                            href="/">
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

