<div class="mini-cart">
    <div class="head">
        <h4>Shopping Cart</h4>
    </div>
    <div class="content">
        <div class="item" ng-repeat="item in cart.getItems()" ng-class-odd="'odd'" ng-class-even="'even'">
            <div>
                {{item.product.name}}<span class="remove glyphicon glyphicon-remove" ng-click="cart.remove(item.idx)"></span>
            </div>
            <div><b>Qty</b>: {{item.qty}}</div>
            <div><b>Price</b>: ${{item.product.price}}</div>
        </div>
        <div class="item" ng-hide="cart.getCountItems()">
            <h5>Cart is empty</h5>
        </div>
    </div>
    <div class="footer">
        <a href="#/cart" target="_self" class="left">Shopping Cart</a>
        <a href="#/account" target="_self" class="right">My Account</a>
    </div>
</div>

<script>
    jQuery(".mini-cart").find(".footer > a").click(function(){
        jQuery(".mini-cart").hide();
    })
</script>