<div class="cart" ng-init="init()">
    <div class="cart-item" ng-repeat="item in it.getItems()" ng-show="it.getCountItems()">
        <div class="image">
            <a href="#/product/{{item.pid}}"><img ng-src="{{getImage(item.product)}}" alt="{{item.product.name}}"/></a>
        </div>
        <div class="info">
            <span><b>{{item.product.name}}</b></span> <br/>
            <span><b>QTY</b>: <input type="number" ng-model="item.qty" min="1" ng-change="update(item.idx, item.qty)"/></span><br/>
            <span><b>Price</b>: ${{item.product.price | number: 2}}</span><br/>
            <span class="remove glyphicon glyphicon-remove" ng-click="remove(item.idx)"></span>
        </div>
        <hr/>
    </div>
    <div class="cart-item" ng-hide="it.getCountItems()">
        <h3>Cart is empty</h3>
        <hr/>
    </div>
    <!-- Totals -->
    <div class="cart-item">
        <div>
            <span>Subtotal:</span>
            <span>{{getSubtotal()}}</span>
        </div>
        <div>
            <span>Sales Tax:</span>
            <span>{{getSalesTax()}}</span>
        </div>
        <div>
            <span>Shipping:</span>
            <span>{{getShipping()}}</span>
        </div>
        <div>
            <span>Total:</span>
            <span>{{getTotal()}}</span>
        </div>
    </div>
    <hr/>
    <div class="cart-item">
        <a href="#/checkout" class="btn btn-warning">Checkout</a>
    </div>
</div>