<div id="footer" class="navbar-default">
	<br>
  	<div class="container">	
		<span class="pull-left text-muted col-xs-12 col-sm-6">
		  	<strong>Ottemo</strong><br>
			  901 Occidental Ave S, Suite 404<br>
			  Seattle, WA 98134 USA<br>
		  	<abbr title="Phone">P:</abbr> (123) 456-7890
		</span>
		<span class="pull-right text-muted col-xs-12 col-sm-6">
		  	<strong>Copyright © 2014 Ottemo / All Rights Reserved</strong><br>
		  	<a href="mailto:#">ottemo@gmail.com</a>
		</span>
	<div class="clearfix"></div>
  	</div>
  	<br>
</div>