// Import Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");


body {
    -webkit-font-smoothing: antialiased;
}

a[ng-click] {
    cursor: pointer;
}

:-moz-submit-invalid,
:-moz-ui-invalid {
    box-shadow: none;
}

