#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 142px;
  height: 100%;
  z-index: 9;
  width: 70.75%;
  padding: 20px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
  background-color: $RightMenuGlobalBack;
  color: #FFF;
}