$GlobalHeaderBack: #efefef;
$GlobalHeaderBorder: #cccccc;
$GlobalHeaderShadow: #cccccc;
$MenuOpenLinkColor: #cabf45;
$LeftMenuGlobalBack: #efefef;
$LeftMenuFontColor:  #484b50;
$LeftMenuFontBorder: #d1d1d1;
$LeftMenuListBorder: #d5d5d5;
$CategoryMenuBack: #efefef;
$CategoryMenuBackBorder: #d5d5d5;
$CategoryMenuFontColor:  #3e4146;
$CategoryMenuCloseSub:    #b3aeae;
$CategoryMenuOpenSub:       #d5d5d5;







/* Mixins */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}