<div class="block-details billing-address">
    <div>
        <div class="static">
            <label for="billing_id">Billing address: </label>
            <br/>
            <select class="form-control" id="billing_id" ng-change="updateDefaultAddress()"
                    ng-init="visitor.billing_address_id = visitor.billing_address_id   || addresses[0]"
                    data-ng-model="visitor.billing_address_id"
                    data-ng-options="choice.ID as choice.Name for choice in addresses">
            </select>
        </div>
        <div ng-show="visitor.billing_address_id">
            <div>
                Street:
                <label ng-bind="visitor.billing_address.street" for="address-street"/>
                <input type="text" class="editable hidden" ng-model="visitor.billing_address.street"
                       id="address-street">
            </div>
            <div>
                City:
                <label ng-bind="visitor.billing_address.city" for="address-city"/>
                <input type="text" class="editable hidden" ng-model="visitor.billing_address.city" id="address-city">
            </div>
            <div>
                State:
                <label ng-bind="visitor.billing_address.state" for="address-state"/>
                <!--<input type="text" class="editable hidden" ng-model="visitor.billing_address.state" id="address-state">-->
                <gui-state class="editable hidden" model="visitor.billing_address.state" id="shippingAddressState"></gui-state>
            </div>
            <div>
                Phone:
                <label ng-bind="visitor.billing_address.phone" for="address-phone"/>
                <input type="text" class="editable hidden" ng-model="visitor.billing_address.phone" id="address-phone">
            </div>
            <div>
                Zip code:
                <label ng-bind="visitor.billing_address.zip_code" for="address-zip"/>
                <input type="text" class="editable hidden" ng-model="visitor.billing_address.zip_code" id="address-zip">
            </div>
        </div>
    </div>
    <button type="submit" id="billing-edit" class="btn btn-primary">Edit</button>
    <button type="submit" id="billing-update" class="btn btn-primary hidden" ng-click="billingUpdate()">Save</button>
</div>
<script>
    $("#billing-edit").click(function () {
        $(".billing-address").find(":not(.static)>label").hide();
        $(".billing-address").find(".editable").removeClass("hidden");
        $("#billing-update").removeClass("hidden");
        $("#billing-edit").addClass("hidden");

    })
    $("#billing-update").click(function () {
        $(".billing-address").find(":not(.static)>label").show();
        $(".billing-address").find(".editable:not(.static)").addClass("hidden");
        $("#billing-update").addClass("hidden");
        $("#billing-edit").removeClass("hidden");
    })
</script>
