<div class="col-sm-2 col-xs-12">
    <div class="list-group">
        <a href="#/account" class="list-group-item" ng-class="{'active': isActive('/account')}">
            Account settings
            <span></span>
        </a>

        <a href="#/account/address" class="list-group-item" ng-class="{'active': isActive('/account/address')}">
            Addresses
            <span></span>
        </a>
        <a href="#/account/orders" class="list-group-item" ng-class="{'active': isActive('/account/orders')}">
            Orders
            <span></span>
        </a>

    </div>
</div>