<h3>my account</h3>
<div class="account-menu">
    <ul>

        <li ng-class="{'active': isActive('/account')}">
            <a href="#/account">account settings</a>
            <span></span>
        </li>

        <li ng-class="{'active': isActive('/account/address')}">
            <a href="#/account/address">Addresses</a>
            <span></span>
        </li>
        <li ng-class="{'active': isActive('/account/orders')}">
            <a href="#/account/orders">Orders</a>
            <span></span>
        </li>
        <!--
        <li><a href="">Messages</a></li>
        <li><a href="" id="changePassword"><b>ChangePassword</b></a></li>
        <li><a href="#/cart"><b>Cart</b></a></li>
        <li><a href="">Wishlist</a></li>
        <li><a href="">Payments</a></li>
        <li><a href="">Shippings</a></li>
        -->
        <div class="clear"></div>
    </ul>
</div>
<script>
    jQuery("#changePassword").on("click", function () {
        jQuery("#form-change-password").modal("show");
    });
</script>