<div ng-init="init()" class="category">

    <h3 class="text-center">&nbsp;{{category.name}}</h3>
    
    <div class="menu" ng-controller="commonHeaderController">
        <div ng-repeat="item in categories;" class="text-center">
            <a href="" ng-repeat="item in item.child;" ng-include="getTemplate('common/navigation/categories-items.html')"></a>
        </div>
    </div>
    
    <!-- products -->
    <div class="row">
        <div class="col-sm-4 col-lg-3 col-xs-12 product" ng-repeat="_item in productsList | filter:searchText" ng-show="productsList.length">

            <!-- product desktop version with info -->
            <span class="thumbnail hidden-xs"  ng-click="openPopUp(_item);">
                <!-- image -->
                <img class="img-responsive" ng-src="{{getImage(_item)}}" ng-click="openPopUp(_item);" alt="" err-src="placeholder.png">
                <span class="caption text-center">
                    <!-- product name -->
                    <h5 class="ng-binding">{{_item.name}}</h5>
                    <!-- product price -->
                    <h4 class="ng-binding">{{_item.price | number : 2 | currency}}</h4>

                </span>
            </span>
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail visible-xs">
                <img ng-src="{{getImage(_item)}}" alt="" err-src="placeholder.png">
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <gui-paginator object="this" ng-if="pages > 1"></gui-paginator>
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>

<!-- quick view modal -->
<ng-include src="getTemplate('category/modal/quick-view.html')"></ng-include>

<style>
    .product {
        float: none;
        display: inline-block;
    }
    .product img {
        width: 100%;
        height: 340px;
    }
    .product h5 {
        height: 30px;
        margin-top: 0;
    }
</style>
