<div class="modal fade" id="form-change-password" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                Change password
            </div>

            <div class="modal-body">
                <div class="alert alert-warning" style="display: none" role="alert" id="not-match">
                    <a href="#" class="alert-link">Passwords don't match</a>
                </div>
                <div class="panel panel-default">
                    <form role="form">
                        <div class="panel-body">

                            <div>
                                <label class="label-middle" for="password">New password</label>
                                <input type="text" id="password" placeholder="new password"
                                       ng-model="changePswCredentials.password" />
                            </div>

                            <div>
                                <label class="label-middle" for="confirm-password">Confirm password</label>
                                <input type="password" id="confirm-password" placeholder="confirm password"
                                       ng-model="changePswCredentials.confirm"
                                       autocomplete="off" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="social-box">
                    <div class="btn-soc btn-soc-right">
                        <button type="submit" class="btn btn-primary" ng-click="changePassword()">Save</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>