<div class="block-details profile">
    <div>
        Email:
        <label ng-bind="visitor.email" for="visitor-email"/>
        <input type="text" class="editable hidden" ng-model="visitor.email" id="visitor-email">
    </div>
    <div>
        First name:
        <label ng-bind="visitor.fname" for="visitor-fname"/>
        <input type="text" class="editable hidden" ng-model="visitor.fname" id="visitor-fname">
    </div>
    <div>
        Last: name:
        <label ng-bind="visitor.lname" for="visitor-lname"/>
        <input type="text" class="editable hidden" ng-model="visitor.lname" id="visitor-lname">
    </div>
    <div>


    </div>
    <button type="submit" id="account-edit" class="btn btn-primary">Edit</button>
    <button type="submit" class="btn btn-primary hidden" id="account-save" ng-click="update()">Save</button>
</div>
<script>
    $("#account-edit").click(function () {
        $(".profile").find("label").hide();
        $(".profile").find(".editable").removeClass("hidden");
        $("#account-save").removeClass("hidden");
        $("#account-edit").addClass("hidden");
    });
    $("#account-save").click(function () {
        $(".profile").find("label").show();
        $(".profile").find(".editable").addClass("hidden");
        $("#account-save").addClass("hidden");
        $("#account-edit").removeClass("hidden");
    });
</script>