/*---------------
 Bootstrap and common styles
 ---------------*/
body {
	padding: 10px 0 0;
}
.content-wrapper {
	padding: 34px 38px;
	margin-bottom: 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 13px rgba(50, 50, 50, 0.2);
}

a[ng-click] {
	cursor: pointer;
}
a:focus,
button:focus,
a:active,
button:active {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}

label {
	font-weight: normal;
	color: #6C7272;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: #fff;
	color: #999 !important;
}


.form-inline .form-control--2char {
	width: 40px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.form-inline.form-spaced .form-group,
.form-inline.form-spaced .checkbox,
.form-inline.form-spaced .btn {
	margin-right: 15px;
}

.panel-footer {
	background-color: #fff;
}

.label-minor {
	color: #6C7272;
	font-style: italic;
}

.list-social {
	padding: 0;
	margin: 0 0 0 -2px;
}
.list-social li {
	display: inline-block;
	padding: 0 2px;
}
.list-social a {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	background: #999;
	color: #fff;
	font-size: 17px;
	line-height: 25px;
}
.list-social a:hover {
	background-color: #000;
}


h1 {
	font-size: 26px;
	margin-bottom: 25px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-family: Georgia;
	font-style: italic;
	font-size: 18px;
}

.flat-top {
	margin-top: 0;
}

ul {
	padding-left: 20px;
}

/*add a little spacing between items in an input group*/
.input-group-divider {
	width: 2%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	border-collapse: separate;
}

#loader .progress {
	height: 4px;
}
#loader .progress-bar {
	background: #999;
}
/*---------------
 Thumb Thumbnail
 ---------------*/
.thumbnail {
	padding: 0;
}
.thumbnail-quick-view {
	margin-bottom: 0;
}
/*---------------
 Header
 ---------------*/
#header {
	height: auto;
	display: block;
	background: none;
	position: relative;
	border: none;
	margin-bottom: 10px;
}

/* logo */
#header .logo {
	float: left;
	width: 160px;
	margin-top: 26px;
}

#header .logo img {
	width: 100%;
}
@media (min-width: 768px) {
	#header .logo {
		width: 230px;
		margin-top: 36px;
	}
}


/* header title */
#header h4 {
	margin-top: 20px;
	margin-right: 70px;
}

/* subscriber */
.navbar .subscriber {
	margin-top: 32px;
}
.subscriber {
	float: right;
}
.subscriber__input-wrap {
	float: left;
	width: 300px;
	margin-right: 8px;
}
.subscriber__input {
}


.util-nav {
    margin-top: 30px;
    clear: right;
    float: right;
}
.util-nav-banner,
.util-nav-item {
	padding: 10px 17px;
}
.is-logged-in .util-nav-banner,
.is-logged-in .util-nav-item {
	padding: 10px 11px;
}
.util-nav-banner {
	font-size: 13px;
    text-transform: uppercase;
    color: #999;
}

.util-nav-divider {
    border-right: 1px solid #999;
    padding: 4px 0;
}
.util-nav-item {
	font-family: Georgia;
	text-transform: inherit;
	font-style: italic;
	color: #000;
}
.util-nav-item:hover {
	color: #999;
}
.kg-icon-cart {
	float: right;
	width: 24px;
	height: 36px;
	margin-top: -12px;
	background: url('../images/shopping-bag.png');
}
.util-nav-item:hover .kg-icon-cart {
	background-position: 0 -41px;
}

/* main menu */
.navbar-collapse {
	padding: 0;
}
.main-menu {
	border: none;
	padding:0;
}

.main-menu a {
	color: #000;
}
.main-menu .navbar-nav {
	margin: 40px 0 14px 0;
}

.main-menu .navbar-nav > li > a {
	text-transform: uppercase;
	padding: 4px 10px;
	color: #000;
}

@media (min-width: 768px) {
	.main-menu .navbar-nav > li > a {
		padding-left: 14px;
		padding-right: 14px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	/*remove the padding on the first and last sides*/
	.main-menu .navbar-nav > li.last > a {
		padding-right: 0;
	}
	.main-menu .navbar-nav > li.first > a {
		padding-left: 0;
	}


}
@media (min-width: 992px) {
	.main-menu .navbar-nav > li {
		border-right: 1px solid #000;
	}
	.main-menu .navbar-nav > li.last {
		border-right: 0;
	}
	.main-menu .navbar-nav > li > a {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (min-width: 1200px) {
	.main-menu .navbar-nav > li > a {
		padding-left: 48px;
		padding-right: 48px;
	}
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a.active  {
	color: #999;
}
/*.main-menu .navbar-nav > li.first > a {
	padding-left: 0;
}
.main-menu .navbar-nav > li.last > a {
	padding-right: 0;
}*/

/* second level */
.main-menu .dropdown-hover:hover > .dropdown-menu {
	display: block;
}
.main-menu .dropdown-menu {
	width: 100%;
	border-radius: 0 0 10px 10px;
	border-top: 0;
	box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.5);
}
.main-menu .dropdown-menu > li > a {
	white-space: inherit;
}

#navbar ul.second-level li {
	text-align: left;
	display: block;
}


/*---------------
 Home
 ---------------*/
.home a.main-banner {
	display: block;
	margin-bottom: 40px;
}

.home a.main-banner .promo-text {
	height: auto;
	padding: 5px;
	text-align: center;
	background: #000;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
}

.home a.main-banner .promo-text strong {
	font-style: italic;
	font-family: Georgia;
}

.home .main-banner img {
	width: 100%;
}

.home .categories .inner {
	position: relative;
	margin-bottom: 40px;
}

.home .categories a img {
	width: 100%;
}

.home .categories .inner span {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: auto;
	background: #999;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-style: italic;
	font-family: Georgia;
	font-size: 16px;
	font-weight: 300;
}

.home .about,
.home .reviews,
.home .wonderwork {
	margin: 20px 0;
	padding: 0 0 20px 0;
}
.home .about,
.home .reviews {
	border-bottom: 1px solid #ddd;
}

.home .about img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.home .wonderwork video{
	width: 100%;
	height: auto;
}

.home .about h4,
.home .reviews h4,
.home .wonderwork h4 {
	font-family: inherit;
	font-style: normal;
	text-transform: uppercase;
}

.home .about a {
	font-family: Georgia;
	font-style: italic;
}

/*---------------
 Category
 ---------------*/
.category .category-image__container {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin-bottom: 40px;
}
.category .category-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.category .menu {
	background: rgb(255, 126, 191);
	padding: 5px 0;
	margin-bottom: 20px;
}
@media (min-width: 768px) {
	.category .menu {
		margin-bottom: 50px;
	}
}

.category .mobile-categories {
	margin: 0 0 20px;
	font-size: 20px;
}
.category .mobile-categories a {
	text-align: center;
	 color: #fff;
	text-transform: capitalize;
	display: block;
}
.category .menu ul {
	margin: 0;
}
.category .menu ul li {
	padding: 0;
}
.category .menu a {
	color: #fff;
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	text-decoration: none;
	text-transform: capitalize;
}

.category .menu a:after {
	content: "/";
	margin: 0 10px;
}
.category .menu li:last-child a:after {
	content: "";
	margin: 0;
}

.category h2 {
	text-align: right;
}
.category .shop-page-categories + .shop-page-categories{
	border-top: 1px solid #ddd;
	padding-top: 30px;
}

.category .products-area .product{
	margin-bottom: 50px;
	position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
	/*col-sm-4*/
	.category .products-area .product:nth-child(3n+1) {
		clear: left;
	}
}
@media (min-width: 992px) {
	/*col-md-3*/
	.category .products-area .product:nth-child(4n+1) {
		clear: left;
	}
}

.category .product-list--image {
	display: block;
}
.category .btn-product-list-quick {
	position: absolute;
	width: 80%;
	bottom: 30%;
	left: 10%;
	text-align: center;
	display: none;
}

@media (min-width: 992px) {
	.category .product:hover .btn-product-list-quick{
		display: block;
	}
}

.category .product-list--image img {
	width: 100%;
}

.category .products-area .product h5 {
	color: #111;
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	text-decoration: none;
}

.category .products-area .product h4{
	color: #4e4e4e;
	font-family: Georgia;
	font-size: 14px;
	font-weight: normal;
}

/*---------------
 PDP .pdp
 ---------------*/
.pdp-product-name {
	margin-top: 0px;
}
.pdp-description {

}
.pdp-price {
	margin: 30px 0 0 0;
}
.pdp-price-value {
	color: #000;
	font-size: 18px;
	font-style: italic;
}
.pdp-primary-img {
	display: block;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.pdp-purchase-form-details {
	margin-bottom: 0;
}
.pdp-purchase-form-details a {
	font-style: italic;
	text-decoration: underline;
	font-family: Georgia;
}
.pdp-purchase-form-2 {
	margin-bottom: 15px;
}
/*---------------
 .std any Content that comes from a wysiwyg
 Pages, Descriptions
 ---------------*/
.std {
	line-height: 30px;
}

.std h5 {
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.std .header-link {
	float: right;
	margin-left: 20px;
	font-size: 14px;
	line-height: 26px;
	text-decoration: underline;
}
.cms-hero {
	width: 100%;
}

.cms-img-left,
.cms-img-right {
	display: block;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.cms-img-left {
		float: left;
		margin: 8px 20px 0 0;
	}
	.cms-img-right {
		float: right;
		margin: 8px 0 0 20px;
	}
}

.std p {
	margin-bottom: 30px;
}

/* we have a lot of columns that are just separating uls, and when they collapse in small views
the extra space looks funny */
.std .col-lg-1 ul:last-child, .std .col-lg-10 ul:last-child, .std .col-lg-11 ul:last-child,
.std .col-lg-12 ul:last-child, .std .col-lg-2 ul:last-child, .std .col-lg-3 ul:last-child,
.std .col-lg-4 ul:last-child, .std .col-lg-5 ul:last-child, .std .col-lg-6 ul:last-child,
.std .col-lg-7 ul:last-child, .std .col-lg-8 ul:last-child, .std .col-lg-9 ul:last-child,
.std .col-md-1 ul:last-child, .std .col-md-10 ul:last-child, .std .col-md-11 ul:last-child,
.std .col-md-12 ul:last-child, .std .col-md-2 ul:last-child, .std .col-md-3 ul:last-child,
.std .col-md-4 ul:last-child, .std .col-md-5 ul:last-child, .std .col-md-6 ul:last-child,
.std .col-md-7 ul:last-child, .std .col-md-8 ul:last-child, .std .col-md-9 ul:last-child,
.std .col-sm-1 ul:last-child, .std .col-sm-10 ul:last-child, .std .col-sm-11 ul:last-child,
.std .col-sm-12 ul:last-child, .std .col-sm-2 ul:last-child, .std .col-sm-3 ul:last-child,
.std .col-sm-4 ul:last-child, .std .col-sm-5 ul:last-child, .std .col-sm-6 ul:last-child,
.std .col-sm-7 ul:last-child, .std .col-sm-8 ul:last-child, .std .col-sm-9 ul:last-child,
.std .col-xs-1 ul:last-child, .std .col-xs-10 ul:last-child, .std .col-xs-11 ul:last-child,
.std .col-xs-12 ul:last-child, .std .col-xs-2 ul:last-child, .std .col-xs-3 ul:last-child,
.std .col-xs-4 ul:last-child, .std .col-xs-5 ul:last-child, .std .col-xs-6 ul:last-child,
.std .col-xs-7 ul:last-child, .std .col-xs-8 ul:last-child, .std .col-xs-9 ul:last-child {
	margin-bottom: 0;
}

@media (min-width: 1200px) {
	.std .embed-responsive-our-story {
		padding-bottom: 28%;
	}
}

/*---------------
 CMS Buzz Page
 ---------------*/
/* clear the floats so we can just have one row */
.buzz-list .col-sm-6:nth-child(2n+1) {
	clear:left;
}
.buzz-item {
	padding: 10px 0;
	overflow: hidden;
	line-height: 1.3;
	border-bottom: 1px solid #ddd;
}
.buzz-item > a {
	display: block;
	margin-bottom: 10px;
}
.buzz-item > a > img {
	width: 100%;
}
/* .col-sm */
@media (min-width: 768px) {
	.buzz-item {
		min-height: 180px;
	}
	.buzz-item > a {
		width: 50%;
		padding-right: 2%;
		float: left;
		margin: 0; /* reset the margin */
	}
	.buzz-item > a + div {
		width: 50%;
		padding-left: 2%;
		float: left;
	}
}
/* .col-lg */
@media (min-width: 1200px) {
	.buzz-item {
		min-height: 142px;
	}
}


/*---------------
 Footer
 ---------------*/
#footer {
	height: auto;
	padding: 0;
	margin: 30px 0 0;
	background: none;
	padding-top: 25px;
	border-top: 1px solid #ddd;
}

#footer .social {
	margin-bottom: 20px;
}

#footer .links a {
	color: #999;
	font-family: "Helvetica Neue",Helvetica;
	font-size: 14px;
	font-weight: 200;
	padding: 3px 0;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

#footer .links a:hover {
	color: #000;
}

#footer .social a {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 25px;
	line-height: 35px;
	color: #fff;
	background: #999;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	text-align: center;
}

#footer .social a:hover {
	background: #000;
}

#footer .social span {
	color: #999;
	font-family: "Helvetica Neue",Helvetica;
	font-size: 14px;
	font-weight: 200;
	line-height: 35px;
	text-transform: uppercase;
}

#footer .copyrights {
	color: #999;
	margin-top: 20px;
}
#footer .copyrights a {
	text-decoration: underline;
}
#footer .copy--ottemo,
#footer .copy--wheels-up {
	text-align: center;
}
@media (min-width: 768px) {
	#footer .copy--ottemo {
		text-align: left;
	}
	#footer .copy--wheels-up {
		text-align: right;
	}
}



@media screen and (max-width: 750px) {
	.content-wrapper {
		padding: 10px;
	}

	#header {
		margin-bottom: 20px;
	}

	#navbar {
		margin: 10px 0 0 0;
	}
	.main-menu ul > li {
		margin: 2px 0;
	}

	#navbar .main-menu a {
		padding: 10px;
	}

	.main-menu ul.navbar-nav {
		margin: 0;
	}


	.navbar-nav .open .dropdown-menu {
		padding-left: 20px;
	}


	#navbar .navbar-form.navbar-right {
		padding: 10px 10px 0 10px;
		margin: 0;
		border: none;
	}


	.navbar-default .navbar-toggle {
		margin-top: 20px;
	}

	.home .main-banner .promo-text {
		font-size: 20px !important;
	}

	.category h2 {
		text-align: center;
		margin: 10px 0;
	}

	#footer .copyrights {
		margin: 20px 0;
	}
	#footer .social{
		text-align: center;
	}
}


/*_________ Mailchimp _________*/
/*hack for the way we are currently doing modals*/
.modal-backdrop {z-index: 0;}
.modal-dialog {
	z-index: 1050;
}
#mailchimp .modal-body {
	margin: 0 0 30px 0;
}
#mailchimp .logo {
	margin: 30px auto;
}

/*_________ Checkout _________*/
.cart-total__label,
.cart-total__value {
	margin-bottom: 4px;
	font-size: 16px;
}

.cart-total__value {
	text-align: right;
}

/*_________ Cart _________*/
.cart__item-row {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.cart__item-row.last {
	border-bottom: 0;
}
.cart__item-row .thumbnail {
	margin-bottom: 0;
}
.cart-list__product-subtotal {
	text-align: right;
	font-size: 16px;
	line-height: 34px;
}
.cart-list__product-qty {

}
.cart__proceed {
	text-align: right;
}
.cart__proceed a {
	display: block;
}
@media (min-width: 768px) {
	.cart-list__product-qty,
	.cart-list__product-subtotal {
		margin-top: 10px;
	}

	.cart__proceed a {
		display: inline-block;
	}
}

#wrapper {
	height: 100%
	width: 100%
	position: absolute;
	top: 0;
	left: 0;
}
#wrapper-inner {
	min-height: 100%;
	height: auto;
	width: 100%;
}


/*  New Password Directive */
.ot-new-password li {list-style-image: url("../images/other/icon_yes2.png");}
.ot-new-password li.fail {list-style-image: url("../images/other/icon_no2.png");}

.dropdown-submenu {
	position:relative;
}
.dropdown-submenu > .dropdown-menu {
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	border-radius: 0 10px 10px 10px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display:block;
}
.dropdown-submenu>a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu.pull-left {
	float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left:-100%;
	margin-left:10px;
	border-radius: 10px 0 10px 10px;
}

.tab-content {
	margin-top: 10px;
}