.img-fill {
    display: block;
    width: 100%;
    height: auto;
}

// .embed-responsive with a smaller syntax
.r-container {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    .r-target {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
        background: no-repeat center center;
        background-size: cover;
    }
}

.r-container-wider {
    padding-bottom: 32%
}
.r-container-wide,
.r-container-16x9 {
    padding-bottom: 56.25%;
}
.r-container-4x3 {
    padding-bottom: 75%
}
.r-container-square,
.r-container-1x1 {
    padding-bottom: 100%;
}
.r-container-tall {
    padding-bottom: 143%;
}
.r-container-taller {
    padding-bottom: 192%;
}
