.panel-footer {
	background-color: #fff;
}

.label-minor {
	color: #6C7272;
	font-style: italic;
}

.flat-top {
	margin-top: 0;
}

/*---------------
 .std any Content that comes from a wysiwyg
 Pages, Descriptions
 ---------------*/
.std {
	line-height: 30px;
}

.std h5 {
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.std .header-link {
	float: right;
	margin-left: 20px;
	font-size: 14px;
	line-height: 26px;
	text-decoration: underline;
}
.cms-hero {
	width: 100%;
}

.cms-img-left,
.cms-img-right {
	display: block;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.cms-img-left {
		float: left;
		margin: 8px 20px 0 0;
	}
	.cms-img-right {
		float: right;
		margin: 8px 0 0 20px;
	}
}

.std p {
	margin-bottom: 30px;
}

/* we have a lot of columns that are just separating uls, and when they collapse in small views
the extra space looks funny */
.std .col-lg-1 ul:last-child, .std .col-lg-10 ul:last-child, .std .col-lg-11 ul:last-child,
.std .col-lg-12 ul:last-child, .std .col-lg-2 ul:last-child, .std .col-lg-3 ul:last-child,
.std .col-lg-4 ul:last-child, .std .col-lg-5 ul:last-child, .std .col-lg-6 ul:last-child,
.std .col-lg-7 ul:last-child, .std .col-lg-8 ul:last-child, .std .col-lg-9 ul:last-child,
.std .col-md-1 ul:last-child, .std .col-md-10 ul:last-child, .std .col-md-11 ul:last-child,
.std .col-md-12 ul:last-child, .std .col-md-2 ul:last-child, .std .col-md-3 ul:last-child,
.std .col-md-4 ul:last-child, .std .col-md-5 ul:last-child, .std .col-md-6 ul:last-child,
.std .col-md-7 ul:last-child, .std .col-md-8 ul:last-child, .std .col-md-9 ul:last-child,
.std .col-sm-1 ul:last-child, .std .col-sm-10 ul:last-child, .std .col-sm-11 ul:last-child,
.std .col-sm-12 ul:last-child, .std .col-sm-2 ul:last-child, .std .col-sm-3 ul:last-child,
.std .col-sm-4 ul:last-child, .std .col-sm-5 ul:last-child, .std .col-sm-6 ul:last-child,
.std .col-sm-7 ul:last-child, .std .col-sm-8 ul:last-child, .std .col-sm-9 ul:last-child,
.std .col-xs-1 ul:last-child, .std .col-xs-10 ul:last-child, .std .col-xs-11 ul:last-child,
.std .col-xs-12 ul:last-child, .std .col-xs-2 ul:last-child, .std .col-xs-3 ul:last-child,
.std .col-xs-4 ul:last-child, .std .col-xs-5 ul:last-child, .std .col-xs-6 ul:last-child,
.std .col-xs-7 ul:last-child, .std .col-xs-8 ul:last-child, .std .col-xs-9 ul:last-child {
	margin-bottom: 0;
}


/*_________ Mailchimp _________*/
/*hack for the way we are currently doing modals*/
.modal-backdrop {z-index: 0;}
.modal-dialog {
	z-index: 1050;
}
#mailchimp .modal-body {
	margin: 0 0 30px 0;
}
#mailchimp .logo {
	margin: 30px auto;
}

/*_________ Checkout _________*/
.cart-total__label,
.cart-total__value {
	margin-bottom: 4px;
	font-size: 16px;
}

.cart-total__value {
	text-align: right;
}
