<div ng-init="init()">

    <!-- page title -->
    <h2 class="text-center row">Forgot your password</h2>
    <br>
    <gui-message-manager item="messageValidaion"></gui-message-manager>
    <div class="row">

        <!-- login form -->
        <div class="col-md-6 col-md-offset-3">

            <!-- form -->
            <form name="forgotForm">

                <!-- error message -->
                <gui-message-manager item="message"></gui-message-manager>

                <!-- login field + label -->
                <div class="form-group"
                     ng-class="{ 'has-error' : (forgotForm.submitted && forgotForm.email.$error.required) || (forgotForm.email.$invalid && !forgotForm.email.$pristine) }">
                    <label for="email">Email *</label>
                    <input class="form-control" type="text" id="email" placeholder="email"
                           ng-model="forgotCredentials.email" name="email" required />

                    <!-- error message -->
                    <p ng-show="(forgotForm.submitted && forgotForm.email.$error.required) || (forgotForm.email.$invalid && !forgotForm.email.$pristine)"
                       class="help-block">This field is required.</p>
                </div>

                <!-- submit button -->
                <button type="submit" class="btn btn-primary col-xs-4 col-xs-offset-4" ng-click="sendForgotEmail()">Send</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>