<div class="container">

    <div class="page-header">
        <h1>Reset your password</h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form name="resetForm"
                ng-submit="resetForm.$valid && key && reset()"
                novalidate>

                <!-- error messages -->
                <gui-message-manager item="message"></gui-message-manager>
                <div class="alert alert-danger"
                    ng-show="!key">
                    It looks like the url you followed to get here is incorrect.
                    <br> Please go back to your e-mail and copy and paste the url into your address bar. If that doesn't work please try submitting the <a href="/forgot-password">forgot password form again</a>.
                </div>

                <!-- password field-->
                <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.password.$invalid && (resetForm.$submitted || resetForm.password.$touched) }">
                    <label for="password">Password *</label>
                    <input id="password"
                        type="password"
                        class="form-control"
                        name="password"
                        ng-model="visitor.password"
                        ot-password
                        required/>

                    <!-- error message -->
                    <div class="help-block"
                        ng-show="resetForm.password.$invalid && (resetForm.$submitted || resetForm.password.$touched)">
                        <div ng-show="resetForm.password.$error.required">This field is required.</div>
                        <div ng-show="resetForm.password.$error.otPasswordMinLenth">Passwords must be a minimum of 6 characters.</div>
                        <div ng-show="resetForm.password.$error.otPasswordCommon">You entered one of the 50 most common passwords, please try something more secure.</div>
                    </div>
                </div>

                <!-- password confirm field-->
                <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.confirmPassword.$invalid && (resetForm.$submitted || resetForm.confirmPassword.$touched) }">
                    <label for="confirmPassword">Password confirmation *</label>
                    <input id="confirmPassword"
                        type="password"
                        class="form-control"
                        name="confirmPassword"
                        ng-model="visitor.confirmPassword"
                        ot-match="visitor.password"
                        required/>

                    <!-- error message -->
                    <div class="help-block"
                        ng-show="resetForm.confirmPassword.$invalid && (resetForm.$submitted || resetForm.confirmPassword.$touched)">
                        <span ng-show="resetForm.confirmPassword.$error.required">This field is required.</span>
                        <span ng-show="resetForm.confirmPassword.$error.match">The two passwords don't match.</span>
                    </div>
                </div>

                <!-- submit button -->
                <button class="btn btn-primary"
                    type="submit"
                    ng-class="{'disabled': isSubmitting || !key}">
                    <i class="fa fa-circle-o-notch fa-spin"
                        ng-show="isSubmitting"></i> Update Password
                </button>
            </form>
        </div>
    </div>
</div>

