// Login screen
@media (min-width: $screen-sm-min) {
    .social-login .btn {
        margin-top: 25px;
        + .btn {
            margin-top: 40px;
        }
    }
}

.add-credit-card-link {
  float: right;
  margin-bottom: 15px;
}
