<!--Slider Block-->
<div class="col-md-3">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" ng-repeat="img in productImages" data-slide-to="{{$index}}"
                ng-class="img == product.default_image ? 'active' : ''"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-repeat="img in productImages" ng-class="img == product.default_image  ? 'active' : ''">
                <img ng-src="{{getImage(imagesPath, img)}}" alt="" class="img-thumbnail"/>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" target="_self" role="button"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" target="_self" role="button"
           data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>
<!--Info block-->
<div class="col-md-9">
    <h2>{{product.name}}</h2>
    <b>$</b><span>{{product.price}}</span>

    <div>
        <label for="qty">Qty</label>
        <select name="qty" id="qty" ng-model="qty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
    </div>
    <h3>Total: ${{getTotal() | number : 2}}</h3>
    <button type="button" class="btn btn-warning glyphicon glyphicon-plus"> Cart</button>
</div>
<div style="float: left; width:100%; border-top: 1px dotted; margin-top: 30px; margin-bottom: 20px">
    <div class="panel-group col-md-3" id="accordion" style=" margin-top: 10px">
        <div class="form-group">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetails"
                           target="_self">
                            Details
                        </a>
                    </h4>
                </div>

                <div id="collapseDetails" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{product.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

