<div>
    <form name="customOptionsForm"
        role="form">
        <div ng-repeat="option in product.options">
            <ng-form name="customOptionsFormIn">
                <div class="custom-option">
                    <div ng-switch="option.type"
                        class="{{option.cssClass}}">

                        <!-- Input -->
                        <div ng-switch-when="field"
                            class="form-group"
                            ng-class="{'has-error': parent.submitted && customOptionsFormIn[option.key].$invalid}">

                            <label class="option-set-label">
                                {{option.label}}<span class="asterisk"
                                    ng-if="option.required">*</span>
                            </label>
                            <input type="text"
                                class="form-control"
                                ng-model="parent.options[option.key]"
                                id="{{option.key}}"
                                name="{{option.key}}"
                                ng-required="option.required" />

                            <div ng-show="parent.submitted && customOptionsFormIn[option.key].$error.required"
                                class="help-block">
                                This field is required.
                            </div>
                        </div>

                        <!-- Date Picker -->
                        <div ng-switch-when="date"
                            ng-init="parent.options[option.key] = todaysDate"
                            class="form-group"
                            ng-class="{'has-error': parent.submitted && customOptionsFormIn[option.key].$invalid}">

                            <label class="option-set-label">
                                {{option.label}}
                                <span class="asterisk" ng-if="option.required">*</span>
                                <div class="small">(Select today’s date to send immediately)</div>
                            </label>
                            <div class="datepicker-wrap">
                                <uib-datepicker ng-model="parent.options[option.key]"
                                    show-weeks="false"
                                    max-mode="day"
                                    min-date="todaysDate"
                                    ng-required="option.required"
                                    name="{{option.key}}">
                                </uib-datepicker>
                            </div>

                            <div ng-show="parent.submitted"
                                class="help-block">
                                <div ng-show="customOptionsFormIn[option.key].$error.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <!-- Select -->
                        <div ng-switch-when="select"
                            class="form-group"
                            ng-class="{'has-error': parent.submitted && customOptionsFormIn[option.key].$invalid}">
                            <label class="option-set-label">
                                {{option.label}}
                                <span class="asterisk"
                                    ng-if="option.required">*</span>
                            </label>

                            <select class="form-control"
                                id="{{option.key}}"
                                name="{{option.key}}"
                                ng-model="parent.options[option.key]"
                                ng-options="optionItem.key as optionItem.label for optionItem in option.options"
                                ng-required="option.required">
                                <option value="">-- Please Select --</option>
                            </select>

                            <div ng-show="parent.submitted && customOptionsFormIn[option.key].$error.required"
                                class="help-block">
                                This field is required.
                            </div>
                        </div>

                        <!-- Radio -->
                        <div ng-switch-when="radio"
                            ng-init="selectFirstRadio(option)"
                            class="form-group form-inline pdp-radio-group"
                            ng-class="{'has-error':parent.submitted && customOptionsFormIn[option.key].$invalid}">

                            <label class="option-set-label">
                                {{option.label}}<span class="asterisk"
                                    ng-if="option.required">*</span>
                            </label>

                            <div class="radio"
                                ng-repeat="optionItem in option.options">
                                <label>
                                    <input type="radio"
                                        value="{{optionItem.key}}"
                                        name="{{option.key}}"
                                        ng-model="parent.options[option.key]"
                                        ng-required="option.required" /> {{optionItem.label}}
                                </label>
                            </div>

                            <div ng-show="parent.submitted && customOptionsFormIn[option.key].$error.required"
                                class="help-block">
                                This field is required.
                            </div>
                        </div>

                        <!-- Multi-select -->
                        <div ng-switch-when="multi_select"
                            class="form-group"
                            ng-class="{'has-error': parent.submitted && !parent.options[option.key].length}">

                            <label class="option-set-label">
                                {{option.label}}
                                <span class="asterisk"
                                    ng-if="option.required">*</span>
                            </label>

                            <div class="checkbox"
                                ng-repeat="optionItem in option.options">
                                <label>
                                    <input type="checkbox"
                                        name="{{option.key}}_{{optionItem.key}}"
                                        value="{{optionItem.key}}"
                                        ng-change="toggleCheckbox(option)"
                                        ng-model="optionItem.selected"
                                        ng-required="option.required && !parent.options[option.key].length" /> {{optionItem.label}}
                                </label>
                            </div>
                            <div ng-show="parent.submitted && !parent.options[option.key].length"
                                class="help-block">
                                At least one of these fields is required.
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
    </form>
</div>

