<div class="container"
    itemscope
    itemtype="http://schema.org/Product">

    <!-- disabled message -->
    <div ng-if="product && !product.enabled"
        class="ng-cloak">
        <div class="alert alert-warning alert-dismissible"
            role="alert">
            <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <h4>Disabled Product!</h4>
            <p>
                This product is currently disabled. Customers trying to reach this product will be redirected back to the homepage.
            </p>
        </div>
    </div>

    <!-- product -->
    <div class="row pdp-flex-container">

        <!-- details -->
        <div class="col-md-3 pdp-left">
            <div class="page-header">
                <h1 itemprop="name">{{product.name}}</h1>
            </div>
            <div class="visible-md visible-lg">
                <!-- description 1/2 -->

                <meta itemprop="description" content="{{ product.description | htmlToText }}"/>
                <div ng-bind-html="product.description"></div>

                <!-- social links -->
                <ul class="list-social">
                    <li>share:</li>
                    <li>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- <li>
                        <a href="mailto:">
                            <i class="fa fa-envelope fa-fw"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>

        <!-- images -->
        <div class="col-sm-7 col-md-6 pdp-img-list">
            <div ot-slider
                config="{dots:true}">
                <div ng-repeat="img in product.images">
                    <a class="pdp-img-container js-pdp-img"
                        data-href-lg="{{img.large}}">
                        <img ng-src="{{img.large}}"
                            class="img-fill"
                            itemprop="image" />
                    </a>
                </div>

                <!-- test code -->
                <!-- <div ng-repeat="img in [1,2,3,4]">
                    <a class="pdp-img-container js-pdp-img"
                        href="http://placehold.it/1000x1430">
                        <img ng-src="//placehold.it/1000x1430"
                            class="img-fill" />
                    </a>
                </div> -->
            </div>
        </div>

        <!-- right column -->
        <div class="col-sm-5 col-md-3">
            <!-- description 2/2 -->
            <div class="hidden-md hidden-lg std" ng-bind-html="product.description"></div>

            <!-- price -->
            <div class="form-group">

                <span itemprop="offers"
                    itemscope
                    itemtype="http://schema.org/Offer">

                    <meta itemprop="priceCurrency" content="USD" />
                    <meta itemprop="price" content="{{ product.price.toFixed(2) }}" />
                </span>

                <label class="control-label">Price:</label>
                <span class="form-control-static">
                    {{product.price | currency}}
                </span>
            </div>

            <div ng-show="!product.inventory.qty || product.inventory.qty > 0">
                <!-- custom options -->
                <ot-custom-options item="product"
                    object="this"></ot-custom-options>

                <!-- Quantity -->
                <div class="form-group">
                    <label for="qty"
                        class="control-label">Qty:</label>
                    <input type="text"
                        id="qty"
                        class="form-control"
                        placeholder="1"
                        value="{{qty}}"
                        ng-model="qty"
                        ng-change="update(idx, qty)">
                </div>

                <!-- add to cart button -->
                <div class="form-group">
                    <a class="btn btn-primary btn-block"
                        ng-class="{disabled: isAddingToCart}"
                        ng-click="addToCart($event)">
                        Add to cart
                        <i class="fa fa-circle-o-notch fa-spin"
                        ng-show="isAddingToCart"></i>
                    </a>
                </div>
            </div>

            <a class="btn btn-default disabled"
                ng-show="product.inventory.qty === 0">
                <i class="fa fa-shopping-cart"></i> Sold Out
            </a>

            <!-- error message -->
            <ot-message-manager item="messageOptions"></ot-message-manager>

            <!-- add to cart success message -->
            <div class="alert alert-success text-center"
                ng-show="isAddToCartSuccessful">
                <p>{{product.name}} was added to your cart</p>
                <p>
                    <a href="/cart"
                        class="btn btn-default">view my cart</a>
                </p>
            </div>

            <!-- social links -->
            <ul class="hidden-md hidden-lg text-center list-social">
                <li>share:</li>
                <li>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- related products -->
    <div ot-related-products product-id="{{product._id}}"></div>
</div>

<!-- TODO: move out -->
<script>
$(function() {

    // click to zoom on images
    monitorZoomImage();

    // Scale images so they don't extend too far vertically
    scaleImages();
    scaleImagesOnResize();

    ////////////////////////

    function monitorZoomImage() {
        $(document).on('click', '.js-pdp-img', function(e) {
            // Toss it in a data attribute because the event
            // doesn't always get prevented
            var href = $(this).data('href-lg');

            // greater than tablet gets a fancybox
            if ($(window).width() > 767) {
                $.fancybox({href: href});
            } else {
                window.location = href;
            }
        });
    }

    function scaleImagesOnResize() {
        $(window).resize(function() {
            if (typeof _ === "undefined") {
                scaleImages();
            } else {
                _.debounce(scaleImages, 200);
            }
        });
    }

    function scaleImages() {
        // product image ratio 143%;
        var maxHeight = ($(window).height() - 200) * (100 / 143);
        maxHeight = Math.round(maxHeight);
        $('.js-pdp-img').css({
            'max-width': maxHeight
        });
    }

});

</script>

