
<div class="row">
    <!-- product image  -->
    <div class="text-center col-xs-12 col-md-6" ng-init="init()">
        <a
        class="pdp-primary-img js-img-zoom"
        data-src-big="{{ product.images[0].large }}">
            <img
            class="img-responsive center-block"
            ng-src="{{ product.images[0].medium }}"
            err-src="placeholder.png"
            alt=""/>
        </a>

        <div class="row product-alt-list" ng-show="product.images.length > 1">
            <div
            ng-repeat="img in product.images"
            ng-if="$index !== 0"
            class="col-xs-3 product-alt-list__item">
                <img
                class="img-rounded img-responsive"
                ng-src="{{ img.thumb }}"
                err-src="placeholder.png"
                alt="" />
            </div>
        </div>

        <!-- optional video field -->
        <div class="embed-responsive embed-responsive-16by9" ng-if="product.video_url">
            <iframe class="embed-responsive-item" ng-src="{{product.video_url | trustedUrl}}" ></iframe>
        </div>
    </div>

    <!-- info -->
    <div class="col-xs-12 col-md-6">
        <h1 class="pdp-product-name">{{product.name}}</h1>
        <div class="pdp-description std" ng-bind-html="product.description"></div>

        <div class="pdp-price">
            <label>Price:</label>
            <span class="pdp-strikethrough-price-value"
            ng-show="product.strikethrough_price">
                {{product.strikethrough_price | currency}}
            </span>
            <span class="pdp-price-value">{{product.price | currency}}</span>
        </div>

        <hr/>

        <!-- options -->
        <gui-custom-options item="product" object="this"></gui-custom-options>

        <div class="form-inline form-spaced pdp-purchase-form-2">
            <!-- Quantity -->
            <div class="form-group">
                <label for="qty">Qty:</label>
                <input
                type="text"
                id="qty"
                class="form-control form-control--2char"
                placeholder="1"
                value="{{qty}}"
                ng-model="qty"
                ng-change="update(idx, qty)">
            </div>

            <!-- add to cart button -->
            <a
            href=""
            class="btn btn-primary btn-block-xs"
            ng-class="{disabled: isAddingToCart}"
            ng-click="addToCart($event)">
                Add to bag
                <i class="fa fa-circle-o-notch fa-spin"
                ng-show="isAddingToCart">
                </i>
            </a>

        </div>

        <!-- error message -->
        <gui-message-manager item="messageOptions"></gui-message-manager>

        <!-- add to bag success message -->
        <div class="alert alert-success" ng-show="isAddToCartSuccessful">
            {{product.name}} was added to your bag
            <a href="/cart" class="btn btn-default">view my bag</a>
        </div>


        <p class="pdp-purchase-form-details">Have questions? Check out the <a href="/faq">FAQ's</a></p>

        <!-- social links -->
        <ul class="list-social">
            <li>
                <!-- TODO: FB url -->
                <a href="" class="fa fa-facebook fa-fw"></a>
            </li>
            <li>
                <!-- TODO: TWITTER URL -->
                <a href="" class="fa fa-twitter fa-fw"></a>
            </li>
            <li>
                <!-- TODO: PINTEREST URL -->
                <a href="" class="fa fa-pinterest-p fa-fw"></a>
            </li>
            <li>
                <a href="/contact" class="fa fa-envelope fa-fw"></a>
            </li>
        </ul>
    </div>
</div>

<!-- optional additional product description -->
<div class="std" ng-if="product.ritual" ng-bind-html="product.ritual"></div>
<hr ng-if="product.ritual && product.ingredients">
<div class="std" ng-if="product.ingredients" ng-bind-html="product.ingredients"></div>

<div class="row" ng-if="related">
    <div class="text-center col-sm-10 col-xs-offset-1 col-md-12 ">
        <span class="col-xs-12 col-sm-6 col-md-2 " ng-repeat="_item in related" ng-show="related.length">
            <a class="thumbnail" href="{{productService.getUrl(_item.ID)}}">
                <img
                class="text center"
                ng-src="{{getImage('',_item.Image, 'thumb')}}"
                alt="_item.Name"/>
            </a>
        </span>
        <div class="clear"></div>
    </div>
</div>

<!-- TODO: move out -->
<script>

    $(function () {
        $('body').removeClass('modal-open');

        // big image preview
        $(document).on('click', '.js-img-zoom', function(e){
            e.preventDefault();
            var $this = $(this);
            $.fancybox([
                { href: $this.data('src-big') }
            ]);
        });
    });

</script>
