<div class="modal fade" id="form-login" ng-controller="visitorLoginController" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <!-- modal title -->
                <h4 class="modal-title">Login in</h4>
            </div>
            <div class="modal-body">
                <!-- error message -->
                <gui-message-manager item="message"></gui-message-manager>

                <!-- form -->
                <form name="loginForm">

                    <!-- email field + label -->
                    <div class="form-group col-md-12"
                         ng-class="{ 'has-error' : (loginForm.submitted && loginForm.email.$error.required) || (loginForm.email.$invalid && !loginForm.email.$pristine) }">
                        <label for="email">Email *</label>
                        <input class="form-control" type="text" id="email" placeholder="Email"
                               ng-model="loginCredentials.email" name="email" required />

                        <p ng-show="(loginForm.submitted && loginForm.email.$error.required) || (loginForm.email.$invalid && !loginForm.email.$pristine)"
                           class="help-block">This field is required.</p>
                    </div>

                    <!-- password field + label -->
                    <div class="form-group col-md-12"
                         ng-class="{ 'has-error' : (loginForm.submitted && loginForm.password.$error.required) || (loginForm.password.$invalid && !loginForm.password.$pristine) }">
                        <label for="password">Password *</label>
                        <input class="form-control" type="password" id="password" placeholder="Password"
                               ng-model="loginCredentials.password"
                               name="password" required autocomplete="off" />

                        <p ng-show="(loginForm.submitted && loginForm.password.$error.required) || (loginForm.password.$invalid && !loginForm.password.$pristine)"
                           class="help-block">This field is required.</p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a href="#/forgot-password" class="col-xs-12 col-sm-6">Forgot your password?</a>
                        <a href="#/resend-activation" class="text-primary col-xs-12 col-sm-6">Lost activation email?</a> 
                        <div class="clearfix"></div>
                        <br>
                    </div>

                    <!-- submit button -->
                    <div class="row">
                        <button type="submit" class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="signIn()">Login</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <hr>

                <!-- social buttons -->
                <div class="col-xs-12 text-center">
                    <ng-include src="getTemplate('visitor/social/facebook.html')"></ng-include>
                    <ng-include src="getTemplate('visitor/social/google.html')"></ng-include>
                </div>
                <div class="clearfix"></div>
                <hr>

                <!-- Register modal link -->
                <a href="" class="btn btn-default pull-right" target="_self" id="modal-registration">Register</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>