<div class="modal fade" id="form-registration" tabindex="-1" role="dialog" ng-controller="visitorLoginController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- close button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <!-- modal title -->
                <h4 class="modal-title">Register for BlitzBand</h4>
            </div>
            <div class="modal-body">

                <!-- error message -->
                <gui-message-manager item="message"></gui-message-manager>
                
                <form name="register">
                    <div class="row">

                        <!-- email field + label -->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.email.$error.required) || (register.email.$invalid && !register.email.$pristine) }">
                            <label for="email">Email Address *</label>
                            <input id="email" type="text" class="form-control" name="email" placeholder="Email"  ng-model="login.email" required />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.email.$error.required) || (register.email.$invalid && !register.email.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>
                        
                        <!-- birthday field + label-->
                        <div class="form-group col-xs-12 col-md-6" ng-class="{ 'has-error' : (register.submitted && register.birthday.$error.$invalid) || (register.birthday.$error.$invalid && !register.birthday.$pristine) }">
                            <input id="popup-birth" style="display:none;" type="text" name="birthday" auto-fill-sync class="form-control input-lg" ng-model="login.birthday">
                            <div class="col-md-4 birth">
                                <label>Month of Birth</label>
                                <select class="form-control" id="popup-monthBirth" ng-model="birthday.month">
                                    <option selected="selected" value="0">Month</option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            </div>
                            <div class="col-md-4 birth">
                                <label>Day of Birth</label>
                                <select class="form-control" id="popup-dayBirth" ng-model="birthday.day">
                                    <option selected="selected" value="0" >Day</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-md-4 birth">
                                <label>Year of Birth</label>
                                <select class="form-control" id="popup-yearBirth" ng-model="birthday.year">
                                    <option selected="selected" value="0">Year</option>
                                    <option value="1934">1934</option>
                                    <option value="1935">1935</option>
                                    <option value="1936">1936</option>
                                    <option value="1937">1937</option>
                                    <option value="1938">1938</option>
                                    <option value="1939">1939</option>
                                    <option value="1940">1940</option>
                                    <option value="1941">1941</option>
                                    <option value="1942">1942</option>
                                    <option value="1943">1943</option>
                                    <option value="1944">1944</option>
                                    <option value="1945">1945</option>
                                    <option value="1946">1946</option>
                                    <option value="1947">1947</option>
                                    <option value="1948">1948</option>
                                    <option value="1949">1949</option>
                                    <option value="1950">1950</option>
                                    <option value="1951">1951</option>
                                    <option value="1952">1952</option>
                                    <option value="1953">1953</option>
                                    <option value="1954">1954</option>
                                    <option value="1955">1955</option>
                                    <option value="1956">1956</option>
                                    <option value="1957">1957</option>
                                    <option value="1958">1958</option>
                                    <option value="1959">1959</option>
                                    <option value="1960">1960</option>
                                    <option value="1961">1961</option>
                                    <option value="1962">1962</option>
                                    <option value="1963">1963</option>
                                    <option value="1964">1964</option>
                                    <option value="1965">1965</option>
                                    <option value="1966">1966</option>
                                    <option value="1967">1967</option>
                                    <option value="1968">1968</option>
                                    <option value="1969">1969</option>
                                    <option value="1970">1970</option>
                                    <option value="1971">1971</option>
                                    <option value="1972">1972</option>
                                    <option value="1973">1973</option>
                                    <option value="1974">1974</option>
                                    <option value="1975">1975</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <p ng-show="(register.submitted && register.birthday.$error.$invalid) || (register.birthday.$error.$invalid && !register.birthday.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- first name field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine) }">
                            <label for="FirstName">First Name *</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="First name" ng-model="login.fname" name="fname" required  />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.fname.$error.required) || (register.fname.$invalid && !register.fname.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>

                        <!-- last name field + label-->
                        <div class="form-group col-md-6">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Last name" ng-model="login.lname" />
                        </div>
                    </div>

                    <div class="row">
                        <!-- password field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.password.$error.required) || (register.password.$invalid && !register.password.$pristine) }">
                            <label for="password">Password *</label>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="login.password" required autocomplete="off" />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.password.$error.required) || (register.password.$invalid && !register.password.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>
                        <!-- password confirm field + label-->
                        <div class="form-group col-md-6"
                             ng-class="{ 'has-error' : (register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine) }">
                            <label for="confirm_password">Password confirm *</label>
                            <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" ng-model="login.confirm_password" required autocomplete="off" />
                            
                            <!-- error message -->
                            <p ng-show="(register.submitted && register.confirm_password.$error.required) || (register.confirm_password.$invalid && !register.confirm_password.$pristine)"
                               class="help-block">This field is required.</p>
                        </div>
                    </div>

                    <hr>

                    <!-- submit button -->
                    <div class="row">
                        <button type="submit" class="btn btn-primary col-xs-6 col-xs-offset-3" ng-click="save()">Register</button>
                    </div>

                    <hr>
                    <div class="row">
                        <!-- create account with social -->
                        <div class="text-center visible-md visible-lg">
                            <h4>Create Account With</h4>
                            <a href="" class="btn btn-danger" ng-click="googleLogin()">
                                <i class="fa fa-google-plus"></i>
                                Create with Google+
                            </a>
                            <a href="" class="btn btn-info" ng-click="facebookLogin()">
                                <i class="fa fa-facebook"></i>
                                Create with Facebook
                            </a>
                        </div>
                        
                        <!-- create account with social -->
                        <div class="text-center visible-sm visible-xs">
                            <h4>Create Account With</h4>
                            <div class="btn-group-vertical col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                                <a href="" class="btn btn-danger" ng-click="googleLogin()">
                                    <i class="fa fa-google-plus"></i>
                                    Create with Google+
                                </a>
                                <a href="" class="btn btn-info" ng-click="facebookLogin()">
                                    <i class="fa fa-facebook"></i>
                                    Create with Facebook
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>

                <!-- Register modal link -->
                <a href="" class="btn btn-default pull-right" target="_self" id="modal-login">Login to BlitzBand</a>
                <div class="clearfix"></div>
            </div>   
        </div>
    </div>
</div>
<script>
    (function($){
        //for sending date of birth
        $(document).on('change','#popup-monthBirth',function(){
            var date;
            if($('#popup-birth').val() === ""){
                date = new Date();
            } else {
                date = new Date($('#popup-birth').val());
            }
            if($(this).val() !== "0" ){
                date.setMonth($(this).val()-1);
                date.setDate($('#popup-dayBirth').val());
                date.setYear($('#yearBirth').val());
                $('#popup-birth').val(date.toISOString());
            } else {
                date = null;
                $('#popup-birth').val(null);
            }
            $('#popup-birth').trigger('input');
        });
        $(document).on('change','#popup-dayBirth',function(){
            var date;
            if($('#popup-birth').val() === ""){
                date = new Date();
            } else {
                date = new Date($('#popup-birth').val());
            }
            if($(this).val() !== "0" ){
                date.setMonth($('#popup-monthBirth').val()-1);
                date.setDate($(this).val());
                date.setYear($('#popup-yearBirth').val());
                $('#popup-birth').val(date.toISOString());
            } else {
                date = null;
                $('#popup-birth').val(null);
            }
            $('#popup-birth').trigger('input');
        });
        $(document).on('change','#popup-yearBirth',function(){
            var date;
            if($('#popup-birth').val() === ""){
                date = new Date();
            } else {
                date = new Date($('#popup-birth').val());
            }
            if($(this).val() !== "0" ){
                date.setMonth($('#popup-monthBirth').val()-1);
                date.setDate($('#popup-dayBirth').val());
                date.setYear($(this).val());
                $('#popup-birth').val(date.toISOString());
            } else {
                date = null;
                $('#popup-birth').val(null);
            }
            $('#popup-birth').trigger('input');
        });
    })(jQuery);
</script>
