<div class="about">
    <div class="col-xs-4 row-no-padding">
        <img class="img-responsive center-block" alt="" src="themes/blitz/images/about-1.jpg">
    </div>
    <div class="col-xs-4 row-no-padding">
        <img class="img-responsive center-block" alt="" src="themes/blitz/images/about-2.jpg">
    </div>
    <div class="col-xs-4 row-no-padding">
        <img class="img-responsive center-block" alt="" src="themes/blitz/images/about-3.jpg">
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1 class="text-center">About Us</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet metus enim, dignissim venenatis massa rhoncus at. Suspendisse finibus venenatis placerat. Nulla tempor non arcu vel pellentesque. Ut faucibus lacus sapien. Nunc tellus diam, elementum ac est sed, hendrerit iaculis mi. Aliquam ut ullamcorper urna. Mauris non vulputate mauris. Etiam rutrum a erat at fringilla. Aenean sollicitudin ut purus pulvinar molestie. Suspendisse dignissim ex libero, non vehicula orci ullamcorper sit amet.</p>
        <p class="text-center">Donec tortor enim, molestie ac risus vitae, tincidunt cursus odio. Donec nec lacus vel enim pellentesque sagittis. Phasellus rutrum arcu ac magna auctor faucibus. Aliquam erat volutpat. Proin sed varius est. Integer placerat rutrum lorem, volutpat fermentum augue suscipit at. Sed pellentesque nibh sit amet turpis auctor mattis. Quisque scelerisque ultricies tellus eu varius. Nulla ac iaculis metus, ut volutpat nisl. Donec bibendum dapibus interdum. Donec ut sem mauris. Etiam justo metus, convallis nec suscipit at, semper ac nibh.</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet metus enim, dignissim venenatis massa rhoncus at. Suspendisse finibus venenatis placerat. Nulla tempor non arcu vel pellentesque. Ut faucibus lacus sapien. Nunc tellus diam, elementum ac est sed, hendrerit iaculis mi. Aliquam ut ullamcorper urna. Mauris non vulputate mauris. Etiam rutrum a erat at fringilla. Aenean sollicitudin ut purus pulvinar molestie. Suspendisse dignissim ex libero, non vehicula orci ullamcorper sit amet.</p>
    </div>
    <div class="clearfix"></div>
</div>