<footer>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-4">
        <ul class="nav nav-pills hidden-xs">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">about</a></li>
            <li role="presentation"><a href="#">faq</a></li>
            <li role="presentation"><a href="#">contacts</a></li>
        </ul>
        <ul class="nav nav-pills visible-xs nav-stacked">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">about</a></li>
            <li role="presentation"><a href="#">faq</a></li>
            <li role="presentation"><a href="#">contacts</a></li>
        </ul>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
        <div class="fa-hover pull-right">
            <a href="../icon/facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="fa-hover pull-right">
            <a href="../icon/google-plus">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="fa-hover pull-right">
            <a href="../icon/twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="fa-hover pull-right"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <p>Powered by Ottemo</p>
    </div>
</footer>