<footer>
    <div class="col-md-5">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">about</a></li>
            <li role="presentation"><a href="#">faq</a></li>
            <li role="presentation"><a href="#">contacts</a></li>
        </ul>
    </div>
    <div class="col-md-2 text-center">
        <p>Powered by Ottemo</p>
    </div>
    <div class="col-md-3 col-md-offset-2">
        <div class="fa-hover col-md-4">
            <a href="../icon/facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="fa-hover col-md-4">
            <a href="../icon/google-plus">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="fa-hover col-md-4">
            <a href="../icon/twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>