<footer>
    <div class="col-sm-7 col-xs-12 menu">
        <ul class="nav nav-pills"  ng-controller="commonSidebarController">
            <li  role="presentation" ng-repeat="item in sidebar.getItems()">
                <a href="#/{{item.link}}" title="{{item.title}}">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-5 col-xs-12 social">
        <div class="fa-hover">
            <a href="https://facebook.com/getottemo">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="fa-hover">
            <a href="https://github.com/ottemo/">
                <i class="fa fa-github"></i>
            </a>
        </div>
        <div class="fa-hover">
            <a href="https://twitter.com/getottemo">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <p>Powered by <a href="http://ottemo.io">Ottemo</a></p>
    </div>
</footer>
