<header id="top" class="navbar nav navbar-fixed-top bs-docs-nav" role="banner">
    <div class="navbar-header col-lg-4 col-md-4 col-sm-2 col-xs-2">
        <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
            <i class="fa fa-navicon"></i>
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>
    <a class="text-center col-lg-4 col-md-4 col-sm-8 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" href="#/">
        <img alt="logo" class="" ng-src="{{getImg('h-logo.png')}}">
    </a>
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3 pull-right">
        <div class="pull-right">
            <a class="cart" href="" target="_self" ng-click="clickToCartDesktop()" ng-controller="visitorLoginControllerBlitz" >
                <!-- cart button -->
                <div ng-controller="commonHeaderController" >
                    <!-- icon cart -->
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <!-- items counter -->
                    <!--<span ng-controller="cartListController">{{it.getCountItems()}}</span>-->
                </div>
            </a>
        </div>
        <div class="pull-right" ng-controller="commonHeaderController">
            <!-- login/account/logout buttons -->
            <a href="{{item.link}}"  ng-repeat="item in rightMenu.getMenuRight()" class="btn-login pull-right">
                <span class="visible-xs visible-sm"></span>
                <span class="visible-md visible-lg">{{item.label}}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nav class="h-nav collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ng-include src="getTemplate('common/navigation/main.html')"></ng-include>
        </nav>
    </div>
</header>
