<style>
    .breadcrumb {
        display: none;
    }
    .nav-tabs {
        display: none;
    }
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="shop">Shop Now</div>
    <ol class="carousel-indicators">
        <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
        <li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
        <li class="active" data-slide-to="2" data-target="#carousel-example-generic"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item">
            <img class="slide-image" alt="" ng-src="{{getImg('slide1.jpg')}}">
        </div>
        <div class="item">
            <img class="slide-image" alt="" ng-src="{{getImg('slide2.jpg')}}">
        </div>
        <div class="item active">
            <img class="slide-image" alt="" ng-src="{{getImg('slide1.jpg')}}">
        </div>
        <div class="item">
            <img class="slide-image" alt="" ng-src="{{getImg('slide2.jpg')}}">
        </div>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-slide="next" href="#carousel-example-generic">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="row h-carousel row-no-margin">
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel1.jpg')}}">
    </div>
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel2.jpg')}}">
    </div>
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel3.jpg')}}">
    </div>
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel1.jpg')}}">
    </div>
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel2.jpg')}}">
    </div>
    <div class="col-md-2 row-no-padding">
        <img class="slide-image" alt="" ng-src="{{getImg('carousel3.jpg')}}">
    </div>
</div>
<div class="btn-group center-block h-slider-switch" role="group" aria-label="...">
    <button type="button" class="btn btn-custom active">featured</button>
    <button type="button" class="btn btn-custom">bestseller</button>
    <button type="button" class="btn btn-custom">latest</button>
</div>

<div class="container-fluid">
    <div class="row h-item">
        <div class="col-md-2 col-md-offset-1">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item1.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item2.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item2.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item2.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item2.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center h-shipping">
        <h4>FREE SHIPPING! <span>ALL ORDERS OVER $199</span></h4>
        <h5>FREE 2 DAY SHIPPING: SPEND OVER $140 AND USE PROMOTION AT CHECKOUT</h5>
    </div>
    <div class="row h-item">
        <div class="col-md-2 col-md-offset-1">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item6.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item7.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item8.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item9.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{productService.getUrl(_item._id)}}" class="thumbnail">
                <img ng-src="{{getImg('item10.jpg')}}" alt="" onError="this.onerror=null;this.src='themes/default/images/placeholder.png';">
            </a>
        </div>
    </div>

    <div class="row h-bottom">
        <h4>Ut enim ad minim veniam
            quis nostrud exercitation ullamco laboris</h4>
        <span>Duis aute irure dolor in reprehenderit in voluptate
velit esse cillum dolore eu fugiat nulla pariatur Excepteur
sint occaecat cupidatat non proident, sunt</span>

    </div>
    <div>Learn More</div>
</div>



