<!-- Default bootstrap.css Don't replace it -->
<add-css src="lib/bootstrap/bootstrap.css"></add-css>
<!-- your bootsrap theme's file -->
<add-css src="bootstrap-theme.css"></add-css>
<!-- your custom.css -->
<add-css src="style.css"></add-css>
<add-css src="style2.css"></add-css>
<add-css src="lib/jquery-ui/jquery-ui-1.10.3.custom.css"></add-css>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div id="wrapper">
	<div id="wrapper-inner">
        <div class="clearfix"></div>
        <!-- header layout -->
        <ng-include src="getTemplate('common/header.html')"></ng-include>

        <div class="clearfix"></div>
        <!-- main content layout -->
        <ng-view></ng-view>

        <div class="clearfix"></div>

	</div>

	<!-- footer layout -->
	<ng-include src="getTemplate('common/footer.html')"></ng-include>
</div>

<!-- login and registration modals -->
<ng-include src="getTemplate('visitor/modal/login.html')"></ng-include>
<ng-include src="getTemplate('visitor/modal/registration.html')"></ng-include>

<!-- minicart modal -->
<ng-include src="getTemplate('cart/view.html')" ng-controller="cartListController"></ng-include>

<!-- add your srcipts here -->
<script src="themes/blitz/scripts/main.js"></script>