<!-- search block -->
<div class="form-group">
	<div class="input-group">
      	<div class="input-group-addon">
      		<i class="fa fa-search" ng-click="searchProducts(searchText)" ng-enter="searchProducts(searchText)"></i>
      	</div>
      	<input class="form-control" placeholder="Search..." ng-model="searchText" ng-enter="searchProducts(searchText)">
	</div>
</div>

<!-- options -->
<div class="panel panel-default" ng-repeat="(filter, items) in layered" ng-if="items.length>0">
  	<div class="panel-heading">
  		<h3 class="panel-title text-capitalize">{{filter}}:</h3>
  	</div>
    <div class="panel-body text-capitalize">
        <span ng-repeat="item in items">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="filters[filter][item]">
                <span>{{item}}&nbsp;&nbsp;&nbsp;</span>
            </label>
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-capitalize">Sort</h3>
    </div>
    <div class="panel-body text-capitalize">
        <div class="col-xs-12 col-sm-6">
            <a href="" target="_self" ng-click="sortByPrice('asc')">PRICE LOW TO HIGH</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="" target="_self" ng-click="sortByPrice('desc')">PRICE HIGH TO LOW</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="" target="_self" ng-click="sortByName('asc')">NAME ASC</a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="" target="_self" ng-click="sortByName('desc')">NAME DESC</a>
        </div>
    </div>
</div>

