<!-- search block -->
<div class="form-group form-group--search">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-search"
                ng-click="searchProducts(searchText)"></i>
        </div>
        <input class="form-control"
            placeholder="Search..."
            ng-model="searchText"
            ng-enter="searchProducts(searchText)">
    </div>
</div>

<!-- options -->
<div class="panel panel-default"
    ng-repeat="(filter, items) in layered"
    ng-if="items.length>0">
    <div class="panel-heading">
        <h3 class="panel-title">{{filter}}</h3>
    </div>
    <div class="panel-body">
        <div class="checkbox" ng-repeat="item in items">
            <label>
                <input type="checkbox" ng-model="filters[filter][item]">
                {item}}
            </label>
        </div>
    </div>
</div>

<!-- sorting -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sort</h3>
    </div>
    <div class="panel-body">
        <div>
            <a ng-click="sortByPrice('asc')">Price: low to high</a>
        </div>
        <div>
            <a ng-click="sortByPrice('desc')">Price: high to low</a>
        </div>
        <div>
            <a ng-click="sortByName('asc')">Name: a to z</a>
        </div>
        <div>
            <a ng-click="sortByName('desc')">Name: z to a</a>
        </div>
    </div>
</div>

