<div class="modal fade" id="form-change-password" tabindex="-1" role="dialog" ng-controller="visitorAccountController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Change password
                </h4>
            </div>
            <div class="modal-body">

                <!-- error message -->
                <gui-message-manager item="messagePassword"></gui-message-manager>

                <!-- change password form -->
                <form role="form">
                    <!-- new password -->
                    <div class="form-group col-xs-12 col-sm-10 col-sm-offset-1"
                         ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
                        <label for="passwordFormPassword">Password</label>
                        <input type="password" class="form-control" id="passwordFormPassword" placeholder="Password"
                               name="password"
                               ng-model="changePswCredentials.password" required>

                        <p ng-show="passwordForm.password.$invalid && !passwordForm.password.$pristine"
                           class="help-block">This field is required.</p>
                    </div>

                    <!-- confirm password -->
                    <div class="form-group col-xs-12 col-sm-10 col-sm-offset-1"
                         ng-class="{ 'has-error' : passwordForm.confirm.$invalid && !passwordForm.confirm.$pristine }">
                        <label for="passwordFormConfirm">Confirm password *</label>
                        <input type="password" class="form-control" id="passwordFormConfirm" placeholder="Confirm password"
                               name="confirm"
                               ng-model="changePswCredentials.confirm">

                        <p ng-show="passwordForm.confirm.$invalid && !passwordForm.confirm.$pristine"
                           class="help-block">This field is required.</p>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="changePassword()">Save</button>
                <button type="submit" class="btn btn-default" ng-click="closePopUp()">Cancel</button>
            </div>
        </div>
    </div>
</div>