<div class="content have-aside pdp">

    <!-- left side information -->
    <aside class="left-side animated fadeInLeft">
        <h2 itemprop="name">{{product.name}}</h2>
        <p>If you bought something in a shop and then just change your mind about it, you do not have any legal
            right to return the goods. However, many shops have a returns policy which lets you to take your
            items back to the shop for any reason and get a refund.
        </p>

        <p> But you may have rights if you're not happy with the quality of the goods or the item is broken or
            faulty in some way.
        </p>

        <!-- Share product -->   
        <!-- <h4>Share</h4>
        <div class="social">
            <a href="https://plus.google.com" class="fa fa-google-plus"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        </div> -->
    </aside>
    
    <!-- product images -->
    <div class="images animated fadeInUp">
        <!-- <i class="fa fa-long-arrow-down"></i> -->
        <img itemprop="image" ng-src="{{getImage(imagesPath, img)}}" alt="" ng-repeat="img in productImages" onError="this.onerror=null;this.src='themes/urbanity/images/placeholder.png';">
        <!-- <i class="fa fa-long-arrow-up"></i> -->
    </div>

    <!-- right side information -->
    <aside class="right-side animated fadeInRight">
        <h2>{{product.price | currency}}</h2>
        <p itemprop="description" ng-bind-html="product.description"></p>
        
        <div class="input-group spinner pdp-spinner">
            <h3>Quantity</h3>

            <div class="spinner-block">
                <input placeholder="Qtl" type="text" class="form-control" value="{{qty}}"
                       ng-model="qty" ng-change="update(idx, qty)">

                <div class="input-group-btn-vertical">
                    <i class="fa fa-angle-up" ng-click="changeQty(qty,'up')"></i>
                    <i class="fa fa-angle-down" ng-click="changeQty(qty,'down')"></i>
                </div>
            </div>
        </div>

        <!-- Custom options -->
        <div class="custom-options">
            <gui-custom-options item="product" object="this"></gui-custom-options>
        </div>
        
        <!-- Total -->
        <h4 class="pdp-total">Total:</h4>
        <h3>{{product.price * qty | number:2 | currency}}</h3>
        
        <!-- Errors -->
        <gui-message-manager item="messageOptions"></gui-message-manager>

        <!-- To cart -->
        <a href="" target="_self" class="btn black to-cart" ng-click="addToCart()">
            Add to cart
        </a>
    </aside> 
</div>

<script>
    setTimeout(function() { 
        var leftSideHeight = parseInt($('.content.have-aside aside.left-side').outerHeight(true)) + 30;
        var rightSideHeight = parseInt($('.content.have-aside aside.right-side').outerHeight(true)) + 30;
        var imageHeight = parseInt($('.content.have-aside .images').outerHeight(true));

        if ( imageHeight < leftSideHeight || imageHeight < rightSideHeight  ) {

            if ( leftSideHeight > rightSideHeight ) {
                $('.content.have-aside .images').css('minHeight', leftSideHeight);
            }
            else {
                $('.content.have-aside').css('minHeight', rightSideHeight);
            }
        };
     }, 500);
</script>
