<div class="modal fade parent_popup"
    id="parent_popup_profile"
    tabindex="-1"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal"
                    class="close"
                    type="button">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Change info</h4>
            </div>
            <div class="modal-body">

                <!-- error message -->
                <gui-message-manager item="message"></gui-message-manager>

                <!-- change password form -->
                <form role="form"
                    name="visitorForm"
                    ng-submit="visitorForm.$valid && save()">

                    <!--First Name-->
                    <div class="form-group"
                        ng-class="{ 'has-error' : visitorForm.first_name.$invalid && (visitorForm.$submitted || visitorForm.first_name.$touched) }">
                        <label for="visitorFormFName">First Name *</label>
                        <input type="text"
                            class="form-control"
                            id="visitorFormFName"
                            name="first_name"
                            ng-model="visitor.fname"
                            required>

                        <div class="help-block"
                            ng-show="visitorForm.first_name.$invalid && (visitorForm.$submitted || visitorForm.first_name.$touched)">
                            This field is required.
                        </div>
                    </div>

                    <!--Last Name-->
                    <div class="form-group"
                        ng-class="{ 'has-error' : visitorForm.last_name.$invalid && (visitorForm.$submitted || visitorForm.last_name.$touched) }">
                        <label for="visitorFormLName">Last Name *</label>
                        <input type="text"
                            class="form-control"
                            id="visitorFormLName"
                            name="last_name"
                            ng-model="visitor.lname"
                            required>

                        <div class="help-block"
                            ng-show="visitorForm.last_name.$invalid && (visitorForm.$submitted || visitorForm.last_name.$touched)">
                            This field is required.
                        </div>
                    </div>

                    <!--Email-->
                    <div class="form-group"
                        ng-class="{ 'has-error' : visitorForm.email.$invalid && (visitorForm.$submitted || visitorForm.email.$touched) }">
                        <label for="visitorFormEmail">Email*</label>
                        <input type="email"
                            class="form-control"
                            id="visitorFormEmail"
                            name="email"
                            ng-model="visitor.email"
                            required>

                        <!-- error message -->
                        <div class="help-block"
                            ng-show="visitorForm.email.$invalid && (visitorForm.$submitted || visitorForm.email.$touched)">
                            <div ng-show="visitorForm.email.$error.required">This field is required.</div>
                            <div ng-show="visitorForm.email.$error.email">This email address is not properly formatted.</div>
                        </div>
                    </div>

                    <button type="submit"
                        class="btn btn-default"
                        data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit"
                        class="btn btn-primary">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

