<div id="footer">
	<div class="row">
		<div class="col-xs-12 col-sm-6 row links hidden-xs">
			<div class="col-xs-4">
				<a href="/our-story">our story</a>
				<a href="/philosophy">philosophy</a>
				<a href="/ingredients">ingredients</a>
				<a href="/videos">videos</a>
			</div>
			<div class="col-xs-4">
				<a href="/how-to-skin-care">how to use</a>
				<a href="/why-oil-works">why oils work</a>
				<a href="/holistic-skin-care-tips">skin care tips</a>
				<a href="/gifts">gifts</a>
			</div>
			<div class="col-xs-4">
				<a href="/faq">faq</a>
				<a href="/buzz">press</a>
				<a href="/contact">contact us</a>
				<a href="/privacy-policy">privacy/terms</a>
				<a href="/return-policy">return policy</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 text-right">
			<div class="social">
				<span class="visible-xs-block visible-sm-block visible-md-block visible-lg-inline-block">tweet us. pin us. share us.</span>
				<a href="https://www.facebook.com/karigranskincare" class="fa fa-facebook"></a>
				<a href="http://pinterest.com/karigranskin/" class="fa fa-pinterest-p"></a>
				<a href="https://twitter.com/KariGranSkin" class="fa fa-twitter"></a>
				<a href="http://www.youtube.com/user/karigranskincare" class="fa fa-youtube"></a>
				<a href="http://instagram.com/karigranskin" class="fa fa-instagram"></a>
			</div>

			<!-- Cart icon -->
            <div class="subscriber">
                <form class="navbar-form" role="search" id="mc-embedded-subscribe-form-top" name="mc-embedded-subscribe-form-top" method="post" action="http://karigran.us5.list-manage1.com/subscribe/post?u=6355acb494cba6e3f035232b8&id=9b54ed013d">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter email for hot promotions" id="mce-EMAIL-top" name="EMAIL">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" onclick="ga('send', 'event', 'Newsletter Signup', 'Signup from top newletter form');" title="Subscribe" value="Subscribe" id="mc-embedded-subscribe-top">
                                GO
                            </button>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
	<div class="copyrights row">
		<span class="col-sm-6 copy--ottemo">
			Powered by <a href="http://ottemo.io">Ottemo</a>
		</span>
		<span class="col-sm-6 copy--wheels-up">
			Wheels Up LLC Copyright 2015 All Rights Reserved
		</span>
	</div>
</div>
