<div id="footer">
	<div class="row">
		<div class="col-xs-12 col-sm-6 links">
			<ul class="list-unstyled">
				<!-- <li><a href="/privacy-policy">privacy/terms</a></li> -->
				<!-- <li><a href="/return-policy">return policy</a></li> -->
				<li><a href="https://blog.karigran.com">Blog</a></li>
				<li><a href="/buzz">Press</a></li>
				<li><a href="/our-story">About Kari Gran</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 text-right">
			<div class="social">
				<span class="visible-xs-block visible-sm-block visible-md-block visible-lg-inline-block">tweet us. pin us. share us.</span>
				<a href="https://www.facebook.com/karigranskincare" class="fa fa-facebook"></a>
				<a href="http://pinterest.com/karigranskin/" class="fa fa-pinterest-p"></a>
				<a href="https://twitter.com/KariGranSkin" class="fa fa-twitter"></a>
				<a href="http://www.youtube.com/user/karigranskincare" class="fa fa-youtube"></a>
				<a href="http://instagram.com/karigranskin" class="fa fa-instagram"></a>
			</div>

			<!-- Subscribe Form -->
			<form
			class="subscriber"
			role="search"
			id="mc-embedded-subscribe-form-top"
			name="mc-embedded-subscribe-form-top"
			method="post"
			action="//karigran.us5.list-manage.com/subscribe/post?u=6355acb494cba6e3f035232b8&id=9b54ed013d">

				<button class="btn btn-primary btn-sm" type="submit" onclick="ga('send', 'event', 'Newsletter Signup', 'Signup from top newletter form');" title="Subscribe" value="Subscribe" id="mc-embedded-subscribe-top">
					go!
				</button>
				<div class="subscriber__input-wrap">
					<input
					type="text"
					class="subscriber__input form-control input-sm"
					id="mce-EMAIL-top"
					name="EMAIL"
					placeholder="Enter your email to stay in the loop">
				</div>


			</form>
		</div>
	</div>
	<div class="copyrights row">
		<!-- <div class="col-xs-12 col-sm-4 copy--ottemo">
			Powered by <a href="http://ottemo.io">Ottemo</a>
		</div> -->
		<div class="col-xs-12 col-sm-8 copy--wheels-up">
			Wheels Up LLC Copyright 2015 All Rights Reserved
		</div>
	</div>
</div>