<!-- Navigation bar -->
<nav id="header" role="navigation" class="navbar-default navbar">
    <div class="">
        <div class="navbar-header">
            <!-- Logo -->
            <a class="logo" href="/">
                <img alt="logo" class="" ng-src="{{getImg('logo.png')}}">
            </a>

            <!-- toggle button -->
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed col-xs-offset-1" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <!-- Cart icon -->
            <div class="">

                <form class="subscriber" role="search" id="mc-embedded-subscribe-form-top" name="mc-embedded-subscribe-form-top" method="post" action="//karigran.us5.list-manage.com/subscribe/post?u=6355acb494cba6e3f035232b8&id=9b54ed013d">

                    <button class="btn btn-primary btn-sm" type="submit" onclick="ga('send', 'event', 'Newsletter Signup', 'Signup from top newletter form');" title="Subscribe" value="Subscribe" id="mc-embedded-subscribe-top">
                        go!
                    </button>
                    <div class="subscriber__input-wrap">
                        <input
                        type="text"
                        class="subscriber__input form-control input-sm"
                        id="mce-EMAIL-top"
                        name="EMAIL"
                        placeholder="Enter your email to stay in the loop">
                    </div>


                </form>

                <div class="hidden-xs util-nav" ng-controller="visitorLoginController">
                    <span class="util-nav-banner">always free shipping</span>

                    <i class="util-nav-divider"></i>

                    <a ng-if="!visitorProps.isLoggedIn" ng-href="/login" class=" util-nav-item">Login</a>
                    <a ng-if="visitorProps.isLoggedIn" ng-href="/account" class=" util-nav-item">My Account</a>

                    <i class="util-nav-divider"></i>

                    <a href="/cart" class="util-nav-item">
                        Bag ({{getItemsInCart()}}) <i class="kg-icon-cart"></i>
                    </a>
                </div>

            <div class="clearfix"></div>
            </div>

            <!-- main menu -->
            <div class="main-menu" ng-include="getTemplate('common/navigation/main.html')">
            </div>

        </div>
    </div>
</nav>
