<div class="home" home-init>
    <a href="/shop" class="main-banner">
        <img
        alt="Mad for Marsala, Introducing the lip whip inspired by Pantone's 2015 color of the year"
        class="img-responsive"
        ng-src="{{getImg('Kari-Gran-Sale-Homepage-Hero-Image-864x364-Organic-Skin-Care-20%off Sale.jpg')}}"
        err-src="placeholder.png">
    </a>

    <div class="categories row">
        <a href="/shop/natural-lip-balm" class="col-xs-12 col-sm-4">
            <div class="inner">
                <img
                alt="Lip Whip Lip Treatment"
                ng-src="{{getImg('Kari-Gran-Homepage-Lip-Whip-Lip-Treatment-Desktop.jpg')}}"
                err-src="placeholder.png">
                <span>20% off All Lip Whip</span>
            </div>
        </a>
        <a href="/shop/organic-skin-care" class="col-xs-12 col-sm-4">
            <div class="inner">
                <img
                alt="Skin Care"
                ng-src="{{getImg('Kari-Gran-Homepage-Skin-Care-Skincare-Desktop.jpg')}}"
                err-src="placeholder.png">
                <span>20% off All Skin Care</span>
            </div>
        </a>
        <a href="/shop/mineral-makeup" class="col-xs-12 col-sm-4">
            <div class="inner">
                <img
                alt="Mineral Makeup"
                ng-src="{{getImg('Kari-Gran-Homepage-Makeup-Mineral-Makeup-Desktop.jpg')}}"
                err-src="placeholder.png">
                <span>Makeup</span>
            </div>
        </a>
    </div>

    <div class="about">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <img
                alt="About Lisa Strain"
                class="img-responsive"
                ng-src="{{getImg('Kari-Gran-Homepage-About-Lisa-Strain-Desktop.jpg')}}"
                err-src="placeholder.png">
            </div>
            <div class="col-xs-12 col-md-7">
                <h4 class="flat-top">About Kari Gran</h4>
                <p>
                    Kari Gran is an eco-luxe skin care brand providing a simple, elegant, all natural skin care solution that works flawlessly for any age and skin type. Beautiful skin isn’t a gift or something you can buy; it’s a habit cultivated holistically. Our products are hand poured with the highest quality natural, organic, wildharvested and non-GMO ingredients, our simple, easy-to-use, all natural skin care system results in an everyday ritual. Always paraben and toxin free—the little black dress of eco-skin care. <a href="/our-story">learn more</a>
                </p>
            </div>
        </div>
    </div>

    <div class="reviews">
        <h4>Customer Reviews</h4>
        <div class="trustpilot-widget" data-locale="en-US" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="54f078980000ff00057db649" data-style-height="150" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5" style="position: relative;"></div>
    </div>

    <div class="wonderwork">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <video poster="theme/images/wonderwork-poster.png" controls="controls" id="videoplayer">
                    <!--ADD mp4 to src -->
                    <source type="video/mp4" src="theme/images/video/first-sight-sonia-and-anita.mp4" id="vidsrcmp4"></source>
                    <!--ADD ogg to src -->
                    <source type="video/ogg" src="theme/images/video/first-sight-sonia-and-anita.ogv" id="vidsrcogv"></source>
                    <source type="video/webm" src="theme/images/video/first-sight-sonia-and-anita.webm" id="vidsrcwebm"></source>
                    <!-- add swf value to data-->
                </video>
            </div>
            <div class="col-xs-12 col-md-7">
                <h4 class="flat-top">WonderWork</h4>
                <p>
                    We believe beauty is not measured by an age, a dollar sign or stereotype and that we do not need to be fixed, plumped, erased or changed. We believe that beauty is achieved by how you live your life, and the choices you make. One choice we have made is to try to live everyday with gratitude and to share in our abundance. So, we have partnered with WonderWork, an organization committed to saving the lives of children and their families by providing free, life-changing surgeries. For every dollar you spend, we donate 1% to the cause. And we are grateful that we have so many Kari Gran clients that make this gift possible. Whether it’s a lip whip or a system purchase, you are helping to change lives. Now, isn’t that beautiful.
                </p>
            </div>
        </div>
    </div>
</div>
