<style>
    .not-found h1 {
        margin: 36px 0 0;
        font: 41px/40px 'robotobold',sans-serif;
        color: #1f4258;
    }
    .not-found h2 {
        margin: 1px 0 7px;
        font: 20px 'robotobold',sans-serif;
        color: #1f4258;
    }
    .not-found p {
        margin: 19px 0;
        font: 16px "roboto_ltregular",sans-serif;
        color: #1f4258;
    }
    @media (max-width: 991px) {
        .static-page {
            padding: 30px 10px;
        }
    }
</style>
<div class="page-title"></div>
<section class="static-page not-found row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive center-block" alt="" ng-src="{{getImg('404.png')}}" err-src="placeholder.png">
            </div>
        </div>
        <h1 class="text-center">Ooops!</h1>
        <h2 class="text-center">We are truly sorry, the page you requested cannot be found.</h2>
        <p class="text-center">
            It seems the page you were trying to reach does not exist or maybe it has been moved. 
            The best thing to do is to start again from the home page. Feel free to contact us 
            if the problem persists or if you can't find what you are looking for. Thank you 
            very much.
        </p>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-11 col-sm-offset-1">
        <div class="col-md-12">
            <img class="img-responsive" alt="" ng-src="{{getImg('404_down.jpg')}}" err-src="placeholder.png">
        </div>
    </div>
</section>
