<form name="formCtrl"
    ng-submit="formCtrl.$valid && onSubmit()"
    novalidate>
    <div class="row">
        <div class="col-md-6">

            <!--First name-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('first_name') }">
                <label for="{{uid}}.first_name">First Name*</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.first_name"
                    ng-model="formModel.first_name"
                    name="first_name"
                    required />

                <div class="help-block"
                    ng-show="hasErr('first_name')">
                    This field is required.
                </div>
            </div>

            <!--Last name-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('last_name') }">
                <label for="{{uid}}.last_name">Last Name*</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.last_name"
                    ng-model="formModel.last_name"
                    name="last_name"
                    required />

                <div ng-show="hasErr('last_name')"
                    class="help-block">
                    This field is required.
                </div>
            </div>

            <!--Company-->
            <div class="form-group">
                <label for="{{uid}}.company">Company Name</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.company"
                    name="company"
                    ng-model="formModel.company">
            </div>

            <!--Address 1-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('address_line1') }">
                <label for="{{uid}}.address_line1">Address 1*</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.address_line1"
                    name="address_line1"
                    ng-model="formModel.address_line1"
                    required>

                <div class="help-block"
                    ng-show="hasErr('address_line1')">
                    This field is required.
                </div>
            </div>

            <!--Address 2-->
            <div class="form-group">
                <label for="{{uid}}.address_line2">Address 2</label>
                <input type="text"
                    class="form-control"
                    name="address_line2"
                    id="{{uid}}.address_line2"
                    ng-model="formModel.address_line2">
            </div>

        </div>
        <div class="col-md-6">

            <!--Country-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('country') }">
                <label for="{{uid}}.country">Country*</label>

                <div>
                    <select class="form-control"
                        id="{{uid}}.country"
                        name="country"
                        ng-model="formModel.country"
                        required
                        ng-options="c.Code as c.Name for c in countries">
                    </select>
                </div>

                <div class="help-block"
                    ng-show="hasErr('country')">
                    This field is required.
                </div>
            </div>

            <!--City-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('city') }">
                <label for="{{uid}}.city">City*</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.city"
                    name="city"
                    ng-model="formModel.city"
                    required>

                <div class="help-block"
                    ng-show="hasErr('city')">
                    This field is required.
                </div>
            </div>

            <!--State-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('state') }">

                <label for="{{uid}}.state">
                    {{ formModel.country === 'US' ? 'State*' : 'State / Province / Region *'}}
                </label>

                <!-- US: States -->
                <select name="state"
                    class="form-control"
                    required
                    ng-model="formModel.state"
                    ng-options="c.Code as c.Name for c in states"
                    ng-show="formModel.country === 'US'">
                </select>

                <!-- NON US: States / Regions -->
                <input type="text"
                    name="state"
                    class="form-control"
                    required
                    ng-model="formModel.state"
                    ng-show="formModel.country !== 'US'">

                <div class="help-block"
                    ng-show="hasErr('state')">
                    This field is required.
                </div>
            </div>

            <!--Zip code-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('zip_code') }">
                <label for="{{uid}}.zip_code">Zip / Postal Code*</label>
                <input class="form-control"
                    id="{{uid}}.zip_code"
                    name="zip_code"
                    type="text"
                    ng-model="formModel.zip_code"
                    ot-zip-code
                    ot-zip-code-linked-country="{{formModel.country}}"
                    required>

                <div class="help-block"
                    ng-show="hasErr('zip_code')">
                    <div ng-show="formCtrl.zip_code.$error.required">This field is required.</div>
                    <div ng-show="formCtrl.zip_code.$error.otZipCode">The provided zipcode is in an invalid format.</div>
                </div>
            </div>

            <!--Phone-->
            <div class="form-group"
                ng-class="{ 'has-error' : hasErr('phone') }">
                <label for="{{uid}}.phone">Phone*</label>
                <input type="text"
                    class="form-control"
                    id="{{uid}}.phone"
                    ng-model="formModel.phone"
                    name="phone"
                    ot-telephone
                    ot-telephone-linked-country="{{formModel.country}}"
                    required />

                <div class="help-block"
                    ng-show="hasErr('phone')">
                    <div ng-show="formCtrl.phone.$error.required">This field is required.</div>
                    <div ng-show="formCtrl.phone.$error.otTelephone">The telephone provided is in an invalid format.</div>
                </div>
            </div>
        </div>
    </div>

    <ng-transclude></ng-transclude>
</form>