<style>
        .list-bar {
            float: right;
            width: 100%;
            text-align: right;
            top: -20px;
            position: relative;
        }

        .list-bar span:hover {
            cursor: pointer;
        }
</style>

<div class="list-bar">

    <span class="glyphicon glyphicon-sort" ng-click="toggleBlock('sort')">SORT</span>

    <span class="glyphicon glyphicon-search" ng-click="toggleBlock('search')">SEARCH</span>

    <span class="glyphicon glyphicon-filter" ng-click="toggleBlock('filter')">FILTER</span>

</div>
<div style="float: left; width: 100%;">
    <div ng-show="blocks.sort">
        <a class="col-md-2" href="" target="_self">NEW</a>
        <a class="col-md-2" href="" target="_self">PRICE LOW TO HIGH</a>
        <a class="col-md-2" href="" target="_self">PRICE JIGH TO LOW</a>
        <a class="col-md-2" href="" target="_self">RATING</a>
        <a class="col-md-2" href="" target="_self">NAME</a>
    </div>
    <div ng-show="blocks.search">
        <input type="text" class="form-control" placeholder="Search" ng-model="parent.searchText"/>
    </div>
    <div ng-show="blocks.filter">

    </div>
</div>
