<h2 class="text-center">
    Cart
</h2>
<br>

<!-- product row -->
<div ng-init="init()" class="product">
    <div ng-hide="it.getCountItems()">
        <p>No items are currently in your cart</p>
    </div>

    <div class="cart__proceed visible-xs" ng-show="it.getCountItems()">
        <a class="btn btn-lg btn-primary" href="/checkout">
            Proceed to Checkout
        </a>
        <br>
    </div>

    <div class="row cart__item-row" ng-repeat="item in it.getItems()" ng-show="it.getCountItems()" ng-class="{'last': $last}">

        <!-- image -->
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail col-xs-12 vcenter">
                <a href="{{productService.getUrl(item.pid)}}">
                    <img ng-src="{{getImage(item.product)}}" err-src="placeholder.png" alt="{{item.product.name}}"/>
                </a>
            </div>
        </div>

        <!-- info -->
        <div class="col-xs-6 col-sm-4">
            <h4>{{item.product.name}}</h4>

            <ul class="list-unstyled">
                <li>{{item.product.price | number: 2 | currency}}</li>
                <li ng-repeat="(key, value) in item.options">
                    {{key}}: {{productService.getOptStr(value)}}
                </li>
            </ul>
        </div>

        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 visible-xs">
            <a class="btn btn-default btn-block" ng-click="remove(item.idx)">Remove</a>
        </div>

        <!-- qty -->
        <div class="col-xs-6 col-sm-4 col-md-3 cart-list__product-qty">

            <select class="form-control"
            ng-show="item.qty < 10"
            ng-model="item.qty"
            ng-change="update(item.idx, item.qty)"
            ng-options="option.value as option.label for option in qtyOptions">
            </select>

            <input
            type="number"
            class="form-control text-center"
            value="{{item.qty}}"
            ng-show="item.qty >= 10"
            ng-model="item.qty"
            ng-model-options="{debounce: {'default': 500}}"
            ng-change="update(item.idx, item.qty)" />

        </div>

        <!-- price desktop -->
        <div class="hidden-xs hidden-sm col-md-1 cart-list__product-subtotal">
            {{item.product.price * item.qty | currency}}
        </div>

        <!-- product removal -->
        <div class="hidden-xs col-sm-1 cart-list__product-remove">
            <a class="btn btn-block btn-link" ng-click="remove(item.idx)">
                <i class="fa fa-close"></i>
            </a>
        </div>
    </div>

    <div ng-show="it.getCountItems()">
        <h4 class="text-right">
            Cart items:&nbsp;&nbsp;&nbsp;<strong>{{it.getTotalQuantity()}}</strong>
        </h4>

        <h4 class="text-right">
            Cart total:&nbsp;&nbsp;&nbsp;<strong>{{getSubtotal() | currency}}</strong>
        </h4>
        <div class="cart__proceed">
            <a class="btn btn-lg btn-primary" href="/checkout">
                Proceed to Checkout
            </a>
        </div>
    </div>
</div>


<style>
    .product .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>