<!-- Orders details page -->
<div ng-init="init()" class="text-center">

    <h2>Order №{{order.increment_id}}</h2>

    <h4>
        Date: <strong>{{getDateCreated(order.created_at)}}</strong>
    </h4>

    <hr>

    <h4>Billing & Shipping</h4>
    
    <!-- bill to table -->
    <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Bill to:
                </h3>
            </div>

            <!-- bill to info -->
            <table class="table table-bordered ">
                <tr>
                    <td>Company:</td>
                    <td>{{order.billing_address.company}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{order.billing_address.last_name}} {{order.billing_address.first_name}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{order.billing_address.address_line1}} {{order.billing_address.address_line2}}, {{order.billing_address.city}}</td>
                </tr>
                <tr>
                    <td>Zip,state,country:</td>
                    <td>{{order.billing_address.zip_code}}, {{order.billing_address.state}}, {{order.billing_address.country}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{order.billing_address.phone}}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- ship to table -->
    <div class="col-sm-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Ship to:
                </h3>
            </div>

            <!-- ship to info -->
            <table class="table table-bordered ">
                <tr>
                    <td>Company:</td>
                    <td>{{order.shipping_address.company}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{order.shipping_address.last_name}} {{order.shipping_address.first_name}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{order.shipping_address.address_line1}} {{order.shipping_address.address_line2}}, {{order.shipping_address.city}},</td>
                </tr>
                <tr>
                    <td>Zip,state,country:</td>
                    <td>{{order.shipping_address.zip_code}}, {{order.shipping_address.state}}, {{order.shipping_address.country}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{order.shipping_address.phone}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>
    
    <!-- products in order -->
    <div class="col-sm-6 col-lg-5 col-lg-offset-1">
        <table class="table table-bordered table-condensed">
            <tr ng-repeat="product in order.items">

                <!-- product name -->
                <td class="text-left">{{product.Name}}</td>

                <!-- product quantity -->
                <td>{{product.Qty}}</td>

                <!-- product price -->
                <td>{{product.Price | currency}}</td>
            </tr>
        </table>
    </div>
    
    <!-- total table -->
    <div class="col-sm-6 col-lg-5">
        <table class="table table-bordered table-condensed">
            <tr>
                <td class="text-left">Subtotal:</td>
                <td>{{order.subtotal | currency}}</td>
            </tr>
            <tr>
                <td class="text-left">Tax:</td>
                <td>{{order.tax_amount | currency}}</td>
            </tr>
            <tr>
                <td class="text-left">Order Total:</td>
                <td>{{order.grand_total | currency}}</td>
            </tr>
        </table>
    </div>

    <div class="clearfix"></div>

    <a class="btn btn-primary" href="#/account/orders">Back to Orders</a>
    <br><br>
</div>
