<div id="pageHeader">
    <div class="pageHeaderInner">
        <!--Left Menu-->
        <div class="left-header-menu" ng-controller="commonSidebarController">
            <a class="open" href="#nav"></a>

            <div id="nav">
                <div class="left-header-menu-inner">
                    <ul class="left-header-menu-items">
                        <li ng-repeat="item in items">
                            <a href="#/{{item.link}}" title="{{item.title}}"
                               ng-class="it.getType(item.icon) == 'image' ? 'nav-left-link' : ''"

                               ng-switch="it.getType(item.icon)">


                                <span ng-switch-when="glyphicon" class="{{item.icon}}"/>
                                <img ng-switch-when="image" class="button-image" ng-src="{{item.icon}}"/>
                                <span class="nav-left-link-text">{{item.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="CartHeader" ng-controller="loginController">
            <ul>
                <li>
                    <a href="" title="" target="_self" id="cart-menu" ng-click="clickToCart()"><img src="images/header/cart.png"></a>
                </li>
            </ul>
        </div>
        <div ng-controller="commonHeaderController">
            <div class="header-logo">
                <div class="header-logo-content">
                    <a href="" target="_self" title="Logo" id="mobnav-btn">
                        <img src="images/header/logo.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="sf-menu-container">
                <ul class="sf-menu">
                    <li ng-repeat="item in categories;" ng-include="getTemplate('common/header/menuItem.html')"></li>
                    <li class="superfish-close-inner"><a class="superfish-close" href="" target="_self">&nbsp;</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    jQuery(".open").pageslide();
    jQuery('#mobnav-btn').click(
            function () {
                jQuery('.sf-menu').toggleClass("xactive");
                jQuery('.sf-menu-container').toggleClass('xactive-open');
                jQuery('html, body').toggleClass('category-open');
                jQuery('li').removeClass('xpopdrop');
            }
    );
    jQuery('.mobnav-subarrow').click(
            function () {
                jQuery(this).parent().toggleClass("xpopdrop");
            }
    );
    jQuery('.superfish-close').click(
            function () {
                jQuery('ul').removeClass("xactive");
                jQuery('.sf-menu-container').removeClass('xactive-open');
                jQuery('html, body').removeClass('category-open');
                jQuery('li').removeClass('xpopdrop');
            }
    );
    jQuery('#cart-menu').click(
            function () {
                jQuery(this).parent().find("ul").toggleClass("hidden");
            }
    );

    jQuery(window).resize( function(event) {
        pageHeight = jQuery(window).height();
        headerHeight = 125; //jQuery('#pageHeader').height();
        
        jQuery('#cellPageContent').css({'height': pageHeight - headerHeight });
    });
</script>

