<a href="" class="ng-scope ng-binding" target="_self" id="modal-registration">registration</a>
<div class="modal fade" id="form-registration" tabindex="-1" role="dialog" ng-controller="loginController">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                REGISTRATION
            </div>

            <div class="modal-body">
                <div class="panel panel-default">
                    <form role="form">
                        <div class="panel-body">
                            <div>
                                <label for="email">Email</label>
                                <input type="text" id="email" placeholder="email" ng-model="visitor.email"/>
                            </div>

                            <div>
                                <label for="fname">First Name</label>
                                <input type="text" id="fname" placeholder="fname" ng-model="visitor.fname"/>
                            </div>

                            <div>
                                <label for="lname">Last Name</label>
                                <input type="text" id="lname" placeholder="lname" ng-model="visitor.lname"
                                       autocomplete="off"/>
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input type="password" id="password" placeholder="password" ng-model="visitor.password"
                                       autocomplete="off"/>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="social-box">
                    <div class="btn-soc">
                        <ng-include src="getTemplate('login/social/facebook.html')"></ng-include>
                    </div>
                    <div class="btn-soc">
                        <ng-include src="getTemplate('login/social/google.html')"></ng-include>
                    </div>
                    <div class="btn-soc btn-soc-right">
                        <button class="btn btn-primary pull-right" ng-click="save()">Register</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    $("#modal-registration").click(function () {
        $("#form-registration").modal("show");
    });
</script>