<!-- categories -->
<ul role="navigation" id="sidebar" class="sidebar-offcanvas" ng-controller="commonHeaderController"  >
	<h3 class="text-bold">Categories</h3>
	<hr style="margin:0">
	<li ng-repeat="item in categories;" class="list-unstyled">
    	<a href="{{categoryService.getUrl(item.id)}}" target="{{item.id != null ? '' : '_self'}}" class="text-muted display">
			<h4>
				-
				{{item.name}}
				<span class="fa fa-angle-down pull-right" ng-if="item.child.length &gt; 0">&nbsp;&nbsp;&nbsp;</span>
			</h4>
	    </a>

	    <ul class="second-level" ng-if="item.child.length &gt 0">
	      	<li class="list-unstyled" ng-repeat="item in item.child;" ng-include="getTemplate('common/navigation/categories-items.html')"></li>
	    </ul>

	</li> 
</ul>