<div class="navbar-collapse collapse" id="navbar">
    <ul class="nav navbar-nav"  ng-controller="commonSidebarController">
        <li ng-repeat="item in sidebar.getItems()">
            <a href="#/{{item.link}}" title="{{item.title}}">{{item.title}}</a>
            <span ng-if="!$last"></span>
        </li>
    </ul>
    <!-- categories -->
	<ul ng-controller="commonHeaderController" class="nav navbar-nav visible-xs">
		<li ng-repeat="item in categories;" class="list-unstyled">
	    	<a href="{{categoryService.getUrl(item.id)}}" target="{{item.id != null ? '' : '_self'}}" class="text-muted display text-uppercase">
					{{item.name}}
					<span class="fa fa-angle-down pull-right" ng-if="item.child.length &gt; 0">&nbsp;&nbsp;&nbsp;</span>
		    </a>

		    <ul class="second-level" ng-if="item.child.length &gt 0">
		      	<li class="list-unstyled" ng-repeat="item in item.child;" ng-include="getTemplate('common/navigation/categories-items.html')"></li>
		    </ul>

		</li> 
	</ul>

</div>