
<!-- header layout -->
<ng-include src="getTemplate('common/header.html')"></ng-include>

<div class="clearfix"></div>

<div class="content-wrapper">
	<!-- main content layout -->
	<ng-view></ng-view>

	<div class="clearfix"></div>

	<!-- footer layout -->
	<ng-include src="getTemplate('common/footer.html')"></ng-include>
</div>

<!-- login and registration modals -->
<ng-include src="getTemplate('visitor/modal/login.html')"></ng-include>
<ng-include src="getTemplate('visitor/modal/registration.html')"></ng-include>

<!-- minicart modal -->
<ng-include src="getTemplate('cart/quick-cart.html')" ng-controller="cartListController"></ng-include>
