<!-- Account main page -->
<div ng-init="init()" >
	<h2 class="text-center">My Account</h2>
	<br>

	<div class="row">
		<!-- left-side menu -->
		<ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>

		<!-- profile layout -->
		<div class="col-xs-12 col-sm-9" ng-controller="visitorAccountController">
			
			<!-- account info -->
			<div class="">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Account info
						</h3>
					</div>
					<table class="table">
						<!-- first name -->
						<tr>
							<td>
								First name
							</td>
							<td>
								<!-- account first name from base -->
								<strong ng-bind="visitor.fname"></strong>
							</td>
						</tr>
						<!-- last name -->
						<tr>
							<td>
								Last name
							</td>
							<td>
								<!-- account last name from base -->
								<strong ng-bind="visitor.lname"></strong>
							</td>
						</tr>
						<!-- email -->
						<tr>
							<td>
								Email
							</td>
							<td>
								<!-- account email from base -->
								<strong ng-bind="visitor.email"></strong>
							</td>
						</tr>
					</table>
					<div class="panel-footer">
						<button class="btn btn-primary" data-toggle="modal" data-target="#parent_popup_profile" >
							Edit info
						</button>

						<button data-toggle="modal" data-target="#form-change-password" class="btn btn-default" >
							Change Password 
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- change password modal -->
	<ng-include src="getTemplate('visitor/account/modal/change-password.html')"></ng-include>

	<!-- change info modal -->
	<ng-include src="getTemplate('visitor/account/modal/change-info.html')"></ng-include>
</div>


