<div class="">
    <h2 class="text-center row">Reset your password</h2>
    <br>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <!-- form -->
            <form name="resetForm"
                ng-submit="resetForm.$valid && reset()"
                novalidate>

                <!-- error messages -->
                <gui-message-manager item="message"></gui-message-manager>
                <div class="alert alert-danger"
                    ng-show="!key">
                    It looks like the url you followed to get here is incorrect.
                    <br> Please go back to your e-mail and copy and paste the url into your address bar. If that doesn't work please try submitting the <a href="/forgot-password">forgot password form again</a>.
                </div>

                <!-- password field + label-->
                <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.password.$invalid && (resetForm.$submitted || resetForm.password.$touched) }">
                    <label for="password">Password *</label>
                    <input id="password"
                        type="password"
                        class="form-control input-lg"
                        name="password"
                        ng-model="visitor.password"
                        ng-model-options="{ updateOn: 'blur' }"
                        ot-password
                        required/>

                    <!-- error message -->
                    <div class="help-block"
                        ng-show="resetForm.$submitted || resetForm.password.$touched">
                        <span ng-show="resetForm.password.$error.required">This field is required.</span>
                        <span ng-show="resetForm.password.$error['ot-password']">{{resetForm.password.message}}</span>
                    </div>
                </div>

                <!-- password confirm field + label-->
                <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.confirmPassword.$invalid && (resetForm.$submitted || resetForm.confirmPassword.$touched) }">
                    <label for="confirmPassword">Password confirm *</label>
                    <input id="confirmPassword"
                        type="password"
                        class="form-control input-lg"
                        name="confirmPassword"
                        ng-model="visitor.confirmPassword"
                        ot-match="visitor.password"
                        required/>

                    <!-- error message -->
                    <div class="help-block"
                        ng-show="resetForm.$submitted || resetForm.confirmPassword.$touched">
                        <span ng-show="resetForm.confirmPassword.$error.required">This field is required.</span>
                        <span ng-show="resetForm.confirmPassword.$error.match">The two passwords don't match.</span>
                    </div>
                </div>

                <!-- submit button -->
                <button class="btn btn-primary col-xs-4 col-xs-offset-4"
                    type="submit"
                    ng-class="{'disabled': isSubmitting}">
                    <i class="fa fa-circle-o-notch fa-spin"
                        ng-show="isSubmitting"></i> Update Password
                </button>
            </form>
        </div>
    </div>
</div>

