<div class="page-title"></div>
<div ng-init="init()">
    <div class="account-left">
        <!-- MENU -->
        <ng-include src="getTemplate('visitor/account/menu.html')"></ng-include>
    </div>

    <div class="account-right">
        <!-- PROFILE DETAILS AND EDIT FORM -->
        <ng-include src="getTemplate('visitor/account/profile.html')"></ng-include>
    </div>
</div>

<!-- Change password popUp -->
<ng-include src="getTemplate('visitor/account/change-password.html')"></ng-include>
</div>