<div id="pageHeader">
<div class="left-header-menu" ng-controller="commonSidebarController">
        <a class="open" href="#nav"></a>
        <div id="nav">
                <a href="#/{{item.link}}" title="{{item.title}}"
                   ng-class="it.getType(item.icon) == 'image' ? 'button btn btn-lg btn-default' : ''"
                   ng-repeat="item in items"
                   ng-switch="it.getType(item.icon)">


                    <button ng-switch-when="glyphicon" class="btn btn-lg btn-default {{item.icon}}" />
                    <img ng-switch-when="image" class="button-image" ng-src="{{item.icon}}" />
                    <span>{{item.title}}</span>
                </a>
        </div>
</div>
 <div  ng-controller="commonHeaderController">
            <div>
                <button type="button" class="navbar-toggle header-category" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--Rigth menu-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in rightMenu;" ng-include="getTemplate('common/header/menuItem.html')"></li>
                    </ul>
            </div>
 </div>
</div>
<script type="text/javascript">
    jQuery(".open").pageslide();
</script>


