<div class="row">
    <div class="my-col-xs-1" ng-repeat="_item in products">

        <div class="row">
            <div class="tile">
                <div class="thumbnail">
                    <div style="float: left; width: 100%; position: relative; padding-left: 15px;">
                        <a class="col-md-2" href="#/product/{{_item.Id}}">
                            <img ng-src="{{getImage(_item.Image)}}" alt="_item.Name"
                                 style="max-width: 75px; max-height: 75px;">
                        </a>
                    </div>

                    <div class="caption">
                        <div style="float: left; width: 100%; position: relative;">
                            <a class="col-md-2" href="#/product/{{_item.Id}}">
                                <h4>{{_item.Name}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>