<div ng-init="init()" class="cat">
    <div class="row-offcanvas row-offcanvas-left">
        <ng-include src="getTemplate('common/navigation/categories.html')"></ng-include>
        <div class="cat-top">
            <button data-toggle="offcanvas" class="fa fa-navicon btn btn-primary btn-cat hidden-xs" type="button"></button>
            <!-- breadcrumbs -->
            <ng-include src="getTemplate('common/navigation/breadcrumbs.html')"></ng-include>
            <div class="filters">
                <span id="search">
                    <i class="fa fa-search" ></i>
                    <span>search</span>
                </span>
                <span id="sort">
                    <i class="fa fa-sort-amount-asc"></i>
                    <span>sort</span>
                </span>
                <span id="sidebar-offcanvas" class="hidden-sm hidden-md hidden-lg">
                    <i data-toggle="offcanvas" class="glyphicon glyphicon-filter" type="button"></i>
                </span>
            </div>
        </div>
        <!-- filters -->
        <div class="filter">
             <div class="search">
                 <div class="filter-search">
                     <form class="ng-pristine ng-valid">
                         <input class="form-control ng-pristine ng-valid" type="text" ng-model="searchText" placeholder="Search...">
                         <span class="glyphicon glyphicon-search" ng-click=""></span>
                         <div class="clear"></div>
                     </form>
                     <div class="nav-close" ng-click="closeBlock('search')"></div>
                 </div>
             </div>
            <div class="sort">
                <div class="filter-sort">
                    <a ng-click="sortByPrice('asc')" target="_self" href="">PRICE LOW TO HIGH</a>
                    <a ng-click="sortByPrice('desc')" target="_self" href="">PRICE HIGH TO LOW</a>
                    <a ng-click="sortByName('asc')" target="_self" href="">NAME ASC</a>
                    <a ng-click="sortByName('desc')" target="_self" href="">NAME DESC</a>
                    <div class="clear"></div>
                    <div class="nav-close" ng-click="closeBlock('sort')"></div>
                </div>
            </div>
        </div>
        <!-- products -->
        <div class="col-xs-12">
            <div class="col-sm-4 col-lg-3 col-xs-6 product" ng-repeat="_item in productsList | filter:searchText" ng-show="productsList.length">
                <!-- product desktop version with info -->
                <a href="" class="thumbnail hidden-xs">
                    <!-- image -->
                    <img ng-src="{{getImage(_item)}}" ng-click="openPopUp(_item);" alt="" err-src="placeholder.png">
                    <span class="caption text-center">
                        <!-- product price -->
                        <h4 class="ng-binding">{{_item.price | number : 2 | currency}}</h4>
                        <!-- product name -->
                        <h5 class="ng-binding">{{_item.name}}</h5>
                        <!-- buttons -->
                        <span class="col-md-12 center-block">
                            <span class="btn-group col-sm-12">
                                <!-- quick view -->
                                <span class="col-sm-6" ng-click="openPopUp(_item);">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </span>
                                <!-- fast shoping -->
                                <span class="col-sm-6" ng-click="addToCart(_item._id)">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </span>
                            <span class="clearfix"></span>
                        </span>
                        <span class="clearfix"></span>
                    </span>
                </a>
                <a href="{{productService.getUrl(_item._id)}}" class="thumbnail visible-xs">
                    <img ng-src="{{getImage(_item)}}" alt="" err-src="placeholder.png">
                </a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>
    </div>
    <div class="text-center">
        <gui-paginator object="this" ng-if="pages > 1"></gui-paginator>
    </div>
</div>

<!-- quick view modal -->
<ng-include src="getTemplate('category/modal/quick-view.html')"></ng-include>

<script>
// toggle for filters
    $('.filters > span').on('click',function() {
        $(this).toggleClass('active').siblings().removeClass('active');
        var className = $(this).attr('id');
        if(className == "sidebar-offcanvas"){
            $(".filter > div").css('display','none');
        }else{
            $('.'+className).siblings().css('display','none');
            $(".sidebar-offcanvas.mobile").css('display','none');
        }


        $('.'+className).slideToggle();
   });
   // toggle for left sidebar to see all items
   $(document).on('click','#sidebar h6 + span',function(){
      $(this).siblings('ul').toggleClass('active');
   });
   //padding for fixed navigation
    setTimeout(function() { 
        var wrapHeight = (parseInt($('#wrapper-inner').css('height'))) - (parseInt($('#wrapper-inner').css('paddingTop')));
        $('#sidebar').css('minHeight', wrapHeight);
        $('.cat').css('minHeight', wrapHeight);
     }, 500)
</script>