@font-face {
    font-family: 'roboto_ltregular';
    src: url('../fonts/roboto/roboto-light.eot');
    src: url('../fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light.woff') format('woff'),
         url('../fonts/roboto/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular.eot');
    src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular.woff') format('woff'),
         url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold.eot');
    src: url('../fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold.woff') format('woff'),
         url('../fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/roboto/roboto-medium.eot');
    src: url('../fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium.woff') format('woff'),
         url('../fonts/roboto/roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    padding-top: 126px !important;
}
a {
	text-decoration: none !important;
}
a:hover {
    cursor: pointer;
}
a:focus, a:active {
    outline: none ;
}
ul {
    list-style-type: none;
}
.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.h-container {
    padding: 0 75px;
}

/*//////////////////////////////////////////////////////////   start Home Page  */

#wrapper {
    width-min: 290px;
}
.logo {
    margin-top: 8px;
}

header.navbar {
    -webkit-box-shadow: 0 7px 6px -5px rgba(180, 180, 180, 1);
    -moz-box-shadow: 0 7px 6px -5px rgba(180, 180, 180, 1);
    box-shadow: 0 7px 6px -5px rgba(180, 180, 180, 1);
}
.navbar-collapse .navbar-nav a,.btn-login {
    font-size: 21px;
    color: #777;
}
.btn-login {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin-top: 0;
    margin-right: 9px;
    text-transform: uppercase;
}
header .btn-login[href="#/account"] span:first-child:before {
    content: "\e008";
    font-size: 25px;
    font-family: "Glyphicons Halflings";
}
header .btn-login[href="#/logout"] span:first-child:before {
    content: "\e163";
    font-size: 25px;
    font-family: "Glyphicons Halflings";
}
.btn-login span:nth-child(2) {
    margin-top: 18px;
}
.btn-login span:nth-child(1) {
    margin-top: 11px;
}
.btn-login:hover {
    color: #1F4258;
}
.btn-login span:first-child{
    font-size: 28px;
}
.btn-login span:last-child {
    font-size: 14px;
}
.cart {
    color: #777;
    display: block;
    font-size: 28px;
    margin: 10px 0 0 20px;
}

.shop {
    display: block;
    border: 2px solid #5ea8da;
    bottom: 4%;
    color: #1f4258;
    font-size: 42px;
    left: 50%;
    list-style: outside none none;
    margin-left: -152px;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 304px;
    z-index: 15;
    line-height: 1.4;
    height: 65px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s ease;/* Firefox 4-15 */
    -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
    transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.shop:hover {
    background: #1f4258;
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s ease;/* Firefox 4-15 */
    -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
    transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.carousel-indicators li {
    height: 20px;
    width: 20px;
}
.carousel-indicators {
    bottom: 32px;
    left: 5%;
}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
}
.h-main-block {
    padding: 0 5%;
}
.h-carousel img {
    width: 100%;
}
.h-slider-switch .btn-custom {
	border: 1px solid #1f4258;
    color: #282828;
    display: block;
    float: left;
    font: 28px "roboto_ltregular",sans-serif;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
    background-color: #ffffff;
}
.h-slider-switch {
    height: 56px;
    margin: 65px auto;
    width: 666px;
}
.h-slider-switch li .btn-custom{
	border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.btn-custom:active,.btn-custom:visited,
.btn-custom:hover,.btn-custom:focus {
    outline: none !important;
}
.h-slider-switch li:first-child .btn-custom{
	border-top-left-radius: 35px;
    -moz-border-top-left-radius: 35px;
    -webkit-border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    -moz-border-bottom-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;

}
.h-slider-switch li:last-child a {
    border-left: none;
}
.h-slider-switch li:first-child a {
    border-right: none;
}
.h-slider-switch .btn-custom:hover {
    background: #1F4258;
    color: #fff;
    border-color: #1F4258;
}
.h-slider-switch li:last-child .btn-custom{
	border-top-right-radius: 35px;
    -moz-border-top-right-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    -moz-border-bottom-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
}
.h-slider-switch .active .btn-custom{
	color: #ffffff;
	background-color: #1F4258;

}
.h-shipping h4 {
    color: #282828;
    font: 28px "roboto-medium",sans-serif;
    text-transform: uppercase;
}
.h-shipping h4 span {
    color: #4ea2da;
}
.h-shipping h5 {
    color: #282828;
    font: 21px "roboto-medium",sans-serif;
    text-transform: uppercase;
}
.h-shipping {
    border: 1px solid #DBDBDB;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.h-bottom {
    background: url(../images/h-bottom.jpg) center top no-repeat;
    background-size: 100% 100%;
    height: auto;
    padding-top: 57px;
}
footer {
    background-color: #1F4258;
    height: 170px;
}
.h-bottom h4, .h-bottom a {
    color: #ffffff;
    font: 48px/56px "roboto_ltregular",sans-serif;
    margin: 0 0 29px;
    text-transform: uppercase;
}
.h-bottom a {
    border: 1px solid #ffffff;
    display: block;
    margin: 34px auto;
    padding: 13px 40px;
    text-transform: capitalize;
    width: 390px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 80px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.h-bottom a:hover {
    background: #1f4258;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.h-bottom p {
    font: 28px/35px "roboto_ltregular",sans-serif;
    color: #ffffff;
}
footer li a {
    font: 18px "roboto_ltregular",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
footer li a:hover {
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
footer .fa {
    color: #ffffff;
    font-size: 35px;
}
footer {
    padding-top: 65px;
    position: relative;
}
footer div:last-child {
    position: absolute;
    bottom: 5px;
}
footer .fa-hover {
    float: right;
    margin-right: 10px;
}
footer .fa-hover a{
    display: block;
    padding:10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
footer .fa-hover a:hover {
    background-color:#eee;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
footer .fa-hover a:hover i {
    color: #1F4258;
}
footer p {
    text-transform: capitalize;
    font: 12px "roboto_ltregular",sans-serif;
    color: #ffffff;
}
.center-nav {
    font-size: 11px;
    height: 30px;
    margin: 10px 0 0;
    text-align: center;
}
header.navbar {
    margin-bottom: 0;
}
header .navbar-toggle {
    margin-left: 0;
}
header > a {
     padding-top: 15px;
 }
.navbar-toggle {
    color: #808080;
    font-size: 28px;
}
.fa:hover,.navbar-toggle:hover,
.glyphicon-shopping-cart:hover {
    color: #1F4258;
}
header .navbar-toggle {
    margin-top: 0;
}

/*//////////////////////////////////////////////////////////   end Home Page  */

/*/////////////////////////////////////////////////////  start Category page  */

.cat-top {
    height: 105px;
    border-bottom: 1px solid #DBDBDB;
    margin: 0 40px 55px;
}
.cat-top > button, .cat-top ol {
    float: left;
}
.cat-top .fa-navicon:before {
    font-size: 40px;
}
.cat-top .btn {
    padding: 11px 15px;
    margin-top: 21px;
}
.cat-top button.fa:hover {
    color: #ffffff;
}
.breadcrumb {
    margin: 31px 0 0 14px;
    text-transform: uppercase;
    background-color: inherit;
}
.breadcrumb a {
    font: 21px "roboto_ltregular",sans-serif;
    color: #1f4258;
}
.breadcrumb > li:after {
    font-size: 21px;
}
.cat-top .filters {
    float: right;
    margin: 43px 10px 0 0;
}
.cat-top .filters span {
    float: right;
    color: #b6b6b6;
    font: 21px "roboto_ltregular",sans-serif;
    text-transform: uppercase;
    margin-left: 62px;
}
.cat-top .filters span i {
    display: block;
    float: left;
    font-size: 32px;
    margin-right: 18px;
}
.cat-top .filters span:hover,
.cat-top .filters span.active {
    color: #1F4258;
    cursor: pointer;
}
.filter a {
    color: #1f4258;
    font: 18px "roboto_ltregular",sans-serif;
    margin-right: 30px;
}
.filter a:hover {
    text-decoration: underline !important;
}
.filter > div {
    border-bottom: 1px solid #dbdbdb;
    display: none;
    height: 70px;
    margin: -40px 40px 55px;
}
.filter-search form span {
    background-color: #242424;
    color: #fff;
    float: left;
    font-size: 1.9em;
    height: 52px;
    margin-left: -60px;
    margin-top: -1px;
    padding: 12px 0 0 16px;
    width: 60px;
}

.filter-sort {
    padding-top: 15px;
}
.filter-search .form-control {
    border-radius: 0;
    font-size: 1.1em;
    height: 52px;
    width: 100%;
    float: left;
    font: 16px "roboto_ltregular",sans-serif;
    padding-left: 20px;
}
.filter > div.active {
    display: block;
}
.sidebar-offcanvas {
    background-color: #1f4258;
    padding: 43px 50px 50px;
    width: 340px;
}
.row-offcanvas-left.active {
    left: 340px;
}
.row-offcanvas-left .sidebar-offcanvas {
    left: -340px;
}
.sidebar-offcanvas h6 {
    color: #ffffff;
    font: 18px 'robotobold',sans-serif;
    text-transform: uppercase;
    float: left;
    margin: 0;
}
.sidebar-offcanvas ul.active {
    display:block;
}
.sidebar-offcanvas h6 + span {
    cursor: pointer;
}
.sidebar-offcanvas ul.active {
    display:none;
}
.sidebar-offcanvas > span,
 .sidebar-offcanvas h6 + span{
    color: #ffffff;
    font: 16px "roboto_ltregular",sans-serif;
    float: right;
    margin-top: 3px;
}
.sidebar-offcanvas hr {
    background-color: #ffffff;
    border: 0 none;
    color: #ffffff;
    height: 2px;
    margin: 0 0 12px;
}
div > .sidebar-offcanvas ul {
    padding-left: 22px;
    list-style-type: none;
    margin-bottom: 20px;
}
.sidebar-offcanvas li a,
.sidebar-offcanvas li label {
    color: #ffffff;
    font: 16px/16px "roboto_ltregular",sans-serif;
    padding: 0;
}
.sidebar-offcanvas li label input {
    display: none;
}
.sidebar-offcanvas li a span {
    font-size: 12px;
}
.sidebar-offcanvas li a:hover,
.sidebar-offcanvas li label:hover {
    text-decoration: underline !important;
}
.cat .thumbnail {
    position: relative;
}
.cat .thumbnail:hover span {
    opacity:1;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s ease;/* Firefox 4-15 */
    -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
    transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.cat .thumbnail > span {
    position: absolute;
    z-index: 10;
    bottom: 1px;
    margin: 0 -4px 0px;
    width: 100%;
    opacity: 0;
    background: rgba(255,255,255,0.9);
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s ease;/* Firefox 4-15 */
    -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
    transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.cat .thumbnail h4,
.cat .thumbnail h5 {
    color: #1f4258;
    margin: 0 0 2px 0;
}
.cat .thumbnail h4 {
    font: 18px 'robotobold',sans-serif;
}
.cat .thumbnail h5 {
    font: 17px "roboto_ltregular",sans-serif;
}
.cat .thumbnail > span .glyphicon {
    color: #808080;
    font-size: 30px;
}



/*//////////////////////////////////////////////////////// end Category page  */

/*/////////////////////////////////////////////////////////// start PDP page  */

.pdp h2 {
    font: 36px "roboto_ltregular",sans-serif;
    color: #484848;
    padding: 0;
}
.pdp .price {
    color: #1f4258;
    font: 36px 'robotoregular',sans-serif;
    margin-top: 19px
}
.pdp .btn-soc {
    margin-top: 7px;
}
.pdp-qty {
    width: 155px;
    margin: 37px 0 22px;
}
.pdp-qty input {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
}
.pdp-desc h6 {
	color: #484848;
    font: 24px 'robotoregular',sans-serif;
	border-bottom: 1px solid #484848;
	padding: 10px 0;
}
.pdp-desc h6:hover {
	cursor:pointer;
}
.pdp-desc h6 span {
  float: right;
  margin-top:5px;
}
.pdp-desc p {
  color: #484848;
  font: 14px 'robotoregular',sans-serif;
}
.pdp-option {
    margin: 0 -30px;
}
.pdp-option .form-group label {
    font: 18px "robotoregular",sans-serif;
    text-transform: capitalize;
}
.pdp-option .form-control {
    border: 1px solid #ccc !important;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.pdp-btn-cart {
    margin-top: 10px;
}
.pdp-slider {
    margin: 30px 0 0;
    padding: 20px;
}
.pdp-slider .big {
    border: 1px solid #ccc;
}
.pdp-slider .big img {
    width: 100%;
}
.pdp-slider .small {
    width: 70px;
	height: 70px;
	border: 1px solid #ccc;
	margin: 20px 20px 0 0;
	float: left;
}
.pdp-slider .small img {
    height: 100%;
}
.pdp-slider .small.active {
    border: 1px solid #828282;
}
.pdp-slider .small img:hover {
    cursor: pointer;
}
.rating {
    border-top: 1px solid #E2E2E2;
    margin-top: 36px;
    padding: 15px 0;
    -webkit-box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    -moz-box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    width: 100%;
}
.rating h5 {
    font: 18px 'MavenProRegular', sans-serif;
    color: #000000;
    text-transform: capitalize;
}
.rating > .left-block form {
    float: left;
    width: 100px;
    margin: 9px 0 12px;
}
.rating > .left-block > p {
    color: #888888;
    font: 14px 'MavenProRegular', sans-serif;
    float: left;
    margin: 12px 0 0
}
.rating > .left-block {
    left: 55px;
    position: absolute;
    width: 210px;
}
.rating > .right-block {
    float: left;
    margin-right: 55px;
    padding: 0 55px 0 300px;
    width: 100%;
}
.rating .review-sort {
    background-color: #1f4258;
    float: right;
    height: 50px;
    margin: 6px 0 20px;
    width: 300px;
}
.rating > .right-block > div > a {
    background-color: #FAAF40;
    color: #ffffff;
    display: block;
    font: 14px 'MavenProRegular', sans-serif;
    height: 36px;
    margin: 15px 0;
    padding-top: 9px;
    text-align: center;
    text-transform: capitalize;
    width: 107px;
    float: right;
}
.rating > .right-block .col-md-12 {
    padding: 0;
}
.rating > .right-block form {
    margin: 8px 0 21px;
}
.progressbar table tr td:first-child {
    color: #0066c0;
    font: 14px 'MavenProRegular', sans-serif;
}
.progressbar table tr td {
    vertical-align: middle;
}
.progressbar table tr td:last-child {
    color: #888888;
    font: 14px 'MavenProRegular', sans-serif;
}
.progressbar table tr td:nth-child(2) progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d8d8d8;
    width: 133px;
    height: 18px;
    color: #FAAF40;
}
.progressbar table tr td:nth-child(2) {
    padding: 0 7px;
}
progress[value]::-webkit-progress-bar {
    background-color: #f1f1f1;
    border: 1px solid #E5E5E5;
}
progress::-webkit-progress-bar {
    background-color: #FAAF40;
}
progress::-webkit-progress-value {
    background-color: #FAAF40;
}
progress::-moz-progress-bar {
    background-color: #FAAF40;
}
.review-sort .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid;
    color: #ffffff;
    display: inline-block;
    height: 10px;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.review-sort .navbar-nav > li > .dropdown-menu {
    margin-right: 55px;
}
.review-sort .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.review-sort .dropdown-menu > li > a {
    padding: 7px 20px;
}
.review-sort > ul > li > a {
    display: block;
    margin: 6px 20px 0 0;
    padding: 0 0 15px;
}
.review-sort ul > li > a p {
    display: inline-block;
    margin: 3px 3px 0 0;
    font: 18px 'robotobold', sans-serif;
    color: #ffffff;
}
.review-sort ul > li > a p span {
    font: 18px 'robotoregular', sans-serif;
}
.review-sort .dropdown-menu > li > a {
    color: #29292c;
    width: 200px;
    font: 18px 'robotoregular', sans-serif;
}
.reviews {
    -webkit-box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    -moz-box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    box-shadow: 0 37px 27px -35px #e4e4e4 inset;
    border-top: 1px solid #E2E2E2;
    padding: 26px 55px;
    margin-bottom: 1px;
    width: 100%;
    position: relative;
}
.reviews:before {
    content: "";
    border-top: 1px solid #ffffff;
    content: " ";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0px;
    right: 0px;
}
.reviews form {
    margin-bottom: 13px;
}
.reviews .right-block h5,
.reviews .left-block h6 {
    font: 18px/18px 'robotobold', sans-serif;
    color: #29292c;
}
.reviews .left-block h6 {
    margin-bottom: 10px;
}
.reviews .right-block p,
.reviews .left-block p {
    font: 14px 'robotoregular', sans-serif;
    color: #29292c;
}
.reviews .right-block > span {
    font: 14px 'robotoregular', sans-serif;
    color: #868686;
    margin: 2px 0 10px;
    display: block;
}
.reviews .left-block p span {
    font: 14px 'robotobold', sans-serif;
}
.reviews .left-block {
    border-right: 1px solid #E2E2E2;
    width: 229px;
    position: absolute;
    left: 55px;
    min-height: 75px;
}
.reviews .right-block {
    width: 100%;
    float: left;
    padding: 0 55px 0 267px;
}
.tab-review-sort {
    display: none;
}
.rating .right-block form .col-md-12 {
    margin-top: 13px;
}
.rating .right-block form .col-md-12 .form-control {
    background-color: #efefef;
    background-image: none;
    border: 1px solid #9c9c9d;
}

.rating-loading {
    background: url("../img/loading.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    font-size: 0;
    height: 25px;
    width: 25px;
}
.rating-gly {
    font-family: "Glyphicons Halflings";
}
.rating-gly-star {
    font-family: "Glyphicons Halflings";
    padding-left: 2px;
}
.rating-gly-star .rating-stars:before {
    padding-left: 2px;
}
.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
    padding-left: 4px;
}
.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
    padding-left: 2px;
}
.rating-active {
    cursor: default;
}
.rating-disabled {
    cursor: not-allowed;
}
.rating-uni {
    font-size: 1.2em;
    margin-top: -5px;
}
.rating-container {
    color: #e3e3e3;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.rating-container:before {
    content: attr(data-content);
}
.rating-container .rating-stars {
    color: #FAAF40;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-out 0s;
    white-space: nowrap;
}
.rating-container .rating-stars:before {
    content: attr(data-content);
}
.rating-container-rtl {
    color: #fde16d;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.rating-container-rtl:before {
    content: attr(data-content);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.rating-container-rtl .rating-stars {
    color: #e3e3e3;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-out 0s;
    white-space: nowrap;
}
.rating-container-rtl .rating-stars:before {
    content: attr(data-content);
}
.rating-xl {
    font-size: 4.89em;
}
.rating-lg {
    font-size: 3.91em;
}
.rating-md {
    font-size: 3.13em;
}
.rating-sm {
    font-size: 2.5em;
}
.rating-xs {
    font-size: 2em;
}
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    font-size: 60%;
    vertical-align: middle;
}
.clear-rating-active {
    cursor: pointer !important;
}
.clear-rating-active:hover {
    color: #843534;
}
.star-rating .clear-rating {
    padding-right: 5px;
}
.star-rating .caption, .star-rating-rtl .caption {
    color: #999;
    display: inline-block;
    font-size: 55%;
    vertical-align: middle;
}
.star-rating .caption {
    padding-left: 5px;
}
.star-rating-rtl .caption {
    padding-right: 5px;
}

/*///////////////////////////////////////////////////////////// end PDP page  */

/*////////////////////////////////////////////////// start responsive design  */

@media (max-width: 410px) {
    header .col-xs-2, header .col-xs-3,
    header .col-xs-6, header .col-xs-offset-1 {
        width: auto;
        margin:0;
        padding:0;
    }
    header .col-xs-6{
        left: 50%;
        margin-left: -85px;
        margin-top: 10px;
        position: absolute;
    }
    header .col-xs-6 img {
        width: 148px;
    }
    .h-slider-switch .btn-custom {
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        width: 100%;
    }
    .h-slider-switch {
        height: 132px;
        margin: 5% auto;
        padding: 0 26px;
        width: 100%;
    }
    .h-container .col-xs-6,
    .cat .col-xs-6 {
        width:100%;
    }
}
@media (max-width: 767px) {
    .carousel-indicators {
        bottom: 2px;
        left: 50%;
    }
    .h-nav {
        left: 0;
        margin-left: 0;
        position: relative;
    }
    
    .h-slider-switch {
        height: 56px;
        margin: 20px 0 10px;
        padding: 0;
        width: 300px;
    }
    .h-slider-switch .btn-custom {
        font-size: 15px;
        padding: 10px 0;
        width: 100px;
    }
     footer {
        padding-top: 15px;
    }
    footer .nav > li > a {
        padding: 3px 15px;
        font-size: 14px;
    }
    footer > div:nth-child(2) {
        padding-top: 81px;
    }
    footer .fa {
        font-size: 22px;
    }
    header .cart {
        margin: 10px 0 0 0;
    }
    header .navbar-toggle {
        margin-bottom: 0;
    }
    header > a {
        padding-top: 8px;
    }
    .h-carousel > div:last-child,
    .h-carousel > div:nth-child(5),
    .h-carousel > div:nth-child(4),
    .h-carousel > div:nth-child(3) {
        display: none;
    }
    .carousel-indicators {
        bottom: 0;
        margin-bottom: 0;
    }
    .carousel-indicators li,
    .carousel-indicators .active{
        height: 15px;
        width: 15px;
    }
}
@media (min-width: 768px ) and (max-width: 991px) {
    .carousel-indicators {
        bottom: 2px;
        left: 50%;
    }
    .h-carousel > div:last-child,
    .h-carousel > div:nth-child(5),
    .h-carousel > div:nth-child(4){
        display: none;
    }
}
@media (max-width: 991px) {
    .navbar-toggle {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        float: left;
        margin-top: 0 0 8px 15px;
        padding: 7px 10px;
        position: relative;
    }
    .h-container {
        padding: 0 25px;
    }
    
    .h-bottom h4, .h-bottom a {
        font-size: 24px;
        line-height: 32px;
    }
    .h-bottom p {
        font-size: 16px;
        line-height: 20px;
    }
    .h-bottom a {
        height: 57px;
        width: 220px;
        display: inline-block;
        line-height: 1;
    }
    .h-bottom {
        height: auto;
        padding: 30px 5px 0;
    }
}
@media (min-width: 768px) {
    .h-nav {
        position: relative;
        overflow:hidden;
    }
    .h-nav ul {
        position: relative;
        left:50%;
        float:left;
    }
    .h-nav ul li {
        position:relative;
        left:-50%;
        float:left;
    }
    .navbar-collapse.collapse {
        overflow: hidden !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .shop {
        font-size: 34px;
        bottom: 3%;
        width: 250px;
        margin-left: -125px;
    }
    .h-bottom h4, .h-bottom a {
        font-size: 30px;
    }
    .h-bottom p {
        font-size: 20px;
    }
    .h-bottom a {
        padding: 6px 15px;
        width: 280px;
    }
    .h-carousel > div:last-child,
    .h-carousel > div:nth-child(5) {
        display: none;
    }
}
@media (min-width: 1200px) {

}



/*//////////////////////////////////////////////////// end responsive design  */



/*///////////////////////////////////////////////////// start social buttons  */

.btn-soc .btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-right: 3px;
}
.btn-social-icon {
    height: 23px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 23px;
}
.btn-social-icon > *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    font-size: 1.3em;
    left: 0;
    line-height: 23px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 23px;
}
.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}
.btn-google-plus {
    background-color: #dd4b39;
    color: #fff;
}
.btn-microsoft {
    background-color: #2672ec;
    color: #fff;
}
.btn-pinterest {
    background-color: #cb2027;
    color: #fff;
}
.btn-twitter {
    background-color: #55acee;
    color: #fff;
}
.btn-yahoo {
    background-color: #720e9e;
    color: #fff;
}


/*////////////////////////////////////////////////////// end social buttons  */

